/* developed by syam kumar voleti */

@charset "utf-8";
html {
	margin:0;
	padding:0;
}
#top_links {
	max-width:1024px;
	margin:0 auto;
}


@font-face {
	font-family: "Myriad_Pro_Condensed";
	src: url(http://beta.people10.com/sites/all/themes/people10/fonts/Myriad_Pro_Condensed.eot) format("embedded-opentype");
}
@font-face {
	font-family: "Myriad_Pro_Condensed";
	src: url(http://beta.people10.com/sites/all/themes/people10/fonts/Myriad_Pro_Condensed.ttf) format("truetype");
}
@font-face {
	font-family: "Myriad_Cn_Bold";
	src: url(http://beta.people10.com/sites/all/themes/people10/fonts/Myriad_Cn_Bold.eot) format("embedded-opentype");
}
@font-face {
	font-family: "Myriad_Cn_Bold";
	src: url(http://beta.people10.com/sites/all/themes/people10/fonts/Myriad_Cn_Bold.ttf) format("truetype");
}
@font-face {
	font-family: "Myriad_Condensed_Web";
	src: url(http://beta.people10.com/sites/all/themes/people10/fonts/Myriad_Condensed_Web.eot) format("embedded-opentype");
}
@font-face {
	font-family: "Myriad_Condensed_Web";
	src: url(http://beta.people10.com/sites/all/themes/people10/fonts/Myriad_Condensed_Web.ttf) format("truetype");
}
@font-face {
	font-family: "Myriad_Web";
	src: url(http://beta.people10.com/sites/all/themes/people10/fonts/Myriad_Web.eot) format("embedded-opentype");
}
@font-face {
	font-family: "Myriad_Web";
	src: url(http://beta.people10.com/sites/all/themes/people10/fonts/Myriad_Web.ttf) format("truetype");
}
@font-face {
	font-family: "Myriadpro_Regular";
	src: url(http://beta.people10.com/sites/all/themes/people10/fonts/Myriadpro_Regular.eot) format("embedded-opentype");
}
@font-face {
	font-family: "Myriadpro_Regular";
	src: url(http://beta.people10.com/sites/all/themes/people10/fonts/Myriadpro_Regular.ttf) format("truetype");
}
@font-face {
	font-family: "Myriad_Pro_Light_Condensed";
	src: url(http://beta.people10.com/sites/all/themes/people10/fonts/Myriad_Condensed.eot) format("embedded-opentype");
}
@font-face {
	font-family: "Myriad_Pro_Light_Condensed";
	src: url(http://beta.people10.com/sites/all/themes/people10/fonts/Myriad_Pro_Light_Condensed.ttf) format("truetype");
}
@font-face {
	font-family: "Myriad_Pro_Light";
	src: url(http://beta.people10.com/sites/all/themes/people10/fonts/Myriad_Pro_Light.eot) format("embedded-opentype");
}
@font-face {
	font-family: "Myriad_Pro_Light";
	src: url(http://beta.people10.com/sites/all/themes/people10/fonts/Myriad_Pro_Light.ttf) format("truetype");
}
@font-face {
	font-family: "Myriad_Pro_Regular";
	src: url(http://beta.people10.com/sites/all/themes/people10/fonts/Myriad_Pro_Regular.eot) format("embedded-opentype");
}
@font-face {
	font-family: "Myriad_Pro_Regular";
	src: url(http://beta.people10.com/sites/all/themes/people10/fonts/Myriad_Pro_Regular.ttf) format("truetype");
}
/*body{margin:0;padding:0;font-family:Arial, Helvetica, sans-serif;font-size:100%;color:#333;width:100%;}*/
body {
	margin: 0;
	padding: 0;
	font-family: "Myriad_Web", "Sans-Serif";
	font-size: 17px;
	color: #333;
	width: 100%;
	min-width: 100%;
	background: #ECF0F1;
}
body#tinymce {
	background:#fff;
}
tbody {
	border:0;
}
a {
	color:#2980B9;
	text-decoration:none;
}
a:hover {
	color:#2980B9;
	text-decoration:none;
}
h2 {
	color:#003466;
	text-shadow:0 1px white;
	font-size:1.4em;
}
h2.nobg {
	color:#0D5A88;
	font-size:1.5em;
	font-weight:normal;
}
/*
 note: remove once you confirm its not utilised
h1 {
	background:none repeat scroll 0 0 #009ACC;
	border-top:5px solid #007AA9;
	padding:7px 15px 15px;
	text-shadow:0 1px black;
	font-size:2.8em;
	color:#fff;
	margin:10px 0;
}*/
h1.white-paper-title {
	font-size:2.8em;
	color:#009ACC;
	margin:10px 0;
	background-color:#FFF;
	text-shadow:none;
	border-top:none;
}
h1.header_nobg {
	background:none;
	border:0;
	font-size:1.4em;
	color:#000;
	padding:0;
	color:#007AA9;
	text-shadow:none;
}
h4 {
	color: #2980B9;
	font-size: 20px;
	margin: 0;
	font-family: "Myriad_Pro_Condensed", "Arial Narrow", "arial", "helvetica", "Sans-Serif";
	font-weight: normal;
}
h5 {
	font-size:1.1em;
	margin:0;
}
.node ul {
	padding:0;
}
.node ul li {
	padding:0 0 0 15px;
}
.node ul li {
	list-style:none;
	list-style-image:none;
	background:url(images/bullet_list.png) no-repeat 0 5px;
}
#main_container {
	width:100%;
	margin:0 auto;
	background:#ECF0F1;
	padding:0px 0px;
	font-size:0.75em;
	min-width:1024px;
}
#container {
	width:1024px;
	margin:0px auto 0 auto;
}
#top_links {
	width:1024px;
	margin:0 auto;
	padding-top:5px;
	padding-bottom:5px;/*background:url(images/header-bg.jpg) no-repeat 220px top;*/
}
#top_left {
	width:20%;
	float:left;
	padding:3px 0;
}
#top_right {
	width:40%;
	float:right;
	color:#007AA9;
	font-size:1em;
	font-weight:bold;
	padding:15px 0 0 0;
	font-size:1.3em;
	padding-top: 26px;
}
#top_right table tr td {
	padding:0 0 2px 5px;
}
#top_right label {
	display:none;
}
.qc {
	font-size:1.1em;
}
.qc table tr td a {
	color:#007AA9;
}
.qc table tr td a:hover {
	color:#007AA9;
	border-bottom:solid 1px #009bcb;
}
.social_networking_icons {
	width:50%;
	float:right;
	text-align:right;
}
.sep {
	color:#C3C3C3;
}
#header {
	background : #2C3E50;
	height: 62px;
}
#head_container {
	width:1024px;
	margin:0 auto;
}
/*#showcase {
background-color: #E6EAEB;
border-bottom: solid 1px #00ADEF;
}
*/
#content_left {
	width: 72%;
	float:left;
	font-family:"Myriad_Web", "Sans-Serif";
}
#secondright {
	width: 190px;
	float: right;
	margin-top: 0px;
}
#separator {
	background-color: #E6EAEB;
	height: 33px;
	line-height: 30px;
	padding-left: 1px;
}
/*#strongly{
border: 1px solid #E8E8E8;}*/
.block-search input[type="submit"] {
	display:none;
}
.block-search {
	float:right;
}
.block-search label {
	display:none;
}
.block-search .form-item {
	margin:0;
}
/*.block-search .form-item input.form-text{min-width:200px;min-height:20px;padding:5px 35px 5px 5px;border-radius:5px;border:0;margin:8px 0 0 0;background:url(images/search_icon.jpg) no-repeat right center #FAFAFA;border:1px solid #CFCFCF;border-radius:4px;color:#333333;}*/
/*.block-search .form-item input.form-text{padding:5px 35px 5px 5px;margin: 8px 0 0 0;background: url(/sites/all/themes/people10/images/search18px.png) no-repeat right center #FAFAFA;border: 1px solid #CFCFCF;border-radius: 4px;color: #333333;margin-top: 13px;height: 13px; width:250px;background-position: 268px; text-align:justify;}*/
.block-search .form-item input.form-text {
	padding: 5px 35px 5px 5px;
	margin: 8px 0 0 0;
	background: url(/sites/all/themes/people10/images/search18px.png) no-repeat right center #FAFAFA;
	border: 1px solid #CFCFCF;
	border-radius: 4px;
	color: #333333;
	margin-top: 13px;
	height: 13px;
	width: 130px;
	background-position: 149px;
	text-align: justify;
}
.block-search .form-item input {
	padding:0;
}
#block-views-animation-block_1 {
	margin:0 auto;
	width:900px;
}
#animation {
	background: #FFF;
	overflow: hidden;
	width: 1024px;
	margin: 0 auto;
}
/*.block-om_maximenu{color:#fff;border-left:1px solid #007AA9;height:41px;font-size:13em;font-weight:bold;float:left;padding:7px 0 0 0;margin:2px 0 0 0;display:block;}
 --- this is old menu links css*/
/*
// old block styles .. revert if new not working 
 .block-om_maximenu{color:#fff;border-left:1px solid #007AA9;height:41px;font-size:12px;font-weight:bold;float:left;padding:7px 0 0 0;margin:2px 0 0 0;display:block;}
.block-om_maximenu:hover{background:#fff;margin:2px 0 0 0;height:auto;border-top:solid 1px #09f;border-top-left-radius:5px;border-top-right-radius:5px;padding:7px 0 0 0;color:#009acc;display:block;}
*/
/* new block style with myriyad font */
/* .block-om_maximenu{color:#fff;border-left:1px solid #007AA9;height:60px;font-size:17px;font-weight:bold;float:left;padding:7px 0 0 0;margin:2px 0 0 0;display:block; width:143px;font-family: "myriad-pro-condensed-1","myriad-pro-condensed-2","Arial Narrow","arial","helvetica","Sans-Serif";  }*/
 .block-om_maximenu {
	color: #fff;
	border-left: 1px solid rgb(81, 102, 122);
	height: 55px;
	font-size: 32px;
	float: left;
	padding: 7px 0 0 0;
	display: block;
	width: 145px;
	font-family: "Myriad_Pro_Light_Condensed", "Arial Narrow", "arial", "helvetica", "Sans-Serif";
	font-weight:normal;
}
.block-om_maximenu:hover {
	background:#fff;
	margin:1px 0 0 0;
	height:54px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	padding:7px 0 0 0;
	color: #2C3E50;
	display:block;
	width:145px;
	font-family: "Myriad_Pro_Light_Condensed", "Arial Narrow", "arial", "helvetica", "Sans-Serif";
	font-weight:normal;
}
.block-om_maximenu li a.om-link, .block-om_maximenu li span.om-link {
	text-transform:uppercase;
	width:110px;
}
.block-om_maximenu h3 {
	color:#999;
	display:none;
}
.block-om_maximenu .block-block h3 {
	display:block;
	color:#007AA9;
	font-size:0.9em;
	margin:0;
	font-weight:normal;
}
.block-om_maximenu .block-block h3 a {
	font-size:0.9em;
}
.om-maximenu .block-menu {
	float:left;
}
.om-maximenu .block-menu ul {
	padding:0;
	margin:0;
}
.om-maximenu-no-style .om-maximenu-content {
	left:-1px;
	top:41px;
	z-index:1000;
}
/*.om-maximenu-no-style .om-maximenu-middle{background:url(images/mega_menu_bg.jpg) repeat-x left bottom #fff;border-left:solid 1px #007aa9;border-right:solid 1px #007aa9;border-bottom:solid 1px #007aa9;}*/
.om-maximenu-no-style .om-maximenu-middle {
	border-left:solid 1px rgb(243, 243, 243);
	border-right:solid 1px rgb(243, 243, 243);
	border-bottom:solid 1px rgb(243, 243, 243);
}
.om-maximenu-middle-right .block-menu {
	display:inline;/*width:170px;*/
}
.leaf-what-we-do .om-maximenu-middle-right .block-menu {
	display:inline;
	width:200px;
}
.om-maximenu ul.om-menu li.om-leaf {
	width:145px;
} /* old one  ---- height:41px;*/
.om-maximenu ul.om-menu li.om-leaf:hover {
	color:#2C3E50;
}
.om-maximenu ul.om-menu li.om-leaf a {
	color:inherit;
}
.om-maximenu ul.om-menu li.om-leaf a:hover {
	color:inherit;
}
.om-maximenu-middle-right .block-menu ul.menu li.expanded a.active, .om-maximenu-middle-right .block-menu ul.menu li.expanded a.active:hover {
	color:#1ABC9C;
}
.om-maximenu-middle-right .block-menu ul.menu li.expanded {
	list-style-image:none;
	color:#003466;
	list-style:none;
	font-size:1em;
}
.om-maximenu-middle-right .block-menu ul.menu li.expanded a {
	color: #007aa9;
	font-weight: normal;
	font-family: "Myriad_Pro_Condensed", "Arial Narrow", "arial", "helvetica", "Sans-Serif";
	font-weight: normal;
	font-size: 17px;
}
.om-maximenu-middle-right .block-menu ul.menu li.expanded ul {
	padding:0;
	margin:7px 0 0 0;
	font-size:12px;
}
.om-maximenu-middle-right .block-menu-id-menu-who-we-are first ul.menu li.expanded ul {
	padding:0;
	margin:7px 0 0 0;
	font-size:12px;
}
.om-maximenu-middle-right .block-menu ul.menu li.expanded ul li {
	list-style:none;
	list-style-image:none;
	padding:0 0 3px 0;
	margin:0;
	font-weight:normal;
}
.om-maximenu-middle-right .block-menu ul.menu li.expanded ul li a {
	color: #2C3E50;
	font-weight: normal;
	font-family: "Myriad_Pro_Condensed", "Arial Narrow", "arial", "helvetica", "Sans-Serif";
	font-weight: normal;
	font-size: 17px;
	text-transform:uppercase;
}
.om-maximenu-middle-right .block-menu ul.menu li.expanded ul li a:hover {
	border-bottom:solid 1px #1ABC9C;
}
.om-maximenu-middle-right .block-menu ul.menu li.expanded span.nolink {
	display:none;
}
.om-maximenu-middle-right .block-menu ul.menu li.expanded ul li span.nolink {
	display:inline;
	font-weight:bold;
}
.om-maximenu-middle-right .block-menu ul.menu li.expanded ul li.expanded a {
	font-size:1em;
	color:#003466;
	font-weight:bold;
}
.om-maximenu-middle-right .block-menu ul.menu li.expanded ul li.expanded ul li a {
	color:#007aa9;
	color: #007aa9;
	font-weight: normal;
	font-size: 17px;
	font-family: "Myriad_Pro_Condensed", "Arial Narrow", "arial", "helvetica", "Sans-Serif";
	font-weight: normal;
}
li.leaf-what-we-do div.om-maximenu-content {
	width:1023px;
}
li.leaf-how-we-do div.om-maximenu-content {
	width:1023px;
	width: 1023px;
	margin-left: -119px;
}
li.leaf-who-we-are div.om-maximenu-content {
	width: 1023px;
	margin-left: -236px;
}
li.leaf-resources div.om-maximenu-content {
	width: 1023px;
	margin-left: -356px;
}
li.leaf-web div.om-maximenu-content {
	width: 1024px;
	margin-top:13px;
	font-family: Arial, Helvetica, sans-serif;
}
/* note :  id's will be different in diffferent sites. need to check out for maximenu block ids to place this backgroun hover images. */ 
#block-om_maximenu-om-maximenu-15 {
	background-image: url(/sites/all/themes/people10/images/web48whitepx.png);
	background-repeat: no-repeat;
	background-position: 110px 7px;
	background-size: 26px;
}
#block-om_maximenu-om-maximenu-15:hover {
	background-image: url(/sites/all/themes/people10/images/web48px.png);
}
#block-om_maximenu-om-maximenu-13 {
	background-image: url(/sites/all/themes/people10/images/mobile48whitepx.png);
	background-repeat: no-repeat;
	background-position: 110px 7px;
	background-size: 26px;
}
#block-om_maximenu-om-maximenu-13:hover {
	background-image: url(/sites/all/themes/people10/images/mobile48px.png);
}
#block-om_maximenu-om-maximenu-12 {
	background-image: url(/sites/all/themes/people10/images/cloud48whitepx.png);
	background-repeat: no-repeat;
	background-position: 110px 7px;
	background-size: 26px;
}
#block-om_maximenu-om-maximenu-12:hover {
	background-image: url(/sites/all/themes/people10/images/cloud48px.png);
}
#block-om_maximenu-om-maximenu-14 {
	background-image: url(/sites/all/themes/people10/images/data48whitepx.png);
	background-repeat: no-repeat;
	background-position: 110px 7px;
	background-size: 26px;
}
#block-om_maximenu-om-maximenu-14:hover {
	background-image: url(/sites/all/themes/people10/images/data48px.png);
}
#block-om_maximenu-om-maximenu-16 {
	background-image: url(/sites/all/themes/people10/images/agile48whitepx.png);
	background-repeat: no-repeat;
	background-position: 110px 7px;
	background-size: 26px;
}
#block-om_maximenu-om-maximenu-16:hover {
	background-image: url(/sites/all/themes/people10/images/agile48px.png);
}
li.leaf-mobile div.om-maximenu-content {
	width: 1024px;
	margin-left: -146px;
	margin-top:13px;
	font-family: Arial, Helvetica, sans-serif;
}
li.leaf-cloud div.om-maximenu-content {
	width: 1024px;
	margin-left:-292px;
	margin-top:13px;
	font-family: Arial, Helvetica, sans-serif;
}
li.leaf-data div.om-maximenu-content {
	width: 1024px;
	margin-left: /*-340px*/ -438px;
	margin-top:13px;
	font-family: Arial, Helvetica, sans-serif;
}
li.leaf-agile div.om-maximenu-content {
	width: 1024px;
	margin-left: /*-769px*/ -584px;
	margin-top:13px;
	font-family: Arial, Helvetica, sans-serif;
}
li.leaf-approach {
	font-size:22px;
}
li.leaf-approach div.om-maximenu-content {
	width: 245px;
	font-size:12px;
	margin-top:13px;
	font-family: Arial, Helvetica, sans-serif;
}
li.leaf-company {
	font-size:22px;
}
li.leaf-company div.om-maximenu-content {
	width: 192px;
	margin-left: /*-769px*/ -47px;
	margin-top:13px;
	font-family: Arial, Helvetica, sans-serif;
}
#block-om_maximenu-om-maximenu-18 {
	border-right: 1px solid rgb(81, 102, 122);
}
.om-maximenu-middle-right .block-menu-id-menu-how-we-do-links ul.menu li.expanded ul li a {
	font-size: 17px;
	font-family: "Myriad_Pro_Condensed", "Arial Narrow", "arial", "helvetica", "Sans-Serif";
	font-weight: normal;
}
.om-maximenu-middle-right .block-menu-id-menu-who-we-are-links ul.menu li.expanded ul li a {
	font-size:12px;
}
.om-maximenu-middle-right .block-menu-id-menu-customers-links ul.menu li.expanded ul li a {
	color: #2C3E50;
	font-family: "Myriad_Pro_Condensed", "Arial Narrow", "arial", "helvetica", "Sans-Serif";
	font-weight: normal;
	font-size: 17px;
	text-transform:uppercase;
	margin-top:-20px;
}
.om-maximenu-middle-right .block-menu-id-menu-technologystack ul.menu li.expanded ul li a {
	color: #2C3E50;
	font-weight: normal;
	font-family: "Myriad_Pro_Condensed", "Arial Narrow", "arial", "helvetica", "Sans-Serif";
	font-weight: normal;
	font-size: 17px;
	text-transform:uppercase;
}
block-menu-id-menu-who-we-are /* this is menu download block */
 #main-container {
	width:970px;
	height:398px;
	padding-left:19px;
	font-family: Arial, Helvetica, sans-serif;
}
.block-menu-region {
	width: 192px;
	height: 205px;
	border-right: 1px solid #ccc;
	float: left;
}
.block-menu-region h2 {
	font-size: 22px;
	color: #2C3E50;
	margin-left: 10px;
	font-family: "Myriad_Pro_Condensed", "Arial Narrow", "arial", "helvetica", "Sans-Serif";
	font-weight: normal;
	text-transform: uppercase;
	margin-top:5px;
}
.block-menu-region p {
	font-weight: normal;
	margin-left: 10px;
	margin-right: 15px;
	color: #2C3E50;
	font-family: "Myriad_Pro_Condensed", "Arial Narrow", "arial", "helvetica", "Sans-Serif";
	font-size: 16px;
	margin-top: -10px;
}
#some_space {
	height:20px;
	width:1023px;
	background-color:#f2f2f2;
}
h6.block-set-title {
	font-size:20px;
	color:grey;
	margin:20px;
}
.menu-block-image {
	float: right;
	height: 90px;
	width: auto;
	margin-right: 54px;
	margin-top: -91px;
}
#block-set1 {
	width: 460px;
	height: auto;
	border-right: 1px solid #e9e9e9;
	float: left;
	margin-left: 20px;
}
#block-set1 .description, #block-set2 .description {
	margin-left:20px;
	color:grey;
	font-weight:normal;
}
#block-set1 .download, #block-set2 .download {
	margin-left:20px;
	color:firebrick;
	font-size:13px;
	font-weight:bold;
}
#block-set2 {
	width: 460px;
	height: auto;
	float: left;
	margin-left:20px;
}
#block5 {
	border-right:none;
}
.menu-block-download-title {
	color: #2C3E50;
	margin-left: 10px;
	font-size: 22px;
	font-family: "Myriad_Pro_Condensed", "Arial Narrow", "arial", "helvetica", "Sans-Serif";
	font-weight: normal;
}
a.menu-block-download-link {
	font-size: 18px;
	color: firebrick;
	font-family: "Myriad_Pro_Condensed", "Arial Narrow", "arial", "helvetica", "Sans-Serif";
	font-weight: normal;
}
.two-column-downnload-block {
	width: 1004px;
	display: inline-block;
	border-top: 1px solid #CCC;
	height: 50px;
}
/* menu download block end */

/*// new code by syam for menus
li.leaf-who-we-are div.om-maximenu-content{width:1023px;}
// end of new code by syam for menus*/

li.leaf-what-we-do div.om-maximenu-content img {
	position:absolute;
	top:0;
}
.om-maximenu .om-maximenu-content {
	min-width:170px;
}
/*#one_col{background:#003466 url(images/transparent-logo.png) no-repeat center;color:#fff;font-size:1.2em;}*/
.rethinkAgility {
	width:100%;
}
.rethinkAgility .box {
	max-width:1024px;
	margin:0px auto;
}
.rethinkAgility .head {
	width:280px;
	float:left;
	font-size:2.2em;
	color:#fff;
	padding-top:60px;
}
.rethinkAgility .content {
	width:440px;
	float:left;
	font-size:1.186em;
	color:#fff;
	margin:10px 0 0 30px;
	text-align:justify;
}
.rethinkAgility .image {
	float:right;
	padding:10px;
	margin:0 0 0 20px;
}
#two_col_1 {
	width:49%;
	float:left;
	margin-right:2%;
}
#two_col_2 {
	width:49%;
	float:left;
}
#two_columns {
	background:#ECF0F1;
}
#two_col_container {
	max-width:1024px;
	margin:0 auto;
	padding:0px 0 10px 0;
}
ul.quicktabs_tabs {
	margin:0 20px;
	padding:0;
	text-align:right;
}
ul.quicktabs_tabs li a {
	background:none repeat scroll 0 0 #DBDBDB;
	border:1px solid #C8C8C8;
	color:#003466;
	display:inline-block;
	height:38px;
	font-size:1.6em;
	line-height:38px;
	margin:0;
	text-align:center;
	text-shadow:0 1px white;
	width:90px;
	font-weight:bold;
}
ul.quicktabs_tabs li a:hover {
	background:#f6f6f6;
}
ul.quicktabs_tabs li.active a {
	background:none repeat scroll 0 0 #FFFFFF;
	border-bottom:1px solid #FFFFFF;
	color:#009BCB;
}
.quicktabs_main .content {
	background:none repeat scroll 0 0 #FFFFFF;
	border:1px solid #C8C8C8;
	padding:20px;
	height:240px;
	overflow:auto;
	margin-top:-1px;
}
.block-quicktabs h2 {
	display:inline;
	margin:0;
	position:relative;
	top:20px;
	left:20px;
}
.quicktabs_main ul {
	margin:0;
}
.quicktabs_main ul li {
	margin:0;
	padding:0;
}
.quicktabs_wrapper {
	position:relative;
	top:10px;
}
.block-quicktabs #quicktabs-events_tab ul.quicktabs_tabs li a.qt_tab {
	font-size:1em;
}
.block-quicktabs #quicktabs-webinars_quicktab ul.quicktabs_tabs li a.qt_tab {
	font-size:1em;
}
#quicktabs-webinars_quicktab ul li a {
	font-size:1.2em;
}
#quicktabs-webinars_quicktab .views-field-title a {
	font-size:1.2em;
	font-weight:bold;
	margin:0 0 10px 0;
}
#quicktabs-webinars_quicktab .views-field-field-news-date-value, #quicktabs-events_tab .views-field-field-location-value {
	font-weight:bold;
}
#quicktabs-webinars_quicktab .views-field-view-node {
	margin:0 0 20px 0;
}
.twitter_profile_widget .twtr-hd, .twitter_profile_widget .twtr-ft {
	display:none;
}
.twitter_profile_widget #twtr-widget-1 .twtr-doc {
	background-color:transparent!important;
	width:100%!important;
}
form#newsletter-subscribe label {
	display:none;
}
#news_error {
	padding-top: 10px;
	font-weight: bold;
	color: lightgray;
	font-family: "Myriad_Pro_Condensed", "Arial Narrow", "arial", "helvetica", "Sans-Serif";
	font-size: 16px;
	height: 25px;
}
.subscribe_error {
	border: solid 1px #f00;
}
/*form#newsletter-subscribe input[type="submit"]{background:url(images/subscribe.png) no-repeat 0 0;width:91px;height:34px;text-indent:-10000px;border:0;cursor:pointer;float:left;}*/
form#newsletter-subscribe input[type="button"] {
	background:url(images/subscribe.png) no-repeat 0 0;
	width:91px;
	height:34px;
	text-indent:-10000px;
	border:0;
	cursor:pointer;
	float:left;
}
form#newsletter-subscribe input[type="submit"] {
	text-align: center;
	text-decoration: none;
	border-right-width: 2px;
	border-right-color: #FFF;
	display: block;
	position: relative;
	font-family: "Myriad_Pro_Condensed", "Arial Narrow", "arial", "helvetica", "Sans-Serif";
	text-transform: uppercase;
	padding: 0 16px;
	background: lightgray;
	border-radius: 2px;
	font-weight: normal;
	margin-top: 0px;
	font-size: 15px;
	width: auto;
	height: 25px;
	border: 0;
	cursor: pointer;
	float: left;
	color: #2C3E50;
	margin-bottom: 5px;
}
form#newsletter-subscribe:hover input[type="submit"] {
	background: #2980B9;
	color:#fff;
}
.block-newsletter {
	margin: 17px 10px;
}
#edit-subscribe-email-wrapper {
	width:250px;
	float:left;
	margin-top:0px;
}
#edit-subscribe-email-wrapper input {
	border: solid 1px #CFCFCF;
	padding: 0 10px;
	border-radius: 4px;
	color: #333;
	height: 25px;
	width: 215px;
	font-family: "Myriad_Pro_Condensed", "Arial Narrow", "arial", "helvetica", "Sans-Serif";
	font-size: 18px;
	font-weight: normal;
	;
}
/*.views_slideshow_singleframe_slide .views-field-teaser {
	color:#353535;
	font-size:1.2em;
	font-style:italic;
	text-shadow:0 1px white;
	margin:0 0 10px 0;
}*/
.views_slideshow_singleframe_slide .views-field-teaser {
	color: #2C3E50;
	font-size: 14px;
	font-style: italic;
	margin: 10px 10px;
	width: 310px;
}
.subscribe-email-right-side-block {
	width: 167px;
	padding-top: 0px;
	padding: 5px;
	margin: 8px 0 0 0;
	border: 1px solid #ccc;
	border-radius: 4px;
	color: #333333;
	margin-top: 13px;
	height: 18px;
}
.views_slideshow_singleframe_slide .views-field-field-client-designation-value, .views_slideshow_singleframe_slide .views-field-field-client-company-value, .views-field-field-client-name-value {
	color:#003466;
	float:left;
}
/*.views_slideshow_singleframe_main span {
	color:#003466;
}*/

.views_slideshow_singleframe_main span {
color: #2C3E50;
font-weight: bold;
}
.quote1, .quote2 {
	background:url(images/quotes.png) no-repeat 0 0;
	width:34px;
	height:27px;
	position:relative;
}
.quote1 {
	background-position:0 0;
	left:0px;
	top:0px;
}
.quote2 {
	background-position:0 -28px;
	right:0px;
	top:-20px;
	float:right;
	width:34px;
}
.view-testimonials {
	position:relative;
}
.view-testimonials .view-content {
	font-size:1em!important;
}
.views_slideshow_singleframe_slide p {
	margin:0;
}
/*#block-views-testimonials-block_1 {
	border-bottom:1px solid #C8C8C8;
	padding-bottom:20px;
	height:300px;
	width:450px;
}   --- this is old one */
#block-views-testimonials-block_1 {
	padding-bottom:20px;
	width:320px;
}
.jcarousel-clip {
	overflow:hidden;
}
#three_col_1, #three_col_two_1 {
	width: 320px;
	float: left;
	margin: 0px 10px;
}
#three_col_2, #three_col_two_2 {
	width: 320px;
	float: left;
	margin: 0px 10px;
}
#three_col_3, #three_col_two_3 {
	width: 320px;
	float: left;
	margin: 0px 10px;
}
#three_col_1 .content {
}
#three_columns {
	/*background:#fff;*/
	width:1024px;
	margin:0 auto;
	padding-bottom: 10px;
}
#three_columns_two {
	max-width:1024px;
	margin:0 auto;
	background: #3498DB;
}
#three_col_1 .block .content {
	font-size:1.2em;
}
#three_columns img {
	margin:0px 10px 0 0;
}
#three_columns h2, #three_columns_two h2, #two_columns h2 {
	border-bottom: 1px solid #CCC;
	padding: 5px;
	color: #2980B9;
	text-shadow: none;
	font-size: 20px;
	margin-top: 15px;
	font-family: "Myriad_Pro_Condensed", "Arial Narrow", "arial", "helvetica", "Sans-Serif";
	text-transform: uppercase;
	font-weight: normal;
}
#three_columns p {
	margin:0;
}
#three_col_1 ul {
	padding:0;
}
#three_col_1 ul li {
	background:url(images/bullet_list.png) no-repeat 0 5px;
	list-style:none;
	list-style-image:none;
	padding:0 0 0 15px;
	margin:3px 0;
}
#leftright_left {
	width:23%;
	float:left;
}
#leftright_left h2 {
	display:block;
	border-bottom:1px solid #C2C2C2;
	border-top:5px solid #969696;
	color:#003466;
	background:none repeat scroll 0 0 #E0E0E0;
	padding:10px;
	text-shadow:0 1px white;
	font-size:1.4em;
	font-weight:bold;
}
#leftright_left table {
	background:url(images/mega_menu_bg.jpg) repeat-x left bottom;
	border:1px solid #D8D8D8;
}
#leftright_left table tr td {
	padding:10px;
}
#leftright_left .block p, #leftright_right .block p {
	margin:0;
}
#leftright_left .block, #leftright_right .block {
	margin:0px 0 20px 0;
}
#leftright_left li a.active {
	color:#f00;
}
#leftright_content {
	width:50%;
	float:left;
	border-left:#DEDEDE solid 1px;
	border-right:#DEDEDE solid 1px;
	padding:0 20px;
	margin:0 20px 20px 20px;
}
#leftright_right {
	width:18%;
	float:left;
}
#leftright_right table tr td p, #leftright_right table tr td h4 {
	padding-left:10px;
}
.block-menu_block h2 {
	display:block;
	border-bottom:1px solid #C2C2C2;
	border-top:5px solid #969696;
	color:#003466;
	background:none repeat scroll 0 0 #E0E0E0;
	padding:10px;
	text-shadow:0 1px white;
	font-size:1.4em;
	font-weight:bold;
}
.block-menu_block ul.menu {
	margin:0;
	padding:0;
}
.block-menu_block ul.menu li.expanded {
	list-style:none;
	list-style-image:none;
	padding:0;
	margin:0;
}
.block-menu_block ul.menu li.expanded span {
}
.block-menu_block ul.menu li.expanded ul.menu {
	margin:10px 0 0 0;
}
.block-menu_block ul.menu li.expanded ul.menu li {
	margin:10px 0 0 0;
	list-style:none;
	list-style-image:none;
	border-bottom:#eee solid 1px;
	padding:0 0 5px 10px;
}
.block-menu_block ul.menu li.expanded ul.menu li a {
	color:#007AA9;
}
.block-menu_block ul.menu li.expanded ul.menu li.active-trail a.active-trail {
	color:#f00;
}
.block-menu_block ul.menu li.expanded ul.menu li.expanded {
	padding:0 0 0 10px;
	background:url(images/menu-expanded.png) no-repeat 0 5px;
	border:0;
}
.block-menu_block ul.menu li.expanded ul.menu li.expanded span {
	display:inherit;
	color:#000;
	font-weight:bold;
}
.block-menu_block ul.menu li.expanded ul.menu li.expanded a {
	padding:0;
	color:#000;
	font-weight:bold;
}
.block-menu_block ul.menu li.expanded ul.menu li.expanded ul.menu li {
	padding:0;
	list-style:none;
	list-style-image:none;
	margin:0;
	border:0;
}
.block-menu_block ul.menu li.expanded ul.menu li.expanded ul.menu li a {
	padding:0;
	color:#007AA9;
	font-weight:normal;
}
.block-menu_block ul.menu li.expanded ul.menu li.expanded ul.menu li.active-trail a {
	color:#f00;
}
#leftonly_left {
	width:23%;
	float:left;
}
#leftonly_left li a.active {
	color:#f00;
}
#leftonly_content {
	width:72.9%;
	float:left;
	border-left:#DEDEDE solid 1px;
	padding-left:20px;
	margin:0 0 20px 2%;
}
#inner_content {
	width:68%;
	float:left;
	margin:0 2% 0 0;
}
#inner_right {
	width:30%;
	float:right;
	font-size:1.2em;
}
#rightonly_content {/*width:75%;float:left;border-right:#DEDEDE solid 1px;padding-right:20px;margin:0 0px 20px 0px;*/
	width: 780px;
	float: left;
	border-right: #DEDEDE solid 1px;
	padding-right: 18px;
	margin: 0 0px 20px 0px;
	font-size:1.2em;
}
#rightonly_right {
	width:20%;
	float:right;
	margin-left:20px;
}
#footer1, #footer2, #footer3, #footer4, #footer5 {
	width:20%;
	float:left;
}
#footer {
	background:#2C3E50;
}
#footer_container {/*max-width:1024px;margin:0 auto;*/
}
#footer_container ul li, #footer_container ul li ul li, #footer_container ul {
	margin:0;
	padding:0;
	list-style:none;
}
#footer_container ul li ul li {
	margin-bottom:2px;
}
#footer_container ul li a {
	display:none;
}
#footer_container ul li a.active {
	color:#fff;
}
#footer_container ul li ul li a {
	display:list-item;
}
/*#footer h2{color:#A9A9A9;text-shadow:none;font-family:Arial, Helvetica, sans-serif;font-size:1.4em;}*/
#footer h2 {
	color: lightgray;
	text-shadow: none;
	font-family: "Myriad_Pro_Condensed", "Arial Narrow", "arial", "helvetica", "Sans-Serif";
	font-size: 30px;
	font-weight: normal;
}
#footer a {
	color: #2C3E50;
}
#footer a:hover {
	color: #2980B9;
}
#footer_message {
	text-align:center;
	border-top:1px solid #474747;
	color:#A9A9A9;
	margin-top:20px;
	padding:10px 0 10px 0;
}
.contact_block {
	background:url(images/contact.png) no-repeat right bottom #323232;
	border-top:5px solid #000000;
	padding:10px;
	color:#fff;
}
.contact_block span {
	display:block;
	font-weight:bold;
	font-size:1.2em;
}
.webform-component {
	margin-bottom:10px;
}
.webform-component label {
	width:45%;
	display:block;
	float:left;
	margin:0;
}
.webform-component input {
	width:45%;
}
.webform-component select {
	width:46%;
}
.webform-component textarea.form-textarea {
	width:48%!important;
}
.webform-component .grippie {
	display:none;
}
.webform-component input[type=file] {
	width:auto;
}
.webform-component .form-checkboxes label, .form-checkboxes input {
	display:inline;
	width:auto;
}
.block-webform .form-actions input[type="submit"] {
	display:block;
	margin:40px 0 0 45%;
}
#quicktabs-events_tab ul li a {
	font-size:1.2em;
}
#quicktabs-events_tab .views-field-title a {
	font-size:1.2em;
	font-weight:bold;
	margin:0 0 10px 0;
}
#quicktabs-events_tab .views-field-field-news-date-value, #quicktabs-events_tab .views-field-field-location-value {
	font-weight:bold;
}
#quicktabs-events_tab .views-field-view-node {
	margin:0 0 20px 0;
}
.clearall:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.sub_heading {
	color:#0D5A88;
	font-size:1.5em;
}
.dontshow {
	display:none;
}
.visibility_css span.nolink {
	display:none;
}
.pageLink {
	display:block;
	padding:10px;
	border:2px thin #ccc;
	border-width:2px 0px;
	font-size:18px;
	background:#BDC3C7;
	color:#fff;
	font-family: "Myriad_Pro_Condensed", "Arial Narrow", "arial", "helvetica", "Sans-Serif";
	text-transform: uppercase;
	background: #2C3E50;
	color: #fff;
}
.pageLink a {
	color:#fff;
}
.pageLink:hover {
	background:#2980B9;
	color:#fff;
}
.pageLink:hover a {
	border-bottom:0px;
	color:#fff;
}
a.button {
	background:#007aa9;
	border-radius:5px;
	padding:5px 10px;
	color:#fff;
}
a.button:hover {
	background:#009acc;
}
.darkbg h2 {
	color:#fff;
	text-shadow:0 1px 000;
}
/*.node .content p, .node .content ul li, .view .view-content, #leftright_content .block-block .content {
	font-size:1.2em;
}*/ 



.node .content p.sub_heading {
	font-size:1.5em;
	font-family: "Myriadpro_Regular", "Sans-Serif"
}
.node table {
	border:#eee solid 1px;
}
.node table tr {
	border-bottom:#eee solid 1px;
}
.node table tr td {
	padding:5px;
	border-right:#eee solid 1px;
	vertical-align:top;
}
.node table thead tr td {
	font-weight:bold;
	text-align:center;
}
.node table.table_noborder {
	border:0;
}
.node table.table_noborder tr {
	border:0;
}
.node table.table_noborder tr td {
	border:0;
}
.node table.table_noborder tr td p.sub_heading {
	margin:0;
}
a.dummy_link {
	visibility:hidden;
	display:none;
}
.search-info {
	display:none;
}
.register_now {
	background:none repeat scroll 0 0 #007AA9;
	display:block;
	padding:10px;
	text-align:center;
	font-size:1.4em;
	border-radius:5px;
	color:#fff;
}
.register_now a {
	color:#fff;
}
.cols_contact {
	width:50%;
	float:left;
}
.img_left {
	margin-right:10px;
}
.event_over {
	color:#f00;
	font-weight:bold;
}
.break {
	display:block;
	clear:both;
}
.separator {
	margin-top: 20px;
	float: left;
	border-right: solid 1px #CCC;
	height: 345px;
}
.news_heading {
	background:none repeat scroll 0 0 #009ACC;
	border-top:5px solid #007AA9;
	padding:7px 15px 15px;
	text-shadow:0 1px black;
	font-size:2.8em;
	color:#fff;
	margin:10px 0;
	font-weight:bold;
}
.event_content {
	float:left;
	margin:0 2% 0 0;
	width:68%;
	font-size:1.2em;
}
.news_content, table.careers {
	font-size:1.2em;
}
div.status {
	background:#CFC;
	border:#003300 solid 2px;
	border-radius:5px;
	padding:10px;
	margin:5px 0;
}
div.warning {
	background:#FFC;
	border:#F90 solid 2px;
	border-radius:5px;
	padding:10px;
	margin:5px 0;
}
div.error {
	background:#FCC;
	border:#C00 solid 2px;
	border-radius:5px;
	padding:10px;
	margin:5px 0;
}
.om-maximenu .om-maximenu-open {
	display:none;
}
.formText h1, text h1 {
	background:none;
	border:0;
	color:#007AA9;
}
.twtr-widget p {
	font-family:Arial, Helvetica, sans-serif!important;
}
#leftright_content .block-menu_block span.nolink {
	display:none;
}
#leftright_content .block-menu_block ul.menu li.expanded ul.menu li.expanded {
	list-style:none;
	list-style-image:none;
	background:none;
	margin:0;
}
#leftright_content .block-menu_block ul.menu li.expanded ul.menu li {
	padding:0;
}
#leftright_content .block-menu_block ul.menu li.expanded ul.menu li.expanded a {
	display:none;
}
#leftright_content .block-menu_block ul.menu li.expanded ul.menu {
	margin:0;
}
#leftright_content .block-menu_block ul.menu li.expanded ul.menu li.expanded ul li a {
	display:inherit;
}
#leftright_content .block-menu_block ul.menu li.expanded ul.menu li.expanded ul li {
	font-size:1.2em;
	background:url(images/bullet_list.png) no-repeat scroll 0 7px transparent;
	padding:0 0 0 10px;
}
#leftright_content .block-menu_block ul.menu li.expanded ul.menu li.expanded ul li a.dummy_link {
	display:none;
}
.twtr-tweets {
	font-size:1.2em;
}
#twtr-widget-1 .twtr-timeline {
	height:auto!important;
}
.view-careers table {
	width:100%;
}
.views-field-field-pager-image-fid {
	float:left;
	width:100px;
	margin:0 0 0 20px;
}
.block-user {
	text-align:center;
	background:#eee;
	padding:30px;
	margin:10px;
	border-radius:20px;
}
#user-login-form .item-list {
	display:none;
}
.view-animation p {
	margin:0;
	padding:0;
}
.views_slideshow_thumbnailhover_div_breakout_teaser {
	margin:0 0 2px 0;
}
.thumbnail_overview {
	vertical-align:top;
	padding-top:9px;
}
.thumbnail_overview2 {
	vertical-align:top;
}
.td-pad {
	padding:5px;
}
.td-title {
	font-size:18px;
}
.left-td-padding {
	padding-left:16px;
}
.rounded {
	background:rgb(252, 252, 252);
	width:auto;
	height:315px;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:5px;
	padding-right:5ps;
	border-radius:10px;
	-webkit-box-shadow:inset 0 0 10px lightgray;
}
.rounded_top div, .rounded_top, .rounded_bottom div, .rounded_bottom {
	width:100%;
	height:25;
	font-weight:bold;
	text-align:left;
}
.rounded_content {
	margin:0 20 0 20;
	height:275px;
}
.frankfurt-event-agenda {
	background-color:rgb(252, 252, 252);
	padding:10px;
	width:478px;
	margin-left:5px;
	-webkit-box-shadow:inset 0 0 10px lightgray;
	border-radius:10px;
}
dsettings: {
magnifyby:3, //default increase factor of enlarged image duration:500, //default duration of animation, in millisec mgopacity:0.2//opacify of original image when enlarged image overlays it
}, cursorcss:'url(http://beta.people10.com/sites/all/themes/people10/images/magnify.cur), -moz-zoom-in', //Value for CSS's 'cursor' attribute, added to original image .td-slider {
text-align:left;
font-size:1.2em;
line-height:1.2em
}
.td-new-test {
	padding:5px;
	font-size:18px;
	text-align:left;
	line-height:1.2em;
	color:#003466;
	font-weight:bold
}
/* code for Sitemap -start */
.footerList {
	font-family:"Lucida Sans", "Trebuchet MS", Tahoma;
	font-size:12px;
	font-style:normal;
	color:#b5b5b5;
	padding:5px 0 0 5px;
	margin:0
}
.footerList li {
	list-style-image:none;
	list-style-position:inside;
	line-height:18px;
	padding:3px 0 0 5px;
	list-style-type:disc;
	color:#007aa9
}
.footerList a {
	font-family:"Lucida Sans", "Trebuchet MS", Tahoma;
	font-size:12px;
	font-weight:normal;
	color:#007aa9;
	text-decoration:none
}
.footerList a:hover {
	color:#f00;
	text-decoration:underline
}
.header {
	font-family:"Lucida Sans", "Trebuchet MS", Tahoma;
	font-size:14px;
	font-weight:normal;
	color:#000;
	font-weight:bold;
	text-decoration:none;
	padding-bottom:10px
}
.header a {
	font-family:"Lucida Sans", "Trebuchet MS", Tahoma;
	font-size:14px;
	font-weight:normal;
	color:#000;
	font-weight:bold;
	text-decoration:none;
	padding-bottom:0
}
.header a:hover {
	color:#000;
	font-weight:bold;
	text-decoration:underline
}
.header1 {
	font-family:"Lucida Sans", "Trebuchet MS", Tahoma;
	font-size:14px;
	font-weight:normal;
	color:#000;
	font-weight:bold;
	text-decoration:none;
	padding-bottom:10px
}
.sitemap-table table {
	padding:5px;
	border:0;
	vertical-align:top;
	border-collapse:collapse;
	border-bottom:0
}
.sitemap-table table tr {
	border-bottom:0
}
.sitemap-table table tr td {
	padding:5px;
	border:0;
	vertical-align:top;
	border-bottom:0
}
.webinar_table {
	padding-left:7px;
	font-size:1.2em;
	border:thin;
	vertical-align:text-top;
	background-color:#fcfcfc;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-right-radius:10px;
	border-bottom-left-radius:10px;
	-webkit-box-shadow:#d3d3d3 0 0 10px inset;
	padding-bottom:10px;
	width:100%;
	padding:5px
}
table.webinar_table tr td {
	padding-left:5px
}
td.table-td-width {
	padding:5px
}
/* code for Sitemap -end */
/* Style for Quick Contact - start*/
#hdr {
	height:27px;
	background-color:#4d3a24;
	color:white;
	text-align:center;
	font-weight:bold;
	text-align:left;
	padding-top:5px;
	font-size:20px;
	padding-left:10px
}
#message {
	background-color:#ca9773;
	color:white;
	font-size:20px;
	font-weight:bold;
	height:295px;
	padding-left:10px;
	padding-top:95px;
	text-align:center
}
/* Style for Quick Contact - end  */
 /* for agile-software-development-companies page -start*/
 
.agile-software-development-companies {
	border:0
}
table.agile-software-development-companies tr td table {
	border:0
}
table.agile-software-development-companies tr td {
	border:0
}
table.agile-software-development-companies tr {
	border:0
}
.readmore_agile_page {
	background-color:#666;
	border-radius:10px;
	-webkit-box-shadow:inset 0 0 10px lightgray;
	padding-bottom:10px;
	text-align:center;
	width:129px;
	text-align:center;
	height:20px;
	font-size:18px;
	vertical-align:middle;
	padding-top:9px;
	color:#fff
}
/* for agile-software-development-companies page -end */
     /*video section start*/

.playerMenu {
	margin-bottom:20px!important
}
#ptl border_top {
	margin-bottom:50px
}
.lbl {
	display:inline-block;
	padding-right:.5em;
	vertical-align:top
}
.cntr {
	border-radius:10px;
	box-shadow:inset 0 3px 0 -2px #FFF;
	padding:16px;
	margin:5px 0
}
.cntr_plain {
	border:0
}
.grey_cntr {
	background-color:#efefef;
	border:1px solid #DDD
}
.pal {
	padding:20px!important
}
.size1of3 {
	width:33.33333%
}
.unit {
	float:left;
	zoom:1;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box
}
.media mbl {
	margin-bottom:20px!important;
	margin:5px 0
}
.media .bd {
	display:table-cell;
	zoom:1
}
.media .bd>:last-child {
	margin-bottom:0
}
.media .bd>:first-child {
	margin-top:0
}
.last_unit {
	margin:0!important
}
.lhn {
	line-height:0
}
.mbl {
	margin-bottom:6px!important
}
.line::after, .last_unit::after {
	clear:both;
	display:block;
	visibility:hidden;
	overflow:hidden;
	height:0!important;
	line-height:0;
	font-size:xx-large;
	content:" x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x "
}
.ptl.border_top {
	color:#000;
	font-size:200%
}
#defaultid {
	font-weight:bold
}
#defaultid1 {
	font-weight:bold
}
#defaultid2 {
	font-weight:bold
}
/*video section end*/
/* Groovy landing page code */
.groovy-landing-page table {
	padding:5px;
	border:0;
	vertical-align:top;
	border-collapse:collapse;
	border-bottom:0
}
.groovy-landing-page table tr {
	border-bottom:0
}
.groovy-landing-page table tr td {
	padding:0;
	border:0;
	vertical-align:top;
	border-bottom:0
}
.popup {
	background-color:#fff;
	height:500px;
	width:900px;
	border:2px solid #007aa9;
// position:absolute;
	font-family:Arial, Geneva, sans-serif;
	font-size:16px;
	text-align:left;
	padding:5px;
	overflow:visible;
// z-index:2;
//font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif
}
.close_button {
	font-family:Verdana, Geneva, sans-serif;
	font-size:small;
	font-weight:bold;
	float:right;
	color:#666;
	display:block;
	text-decoration:none;
	border:2px solid #666;
	padding:0 3px 0 3px
}
img.close {
	position:relative;
	top:-508px;
	left:876px;
	cursor:pointer;
	cursor:hand
}
div.close {
	position:relative;
	top:-493px;
	left:825px;
	color:white;
	cursor:pointer;
	cursor:hand
}
/* page.tpl code -end */

/* This is skin.css file code */

jcarousel-skin .jcarousel-container {
	border:1px solid #d8d8d8;
	background:url(images/mega_menu_bg.jpg) repeat-x bottom left;
	margin:0 8px;
	min-height:150px
}
.jcarousel-skin .jcarousel-direction-rtl {
	direction:rtl
}
.jcarousel-skin .jcarousel-container-horizontal {
	padding:10px 26px
}
.jcarousel-skin .jcarousel-clip {
	overflow:hidden
}
.jcarousel-skin .jcarousel-item {
	width:192px
}
.jcarousel-skin .jcarousel-item-horizontal {
	margin-left:10px;
	margin-right:15px
}
.jcarousel-skin .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left:10px;
	margin-right:0
}
.jcarousel-skin .jcarousel-item-placeholder {
	background:#fff;
	color:#000
}
.jcarousel-skin .jcarousel-next-horizontal {
	position:absolute;
	top:120px;
	right:-10px;
	width:18px;
	height:47px;
	cursor:pointer;
	background:transparent url(images/next-horizontal.png) no-repeat 0 0
}
.jcarousel-skin .jcarousel-direction-rtl .jcarousel-next-horizontal {
	left:1px;
	right:auto;
	background-image:url(images/prev-horizontal.png)
}
.jcarousel-skin .jcarousel-next-horizontal:hover, .jcarousel-skin .jcarousel-next-horizontal:focus {
	background-position:-38px 0
}
.jcarousel-skin .jcarousel-next-horizontal:active {
	background-position:-57px 0
}
.jcarousel-skin .jcarousel-next-disabled-horizontal, .jcarousel-skin .jcarousel-next-disabled-horizontal:hover, .jcarousel-skin .jcarousel-next-disabled-horizontal:focus, .jcarousel-skin .jcarousel-next-disabled-horizontal:active {
	cursor:default;
	background-position:-19px 0
}
.jcarousel-skin .jcarousel-prev-horizontal {
	position:absolute;
	top:120px;
	left:-10px;
	width:18px;
	height:47px;
	cursor:pointer;
	background:transparent url(images/prev-horizontal.png) no-repeat 0 0
}
.jcarousel-skin .jcarousel-direction-rtl .jcarousel-prev-horizontal {
	left:auto;
	right:5px;
	background-image:url(images/next-horizontal.png)
}
.jcarousel-skin .jcarousel-prev-horizontal:hover, .jcarousel-skin .jcarousel-prev-horizontal:focus {
	background-position:-38px 0
}
.jcarousel-skin .jcarousel-prev-horizontal:active {
	background-position:-57px 0
}
.jcarousel-skin .jcarousel-prev-disabled-horizontal, .jcarousel-skin .jcarousel-prev-disabled-horizontal:hover, .jcarousel-skin .jcarousel-prev-disabled-horizontal:focus, .jcarousel-skin .jcarousel-prev-disabled-horizontal:active {
	cursor:default;
	background-position:-19px 0
}
/* skin.css file end */

/* This is content_slider.css file code */
#jFlowSlide {
}
#myController {
	padding:0;
	width:1020px;
	margin:-80px auto 0 auto;
	text-align:center;
}
#myController span.jFlowSelected {
	background:url(images/slider-switch-active.jpg) repeat-x scroll 0 0 #009acc;
	margin-right:13px;
}
.jflow-content-slider {
	position:relative;
}
.slide-wrapper {
	padding: 0px;
}
.slide-thumbnail {
	width:1020px;
}
.slide-thumbnail img {
	max-width:1020px;
}
.slide-details {
	width:420px;
	float:right;
	margin-left:0px;
	text-align:right;
	padding:20px 0 0 0;
}
.slide-details h2 {
	font-size:3.5em;
	font-weight:normal;
	line-height: 120%;
	margin:0 0 20px;
}
.slide-details .description {
	margin-top:10px;
}
.slide1 {
	background:url(images/Large-Scale-Agility.jpg) no-repeat 0 0;
	width:1020px;
	height:404px;
	margin:0 auto;
}
.slide2 {
	background:url(images/Rapid-Delivery.jpg) no-repeat 0 0;
	width:1020px;
	height:404px;
	margin:0 auto;
}
.slide3 {
	background:url(images/transparent-development.jpg) no-repeat 0 0;
	width:1020px;
	height:404px;
	margin:0 auto;
}
.slide4 {
	background:url(images/Early-Business-Value.jpg) no-repeat 0 0;
	width:1020px;
	height:404px;
	margin:0 auto;
}
.slide5 {
	background:url(images/People-and-Ecosystem.jpg) no-repeat 0 0;
	width:1020px;
	height:404px;
	margin:0 auto;
}
.jFlowControl {
	color:#FFF;
	cursor:pointer;
	width:193px;
	float:left;
	background:url(images/slider-switch.jpg) repeat-x scroll 0 0 #010101;
	padding:20px 0;
	margin:0 13px 0 0;
	text-align:center;
	position:relative;
	font-size:1.2em;
}
.jFlowControl:hover {
	color:#FFF;
	cursor:pointer;
	width:193px;
	float:left;
	background:url(images/slider-switch-hover.jpg) repeat-x scroll 0 0 #252525;
	padding:20px 0;
	margin:0 13px 0 0;
	text-align:center;
}
.jFlowPrev {
	color:#FFF;
	cursor:pointer;
	position:absolute;
	left:0;
	background:url(images/btn-prev-next.png) no-repeat -2px -63px;
	width:34px;
	height:60px;
	display:block;
	top:134px;
	text-indent:-10000px;
}
.jFlowPrev:hover {
	background-position:-39px -63px;
}
.jFlowNext {
	color:#FFF;
	cursor:pointer;
	position:absolute;
	right:0;
	background:url(images/btn-prev-next.png) no-repeat 0 0;
	width:34px;
	height:60px;
	top:134px;
	text-indent:-10000px;
}
.jFlowNext:hover {
	background-position:-37px 0;
}
/*.jFlowControl:hover, .jFlowPrev:hover, .jFlowNext:hover { background: #43A0D5;}*/
/* This is content_slider.css file code - end */

/* for addthis container */

.addthis_internal_container a {
	padding: 2px;
}
/* greybox css */
/* Last-Modified: 28/06/06 00:08:22 */
#GB_overlay {
	background-color: #000;
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	z-index: 100;
}
#GB_window {
	left: 0;
	top: 0;
	font-size: 1px;
	position: absolute;
	overflow: visible;
	z-index: 2000;
}
#GB_window .content {
	width: auto;
	margin: 0;
	padding: 0;
}
#GB_frame {
	border: 0;
	margin: 0;
	padding: 0;
	overflow: auto;
	white-space: nowrap;
}
.GB_Gallery {
	margin: 0 22px 0 22px;
}
.GB_Gallery .content {
	background-color: #fff;
	border: 3px solid #ddd;
}
.GB_header {
	top: 10px;
	left: 0;
	margin: 0;
	z-index: 500;
	position: absolute;
	border-bottom: 2px solid #555;
	border-top: 2px solid #555;
}
.GB_header .inner {
	background-color: #333;
	font-family: Arial, Verdana, sans-serif;
	padding: 2px 20px 2px 20px;
}
.GB_header table {
	margin: 0;
	width: 100%;
	border-collapse: collapse;
}
.GB_header .caption {
	text-align: left;
	color: #eee;
	white-space: nowrap;
	font-size: 20px;
}
.GB_header .close {
	text-align: right;
}
.GB_header .close img {
	z-index: 500;
	cursor: pointer;
}
.GB_header .middle {
	white-space: nowrap;
	text-align: center;
}
#GB_middle {
	color: #eee;
}
#GB_middle img {
	cursor: pointer;
	vertical-align: middle;
}
#GB_middle .disabled {
	cursor: default;
}
#GB_middle .left {
	padding-right: 10px;
}
#GB_middle .right {
	padding-left: 10px;
}
.GB_Window .content {
	background-color: #fff;
	border: 3px solid #999;
	border-top: none;
}
.GB_Window .header {
	border-bottom: 1px solid #aaa;
	border-top: 1px solid #999;
	border-left: 3px solid #999;
	border-right: 3px solid #999;
	margin: 0;
	height: 22px;
	font-size: 12px;
	padding: 3px 0;
	color: #333;
	background:#999!important;
}
.GB_Window .caption {
	font-size: 12px;
	text-align: left;
	font-weight: bold;
	white-space: nowrap;
	padding-right: 20px;
}
.GB_Window .close {
	text-align: right;
}
.GB_Window .close span {
	font-size: 12px;
	cursor: pointer;
	color:#fff;
}
.GB_Window .close img {
	cursor: pointer;
	padding: 0 3px 0 0;
}
.GB_Window .on {
	border-bottom: 0;
}
.GB_Window .click {
	border-bottom: 0;
}
/* end of greybox css */


#showcasetitle {
	font-size: 28px;
	margin-top: 5px;
	color: #007AA9;
	font-family: "Myriad_Pro_Condensed", "Arial Narrow", "arial", "helvetica", "Sans-Serif";
	text-transform: uppercase;
}
h2#blocktitle {
	border-bottom: 1px solid #ccc;
	padding: 5px;
	color: #2980B9;
	text-shadow: 0 1px white;
	font-size: 20px;
	margin-top: 15px;
	font-family: "Myriad_Pro_Condensed", "Arial Narrow", "arial", "helvetica", "Sans-Serif";
	text-transform: uppercase;
	font-weight: normal;
}
h5#download_block_title {
	font-size: 20px;
	font-weight: normal;
	font-family: "Myriad_Pro_Condensed", "Arial Narrow", "arial", "helvetica", "Sans-Serif";
	text-transform: uppercase;
	text-align: left;
	background-color: #2980B9;
	color: #fff;
	padding-left:5px;
}
.div-block-background {
	background-color: #ECF0F1;
}
/*  for subscribe button on right side block */

.subscribe_button {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#666;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	display:inline-block;
	color:#fff;
	font-family:arial;
	font-size:14px;
	font-weight:bold;
	padding:7px 10px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}
.subscribe_button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}
.subscribe_button:active {
	position:relative;
	top:1px;
}
/*  header ribbon css implemented on  03-04-2013 by syam  */

div.header_ribbon_div {
	width: 100%;
	height: 39px;
	background: #ECF0F1;
}
ul.header_ribbon {
	list-style-type:none;
	overflow:hidden;
	min-width:353px;
}
ul.header_ribbon li {
	float: right;
	width: auto;
	margin-right: 2px;
	margin-top: 5px;
}
ul.header_ribbon li a {
	text-align: right;
	text-decoration: none;
	border-right-width: 2px;
	border-right-color: #fff;
	display: block;
	float: right;
	position: relative;
	font-family: "Myriad_Pro_Condensed", "Arial Narrow", "arial", "helvetica", "Sans-Serif";
	font-size: 15px;
	text-transform: uppercase;
	color: #fff;
	height: 29px;
	max-height: 32px;
	line-height: 32px;
	padding: 0 16px;
	background: #2C3E50;
	border-radius: 2px;
	font-weight: normal;
}
ul.header_ribbon li a:hover {
	background-color: #2980B9;
	color: #fff;
}
#block-search-0 {
	margin-top:-8px;
	height: 28px;
	float: right;
	width: auto;
	position: absolute;
	margin-left: 240px;
}
#block-block-53 { /* id could be different in live css. changer as per the requirement */
	margin-top: -26px;
}
/* for all download and readmore buttons */

a.download_button {
/*text-decoration: none;
	border-right-width: 2px;
	border-right-color: #fff;
	display: block;
	float: right;
	position: relative;
	font-family: "Myriad_Pro_Condensed", "Arial Narrow", "arial", "helvetica", "Sans-Serif";
	font-size: 15px;
	text-transform: uppercase;
	color: #fff;
	height: 29px;
	max-height: 32px;
	line-height: 32px;
	padding: 0 16px;
	background: #2C3E50;
	border-radius: 2px;
	font-weight: normal;
	margin-bottom: 5px;*/
}
/*a.download_button:hover {
	background: #2980B9;
	color: #fff;
}*/
.om-subtitle {
	line-height: normal;
	display: block;
	margin-top: -2px;
	font-size: 14px;
	font-family: "Myriad_Pro_Condensed", "Arial Narrow", "arial", "helvetica", "Sans-Serif";
}
.om-maximenu.om-maximenu-block ul.om-menu li.om-leaf .om-link span.om-subtitle {
	font-size:14px;
}
.om-maximenu ul.om-menu li.om-leaf .om-link {
	display: block;
	padding: 0 15px;
	margin: 0;
	height: 55px;
	line-height: 30px;
}
.om-maximenu.om-maximenu-block.om-maximenu-row ul.om-menu li.om-leaf .link-approach, .om-maximenu.om-maximenu-block.om-maximenu-row ul.om-menu li.om-leaf .link-company {
	margin-left: 50px;
}
/* for social icons */

a#fb-logo-image:hover {
	opacity: 0.7;
}
a#twitter-logo-image:hover {
	opacity: 0.7;
}
a#linkedin-logo-image:hover {
	opacity: 0.7;
}
a#slideshare-logo-image:hover {
	opacity: 0.7;
}
a#youtube-logo-image:hover {
	opacity: 0.7;
}
a#googleplus-logo-image:hover {
	opacity: 0.7;
}
img.right-social-share-img:hover {
	opacity:0.7;
}
.our-customers-h2 {
	font-family: "Myriad_Pro_Condensed", "Arial Narrow", "arial", "helvetica", "Sans-Serif";
	font-size: 28px;
	font-weight: normal;
	text-shadow: none;
	margin-top: 0;
	text-align: center;
	color: #ECF0F1;
	border: none;
	text-transform: lowercase;
	position: absolute;
	left: 50px;
	top: 10px;
}
span#site_slogan {
	color: #2C3E50;
	font-family: "Myriad_Pro_Condensed","Arial Narrow","arial","helvetica","Sans-Serif";
	font-size: 28px;
	display: inline-block;
	text-transform: lowercase;
}
/* for footer two column layout new design */

/*.p10-container {
	padding-left: 20px;
	padding-right: 20px;
}*/
.p10-row {
	width: 1024px;
	margin: 0 auto;
}
/* For modern browsers */
.p10-row:before, .p10-row:after {
	content:"";
	display:table;
}
.p10-row:after {
	clear:both;
}
/* For IE 6/7 (trigger hasLayout) */
.p10-row {
	zoom:1;
}
.p10-sixcol {
	margin-right: 3.8%;
	float: left;
	min-height: 1px;
}
.p10-row .p10-sixcol {
	width: 490px;
}
.p10-last {
	margin-right: 0px;
	float: right;
}
/*.p10-about-us-text {
	font-size: 18px;
	color: lightgray;
	font-weight: normal;
	font-family: "Myriad_Pro_Condensed", "Arial Narrow", "arial", "helvetica", "Sans-Serif";
} -- remove this */
.contact_info_table {
	font-size: 16px;
	font-weight: normal;
	color: #2c3e50;
	font-family: "Myriad_Pro_Condensed", "Arial Narrow", "arial", "helvetica", "Sans-Serif";
	text-align: right;
}
/* company menu style code added  */

.block-menu-id-menu-who-we-are {
	padding-bottom: 10px;
}
.block-menu-id-menu-customers-links {
	/*border-bottom: solid 1px #009bcb;*/
	padding-bottom: 10px;
	margin-top: -20px;
}
.block-menu-id-menu-technologystack {
	padding-top: 10px;
}
#block-block-139 {
	background: #3498DB;
}
/* Feature Insigts title */  

h4.featured-insights-title {
	font-family:"Myriad_Web", "Sans-Serif";
	font-size:16px;
	color: #333;
	margin-top: 20px;
}
