/*======================================

Theme Name: zeeCorporate

Theme URI: http://themezee.com/zeecorporate

Description: A smart and clean two column theme with great features: Custom Logo, Several predefined Color Schemes, Unlimited Colors via Colorpicker, Content Slider, 125x125 Banner Widget, SocialMedia Buttons Widget, Dropdown Navigation, Theme Option Panel and more

Version: 1.1

Author: ThemeZee

Author URI: http://themezee.com

Tags:  two-columns, light, custom-background, sticky-post, custom-menu, threaded-comments, translation-ready, theme-options, fixed-width, custom-colors, custom-header, editor-style, right-sidebar, white, green

License: GNU General Public License v2.0

License URI: http://www.gnu.org/licenses/gpl-2.0.html

======================================*/



/*============================ RESET ============================*/

@font-face {
	font-family: "Myriad_Pro_Condensed";
	src: url(fonts/Myriad_Pro_Condensed.eot) format("embedded-opentype");
}
@font-face {
	font-family: "Myriad_Pro_Condensed";
	src: url(fonts/Myriad_Pro_Condensed.ttf) format("truetype");
}
@font-face {
	font-family: "Myriad_Web";
	src: url(fonts/Myriad_Web.eot) format("embedded-opentype");
}
@font-face {
	font-family: "Myriad_Web";
	src: url(fonts/Myriad_Web.ttf) format("truetype");
}
@font-face {
	font-family: "Myriadpro_Regular";
	src: url(fonts/Myriadpro_Regular.eot) format("embedded-opentype");
}
@font-face {
	font-family: "Myriadpro_Regular";
	src: url(fonts/Myriadpro_Regular.ttf) format("truetype");
}
@font-face {
	font-family: "Myriad_Pro_Light_Condensed";
	src: url(fonts/Myriad_Pro_Condensed.eot) format("embedded-opentype");
}
@font-face {
	font-family: "Myriad_Pro_Light_Condensed";
	src: url(fonts/Myriad_Pro_Light_Condensed.ttf) format("truetype");
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, font, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 99%;
	font-family: inherit;
	vertical-align: baseline;
}
/*============================ SETUP ============================*/

body {
	font-family: Verdana, Arial, Tahoma;
	font-size: 0.9em;
	border: 0;
	color: #222;
	background: #fff;
}
ul, ol {
	list-style: none;
}
img {
	border: none;
	border-collapse: none;
}
.clear {
	clear: both;
}
a, a:link, a:visited {
	color: #00aa08;
	text-decoration: underline;
}
a:hover, a:active {
	text-decoration: none;
}
input, textarea {
	background-color: #eee;
	margin: 5px;
	border: 1px solid #ddd;
	color: #333;
}
/*============================ WRAPPER ============================*/

#wrapper {
	margin: 30px auto;
	width: 900px;
	padding: 20px 50px 0 50px;
	border: 5px solid #ddd;
	text-align: left;
	background-color: #fff;
	-moz-border-radius:5px; /* Firefox */
	-webkit-border-radius:5px; /* Safari, Chrome */
	-khtml-border-radius:5px; /* Konqueror */
}
#header {
	float: left;
	width: 900px;
	border-bottom: 2px solid #bbb;
}
/*============================ STRUCTURE ============================*/

#wrap {
	margin: 40px 0 20px 0;
}
#content {
	width: 570px;
	float: left;
}
.fullwidth {
	width: 900px !important;
}
/*============================ SIDEBAR ============================*/

#sidebar {
	width: 290px;
	margin-left: 590px;
	background: #eee;
	padding: 10px;
	border-top: 1px solid #ddd;
}
#sidebar ul li h2 {
	color: #006699;
	padding: 5px;
	line-height: 1.3em;
	font-size: 1.1em;
	font-weight: bold;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	background: url(images/sidebar_bg.png) repeat-x #eee;
}
#sidebar ul li {
	margin-bottom: 15px;
	font-size: 0.95em;
}
#sidebar ul li ul {
	padding: 5px 0;
	margin-bottom: 5px;
	background: #fff;
	list-style: url(images/sidebar_arrow.png) inside;
}
#sidebar ul li div {
	padding: 5px 10px;
	margin-bottom: 5px;
	font-size: 1.0em;
	background: #fff;
}
#sidebar a, #sidebar ul {
	font-size: 1.0em;
}
#sidebar a:link, #sidebar a:visited {
	color:#333;
	text-decoration: none;
}
#sidebar a:hover, #sidebar a:active {
	color:#777;
	text-decoration: underline;
}
#sidebar ul ul li {
	margin: 7px 10px;
	padding: 0;
	border: 0;
}
#sidebar ul ul ul {
	border: none;
	padding: 0;
	margin: 0;
}
#sidebar .children {
	margin-top: 10px;
	margin-left: 10px;
	background: none;
}
/* Theme SocialMedia Widget */

#socialmedia_buttons img {
	margin: 4px;
}
/* Theme Ads Widget */

#ads img {
	margin: 3px;
}
/* Theme Search Widget */

.screen-reader-text {
	display: none;
}
#s {
	background: #eee;
	border: 1px solid #ddd;
	padding: 6px 5px;
	font-size: 1.0em;
	font-weight: bold;
	color: #333;
	width: 150px;
}
#searchsubmit {
	margin-left: 5px;
	padding: 5px 10px;
	color: #333;
	font-size: 1.0em;
	font-weight: bold;
	cursor: pointer;
	border: 1px solid #ddd;
	background: url(images/button.png) repeat-x #eee;
}
#searchsubmit:hover {
	background: url(images/button_hover.png) repeat-x #eee;
}
/*============================ HEADER ============================*/

#logo {
	float: left;
	margin: 10px 0;
}
#logo h1 {
	font-size: 1.8em;
	color: #333;
	text-decoration: none;
}
/*============================ TOP NAVIGATION ============================*/

#navi {
	float: right;
	margin-top: 5px;
	padding: 5px 0;
}
*html #navi ul li {
	float: left;
}
#navi ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
/*Top level list items*/

#navi ul li {
	position: relative;
	display: inline;
	float: left;
	cursor: pointer;
	margin: 5px 0;
	padding: 5px 0;
}
/*Top level menu link items style*/

#navi ul li a {
	padding: 7px 15px;
	font-size: 1.0em;
	font-weight: bold;
	font-family: tahoma, arial;
	color: #333;
}
* html #navi ul li a {
	display: inline-block;
}
#navi ul li a:link, #navi ul li a:visited {
	text-decoration: none !important;
}
#navi ul li a:hover {
	background: #e7e7e7;
	-moz-border-radius-topleft: 10px; /* Firefox */
	-moz-border-radius-topright: 10px;
	-webkit-border-radius: 0; /* Safari, Chrome */
	-khtml-border-radius: 0; /* Konqueror */
}
/*1st sub level menu*/

#navi ul li ul {
	position: absolute;
	display: block;
	visibility: hidden;
	z-index: 10;
	margin: 0;
	padding: 0;
	background: #fff;
	border-top: 5px solid #e7e7e7;
	border-bottom: 2px solid #e7e7e7;
}
/*Sub level menu list items (undo style from Top level List Items)*/

#navi ul li ul li {
	display: list-item;
	width: 160px;
	float: none;
	margin: 0 !important;
	padding: 2px !important;
	border-left: 2px solid #e7e7e7;
	border-right: 2px solid #e7e7e7;
}
/*All subsequent sub menu levels vertical offset after 1st level sub menu */

#navi ul li ul li ul {
	padding: 0 !important;
	margin-top: -2px;
	margin-left: -4px;
	border-top: 2px solid #e7e7e7;
}
/* Sub level menu links style */

#navi ul li ul li a {
	display: block;
	padding: 5px 10px 5px 10px !important;
	font-weight: normal !important;
	color: #007AA9 !important;
	text-decoration: none !important;
	-moz-border-radius: 0 !important; /* Firefox */
	-webkit-border-radius: 0; /* Safari, Chrome */
	-khtml-border-radius: 0; /* Konqueror */
}
#navi ul li ul li a:hover {
	text-decoration: underline;
	background: #e7e7e7;
}
#navi ul li.current_page_item a, #navi ul li.current-cat a, #navi ul li.current-menu-item a {
	color: #00aa08;
	text-decoration: underline !important;
}
/*============================ More_Posts, Calendar ============================*/

#wp-calendar {
	width: 100%;
}
#wp-calendar caption {
	color: #555;
	font-size: 0.9em;
	font-weight: bold;
	margin: 0 0 5px 5px;
	text-align: left;
}
#wp-calendar th {
	color: #333;
	font-size: 0.9em;
	font-weight: bold;
}
#wp-calendar td {
	text-align: center;
}
/*============================ POST ============================*/

.post {
	margin: 5px 10px 35px 0;
}
.sticky {
	padding: 10px;
	border-top: 2px solid #ccc;
	border-left: 8px solid #ddd;
	border-bottom: 4px solid #ccc;
	border-right: 2px solid #ddd;
}
.post_date {
	float: left;
	border-top: 1px solid #ddd;
	border-bottom: 2px solid #ccc;
	padding: 2px;
	margin: 10px 15px 5px 0px;
	font-family: Arial;
}
.post_day {
	display: block;
	font-size: 1.8em;
	font-weight: bold;
	color: #999;
	text-align: center;
}
.post_day a {
	color: #999 !important;
	text-decoration: none !important;
}
.post_year {
	font-size: 0.8em;
	font-weight: bold;
	color: #999;
}
.post h2, .attachment h2 {
	padding-bottom: 2px;
	font-family: Arial, Verdana, sans-serif;
	font-size: 1.9em;
	font-weight:normal;
	color:#00aa08;
}
.page h2 {
	font-size: 2.2em;
}
.post h2 a:link, .post h2 a:visited {
	color:#006699;
	text-decoration: none;
}
.post h2 a:hover, .post h2 a:active {
	text-decoration: underline;
}
.entry {
	line-height: 1.5em;
}
.entry h1, .comment h1 {
	font-size: 1.9em;
	margin: 30px 0 0 0;
	color: #444;
}
.entry h2, .comment h2 {
	font-size: 1.7em;
	margin: 25px 0 0 0;
	padding: 0;
	color: #444;
}
.entry h3, .comment h3 {
	font-size: 1.5em;
	margin: 20px 0 0 0;
	color: #444;
}
.entry h4, .comment h4 {
	font-size: 1.3em;
	margin: 15px 0 0 0;
	color: #444;
}
.entry h5, .comment h5 {
	font-size: 1.2em;
	margin: 10px 0 0 0;
	color: #444;
	font-weight: bold;
}
.entry h6, .comment h6 {
	font-size: 1.0em;
	margin: 5px 0 0 0;
	color: #444;
	font-weight: bold;
}
.entry p {
	margin: 5px 0 15px 0;
}
.entry ul, .comment ul {
	list-style: square inside;
	margin: 0 0 20px 1.5em;
}
blockquote {
	margin-left: 10px;
	padding: 10px 15px;
	font-size: 16px;
	font-weight: normal;
	font-style: italic;
	text-align: justify;
}
blockquote:before {
	content:open-quote;
	color: #333;
	font-size: 45px;
	float: left;
	margin-right: 15px;
}
blockquote:after {
	content:close-quote;
	color: #333;
	font-size: 45px;
	float: right;
}
.arh {
	font-size: 1.2em;
	color:#333;
	line-height: 1.3em;
	margin: 0 10px 10px 0;
	padding: 10px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	background: url(images/post_bg.png) repeat-x #eee;
}
.postmeta {
	font-size: 0.9em;
	font-weight: bold;
	color: #222;
	padding-top: 10px;
}
.postmeta a:link, .postmeta a:visited, .postinfo a:link, .postinfo a:visited {
	color:#444;
	text-decoration: none;
}
.postmeta a:hover, .postmeta a:active, .postinfo a:hover, .postinfo a:active {
	color:#555;
	text-decoration: underline;
}
.postinfo {
	color: #333;
	font-size: 0.9em;
	padding: 5px;
	line-height: 1.3em;
	margin-bottom: 5px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	background: url(images/sidebar_bg.png) repeat-x #eee;
}
.postinfo a {
	margin: 0 !important;
	padding: 0 !important;
}
span.folder, span.tag, span.comment, span.author, span.date {
	padding: 0 5px 3px 19px;
}
span.date {
	background: url(images/calendar.png) no-repeat top left;
}
span.author {
	background: url(images/author.png) no-repeat top left;
}
span.folder {
	margin-top: 2px;
	background: url(images/folder.gif) no-repeat top left;
}
span.comment {
	background: url(images/comment.png) no-repeat top left;
}
span.tag {
	background: url(images/tag.png) no-repeat top left;
}
.more-link {
	display: block;
	float: right;
	margin: 35px 0 20px;
	text-decoration: none !important;
	color: #333 !important;
	font-size: 0.9em;
	font-weight: bold;
}
.moretext {
	padding: 5px 15px;
	background: url(images/button.png) repeat-x;
	border: 1px solid #ddd;
}
.moretext:hover {
	background: url(images/button_hover.png) repeat-x;
}
/*============================ Text Elements ============================*/

.entry ol, .comment ol {
	list-style: decimal inside;
	margin: 0 0 20px 1.5em;
}
.entry ol ol, .comment ol ol {
	list-style: upper-alpha inside;
}
.entry ol ol ol, .comment ol ol ol {
	list-style: lower-roman inside;
}
.entry ol ol ol ol, .comment ol ol ol ol {
	list-style: lower-alpha inside;
}
.entry ul ul, .comment ul ul, .entry ol ol, .comment ol ol, .entry ul ol, .comment ul ol .entry ol ul, .comment ol ul {
	margin-bottom: 5px;
}
dl {
	margin: 10px 0 20px 0;
}
dt {
	font-weight: bold;
}
dd {
	margin-bottom: 20px;
}
strong {
	font-weight: bold;
}
cite, em, i {
	font-style: italic;
}
big {
	font-size: 1.3em;
}
ins {
	padding: 1px 2px;
	background: #ffa;
	text-decoration: none;
}
code, pre {
	padding: 3px 8px;
	margin: 0 1px;
	background: #eeeeee;
	color: #222 !important;
	font-size: 0.9em;
	font-family: Monospace, "Courier New", Courier;
	overflow:auto;
}
del, strike, s {
	text-decoration: line-through;
}
pre {
	font-family: "Courier 10 Pitch", Courier, monospace;
}
small {
	font-size: 0.7em;
}
abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
sup, sub {
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
	font-size: 0.8em;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
.entry var, .entry kbd, .entry tt {
	font-size: 1.1em;
	font-family: "Courier 10 Pitch", Courier, monospace;
}
.entry table {
	border-collapse: collapse;
	border-spacing: 0;
	border: 1px solid #ddd;
	margin: 20px 0;
	text-align: left;
	width: 100%;
}
.entry tr th, .entry thead th {
	color: #555;
	font-size: 1.0em;
	font-weight: bold;
	line-height: 1.0em;
	padding: 5px 15px;
}
.entry tr td {
	border-top: 1px solid #ddd;
	padding: 5px 15px;
}
.entry tr.odd td {
	background: #eee;
}
/*============================ POST Images ============================*/

.entry img {
	max-width: 100%;
	height: auto;
}
.wp-caption {
	margin: 5px;
	max-width: 100%;
	padding: 7px 3px;
	background: #e5e5e5;
	text-align: center;
}
.wp-caption-text {
	margin: 0 !important;
	padding: 0;
	font-size: 0.8em;
	text-align: center;
}
.alignleft {
	float: left;
	display: inline;
	margin: 10px 15px 10px 5px;
}
.alignright {
	float: right;
	display: inline;
	margin: 10px 5px 10px 15px;
}
.aligncenter {
	margin: 10px auto;
	display: block;
}
.wp-post-image {
	border: 5px solid #ddd;
}
.gallery {
	margin: 10px auto;
}
.gallery-item {
	float: left;
	margin-top: 10px;
	text-align: center;
	width: 33%;
}
.gallery-caption {
	padding: 0 5px;
}
/*============================ Featured Posts Slider ============================*/

#content-slider {
	margin: 0 5px 20px 0;
	padding: 0;
}
#slideshow {
	width: 560px;
	padding: 0;
	margin:  0;
}
#slideshow .post {
	padding: 0;
	margin: 0;
	border: none;
	width: 560px;
}
#slideshow .post h2 {
	font-size: 1.9em;
	font-weight:normal;
}
#slide_panel {
	float: left;
	font-size: 1.2em;
	margin: 0 0 10px 0;
	line-height: 1.3em;
	padding: 10px;
	width: 545px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	background: url(images/post_bg.png) repeat-x #eee;
}
#slide_head {
	float: left;
	color: #444;
	font-size: 1.0em;
}
#slide_keys {
	float: right;
}
#slide_keys a:link, #slide_keys a:visited {
	font-family: arial, verdana;
	cursor: pointer;
	margin-right: 5px;
	padding: 5px;
	font-weight: bold !important;
	text-decoration: none;
}
#slide_keys a:hover {
	text-decoration: underline;
}
/*============================ Comments ============================*/

#comments, #respond {
	padding: 5px;
	background-color: #fff;
}
#comment_head, #respond h3 {
	font-size: 1.2em;
	color: #444;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 10px;
	background: url(images/post_bg.png) repeat-x #eee;
	margin: 5px 0 15px 0;
}
#comments a:link, #comments a:visited, #respond a:link, #respond a:visited {
	color:#444;
	text-decoration: none;
}
#comments a:hover, #comments a:active, #respond a:hover, #respond a:active {
	color:#555;
	text-decoration: underline;
}
.comment_navi {
	font-size: 0.9em;
	font-weight: bold;
}
.comment_navi .alignright {
	float: right;
}
.commentlist {
	text-align: left;
}
.commentlist .comment {
	margin: 10px 0 10px;
	padding: 10px 5px 10px 10px;
	list-style: none;
	border-top: 1px solid #ccc;
	background: #eee;
}
.comment-author img {
	float: left;
	margin: 5px 10px 15px 0;
}
.comment-author .says {
	display: none;
}
.comment-author .fn {
	line-height: 30px;
	color: #00aa08;
	font-size: 1.2em !important;
}
#comments .children {
	margin-top: 10px;
	margin-left: 25px;
}
.commentlist p {
	clear: left;
	margin: 10px 5px 10px 0;
	font-size: 0.9em;
}
.comment-reply-link {
	text-decoration: underline !important;
	color: #00a60c !important;
}
.bypostauthor {
	border-left: 3px solid #666;
}
#commentform {
	margin: 5px 0 0 0;
}
#commentform p {
	margin: 5px 0 0 10px;
}
#commentform input {
	display: block;
	width: 200px;
	border: 1px solid #ddd;
	background: #eee;
	padding: 3px;
	margin: 5px 0;
}
#commentform textarea {
	width: 532px;
	border: 1px solid #ddd;
	background: #eee;
	padding: 3px;
	margin: 5px 0;
}
#commentform #submit {
	font-weight: bold;
	margin: 10px 0;
	border: 1px solid #ddd;
	padding: 5px;
	background: url(images/button.png) repeat-x #eee;
}
#commentform #submit:hover {
	background: url(images/button_hover.png) repeat-x #eee;
	cursor: pointer;
}
#commentform label {
	font-size: 1.2em;
}
.nocomments {
	margin: 0;
	padding: 0;
}
/*============================ WP-Pagenavi ============================*/

.wp-pagenavi {
	margin: 5px 0;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 5px;
	background: url(images/sidebar_bg.png) repeat-x #eee;
}
.wp-pagenavi .pages {
	float: right;
	margin-right: 10px;
}
.wp-pagenavi a {
	margin: 0 5px 0 0;
	padding: 4px 5px;
	color: #333 !important;
	text-align: center;
	font-size: 1.0em;
	font-weight: bold;
	text-decoration: none;
}
.wp-pagenavi a:hover {
	text-decoration: underline;
}
.wp-pagenavi .current {
	margin: 0 5px 0 0;
	padding: 4px 8px;
	color: #00a60c;
	font-size: 1.0em;
	font-weight: bold;
	text-align: center;
	font-weight: bold;
	text-decoration: underline;
}
/*============================ FOOT ============================*/

#footer {
	border-top: 2px solid #ccc;
	margin: 25px 0;
	padding: 10px;
}
#footer a {
	color: #444;
}
#footer a:hover {
	text-decoration: none;
}
.credit_link {
	float: right;
	margin-right: 10px;
	font-size: 0.8em;
}
/* Admin */
li.leaf-what-we-do div.om-maximenu-content {
	width:1023px;
}
li.leaf-how-we-do div.om-maximenu-content {
	width:1023px;
	width: 1023px;
	margin-left: -119px;
}
li.leaf-who-we-are div.om-maximenu-content {
	width: 1023px;
	margin-left: -236px;
}
li.leaf-resources div.om-maximenu-content {
	width: 1023px;
	margin-left: -356px;
}
li.leaf-web div.om-maximenu-content {
	width: 900px;
	margin-top: 20px;
	font-family: Arial, Helvetica, sans-serif;
}
div.om-maximenu-middle-left {
	background:#E1F2FB;
}
/* note :  id's will be different in diffferent sites. need to check out for maximenu block ids to place this backgroun hover images. */ 
.om-maximenu.om-maximenu-block.om-maximenu-row ul.om-menu li.om-leaf .om-link {
	float: left;
	/*cursor: default;*/
	cursor: pointer;
}
#block-om_maximenu-om-maximenu-15 {
	/*background-image: url(http://www.people10.com/sites/all/themes/people10/images/web48whitepx.png)*/;
	background-repeat: no-repeat;
	background-position: 96px 7px;
	background-size: 26px;
}
#block-om_maximenu-om-maximenu-15:hover {
	/*background-image: url(http://www.people10.com/sites/all/themes/people10/images/web48px.png);*/
	background-color: #E1F2FB;
	color: #2C3E50;
}
#block-om_maximenu-om-maximenu-13 {
	/*background-image: url(http://www.people10.com/sites/all/themes/people10/images/mobile48whitepx.png);*/
	background-repeat: no-repeat;
	background-position: 96px 7px;
	background-size: 26px;
}
#block-om_maximenu-om-maximenu-13:hover {
	/*background-image: url(http://www.people10.com/sites/all/themes/people10/images/mobile48px.png);*/
	background-color: #E1F2FB;
	color: #2C3E50;
}
#block-om_maximenu-om-maximenu-12 {
	/*background-image: url(http://www.people10.com/sites/all/themes/people10/images/cloud48whitepx.png);*/
	background-repeat: no-repeat;
	background-position: 96px 7px;
	background-size: 26px;
}
#block-om_maximenu-om-maximenu-12:hover {
	/*background-image: url(http://www.people10.com/sites/all/themes/people10/images/cloud48px.png);*/
	background-color: #E1F2FB;
	color: #2C3E50;
}
#block-om_maximenu-om-maximenu-14 {
	/*background-image: url(http://www.people10.com/sites/all/themes/people10/images/data48whitepx.png);*/
	background-repeat: no-repeat;
	background-position: 96px 7px;
	background-size: 26px;
}
#block-om_maximenu-om-maximenu-14:hover {
	/*background-image: url(http://www.people10.com/sites/all/themes/people10/images/data48px.png);*/
	background-color: #E1F2FB;
	color: #2C3E50;
}
#block-om_maximenu-om-maximenu-16 {
	/*background-image: url(http://www.people10.com/sites/all/themes/people10/images/agile48whitepx.png);*/
	background-repeat: no-repeat;
	background-position: 96px 7px;
	background-size: 26px;
}
#block-om_maximenu-om-maximenu-16:hover {
	/*background-image: url(http://www.people10.com/sites/all/themes/people10/images/agile48px.png);*/
	background-color: #E1F2FB;
	color: #2C3E50;

}
#block-om_maximenu-om-maximenu-17:hover {
	background-color: #E1F2FB;
	color: #2C3E50;
}
#block-om_maximenu-om-maximenu-18:hover {
	background-color: #E1F2FB;
	color: #2C3E50;
}
li.leaf-mobile div.om-maximenu-content {
	width: 900px;
	margin-left: -128px;
	margin-top:20px;
}
li.leaf-cloud div.om-maximenu-content {
	width: 900px;
	margin-left:-256px;
	margin-top:20px;
}
li.leaf-data div.om-maximenu-content {
	width: 900px;
	margin-left: -384px;
	margin-top: 20px;
}
li.leaf-agile div.om-maximenu-content {
	width: 900px;
	margin-left: -512px;
	margin-top: 20px;
}
li.leaf-approach {
	font-size:22px;
}
li.leaf-approach div.om-maximenu-content {
	width: 270px;
	font-size:12px;
	margin-top:20px;
}
li.leaf-company {
	font-size:22px;
}
li.leaf-company div.om-maximenu-content {
	width: 192px;
	margin-left: /*-769px*/ -60px;
	margin-top:27px;
}
#block-om_maximenu-om-maximenu-18 {
	border-right: none;
	width:132px;
}
.om-maximenu-middle-right .block-menu-id-menu-how-we-do-links ul.menu li.expanded ul li a {
	font-size: 17px;
	font-family: "Myriad_Pro_Condensed", "Arial Narrow", "arial", "helvetica", "Sans-Serif";
	font-weight: normal;
	color:#2C3E50 !important;
	text-decoration:none;
}
.om-maximenu-middle-right .block-menu-id-menu-who-we-are-links ul.menu li.expanded ul li a {
	font-size:12px;
}
.om-maximenu-middle-right .block-menu-id-menu-customers-links ul.menu li.expanded ul li a {
	color: #2C3E50;
	font-family: "Myriad_Pro_Condensed", "Arial Narrow", "arial", "helvetica", "Sans-Serif";
	font-weight: normal;
	font-size: 17px;
	text-transform:uppercase;
	margin-top:-20px;
	color:#2C3E50 !important;
	text-decoration:none;
}
.om-maximenu-middle-right .block-menu-id-menu-who-we-are ul.menu li.expanded ul li a {
	color: #2C3E50;
	font-weight: normal;
	font-family: "Myriad_Pro_Condensed", "Arial Narrow", "arial", "helvetica", "Sans-Serif";
	font-weight: normal;
	font-size: 17px;
	text-transform:uppercase;
	color:#2C3E50 !important;
	text-decoration:none;
}
block-menu-id-menu-who-we-are /* this is menu download block */
 #main-container {
	width:970px;
	height:398px;
	padding-left:19px;
	font-family: Arial, Helvetica, sans-serif;
}
.block-menu-region {
	width: 168px;
	height: 220px;
	border-right: 1px solid #ccc;
	float: left;
}
.block-title {
	font-size: 22px;
	color: #2C3E50 !important;
	margin-left: 10px;
	font-family: "Myriad_Pro_Condensed", "Arial Narrow", "arial", "helvetica", "Sans-Serif";
	font-weight: normal;
	text-transform: uppercase;
	margin: 10px 0;
	text-decoration: none !important;
}
.block-menu-region p {
	font-weight: normal;
	color: #2C3E50;
	font-family: "Myriad_Pro_Condensed", "Arial Narrow", "arial", "helvetica", "Sans-Serif";
	font-size: 16px;
	padding-right:5px;
}
#some_space {
	height:20px;
	width:1023px;
	background-color:#f2f2f2;
}
h6.block-set-title {
	font-size:20px;
	color:grey;
	margin:20px;
}
.menu-block-image {
	float: right;
	height: 90px;
	width: auto;
	margin-right: 54px;
	margin-top: -91px;
}
#block-set1 {
	width: 460px;
	height: auto;
	border-right: 1px solid #e9e9e9;
	float: left;
	margin-left: 20px;
}
#block-set1 .description, #block-set2 .description {
	margin-left:20px;
	color:grey;
	font-weight:normal;
}
#block-set1 .download, #block-set2 .download {
	margin-left:20px;
	color:firebrick;
	font-size:13px;
	font-weight:bold;
}
#block-set2 {
	width: 460px;
	height: auto;
	float: left;
	margin-left:20px;
}
#block5 {
	border-right:none;
}
.menu-block-download-title {
	color: #2C3E50;
	margin-left: 10px;
	font-size: 20px;
	font-family: "Myriad_Pro_Condensed", "Arial Narrow", "arial", "helvetica", "Sans-Serif";
	font-weight: normal;
}
a.menu-block-download-link {
	font-size: 18px;
	color: firebrick;
	font-family: "Myriad_Pro_Condensed", "Arial Narrow", "arial", "helvetica", "Sans-Serif";
	font-weight: normal;
}
.two-column-downnload-block {
	width: 880px;
	display: inline-block;
	border-top: 1px solid #CCC;
	height: 50px;
}
#wrapper {
	margin: 30px auto;
	width: 900px;
	padding: 20px 50px 0 50px;
	border: 5px solid #ddd;
	text-align: left;
	background-color: #fff;
	-moz-border-radius:5px; /* Firefox */
	-webkit-border-radius:5px; /* Safari, Chrome */
	-khtml-border-radius:5px; /* Konqueror */
}
#header {
	float: left;
	width: 900px;
	border-bottom: 2px solid #bbb;
}
.block-om_maximenu {
	color: #FFF;
	font-size: 32px;
	font-family: "Myriad_Pro_Condensed", "Arial Narrow", "arial", "helvetica", "Sans-Serif";
	font-weight: normal;
	text-transform: uppercase;
	width: 127px;
	float: left;
	height: 57px;
	padding-top: 5px;
	border-right: 1px solid #51667A;
}
.om-maximenu.om-maximenu-block ul.om-menu li.om-leaf .om-link span.om-subtitle {
	font-size: 13px;
}
.om-maximenu ul.om-menu li.om-leaf:hover {
	color: #2C3E50;
}
.om-maximenu ul.om-menu li.om-leaf .om-link {
	display: block;
	padding: 0 15px;
	margin: 0;
	height: 55px;
	line-height: 30px;
}

.block-menu-region h2 {
	font-size: 22px;
	color: #2C3E50;
	margin-left: 10px;
	font-family: "Myriad_Pro_Condensed", "Arial Narrow", "arial", "helvetica", "Sans-Serif";
	font-weight: normal;
	text-transform: uppercase;
	margin-top: 5px;
}

#event {
	width:555px;
	height:115px;
}
#advertisement {
	margin-top:15px;
	margin-bottom:-18px;
	width:900px;
}
#wrapper1 {
	height:62px;
	width:900px;
	background:#2C3E50
}
#main-container {
	width:900px;
	height:268px;
}
.paragraph_context {
	margin:5px 0;
	color: #2C3E50 !important;
}
.paragraph_context a {
	margin-top: 10px;
	color: #2C3E50 !important;
	text-decoration: none !important;
}
