/*======================================

Theme Name: zeeCorporate

Theme URI: http://themezee.com/zeecorporate

Description: A smart and clean two column theme with great features: Custom Logo, Several predefined Color Schemes, Unlimited Colors via Colorpicker, Content Slider, 125x125 Banner Widget, SocialMedia Buttons Widget, Dropdown Navigation, Theme Option Panel and more

Version: 1.1

Author: ThemeZee

Author URI: http://themezee.com

Tags:  two-columns, light, custom-background, sticky-post, custom-menu, threaded-comments, translation-ready, theme-options, fixed-width, custom-colors, custom-header, editor-style, right-sidebar, white, green

License: GNU General Public License v2.0

License URI: http://www.gnu.org/licenses/gpl-2.0.html

======================================*/



/*============================ RESET ============================*/

html, body, div, span, applet, object, iframe,  h1, h2, h3, h4, h5, h6, p, blockquote, pre,  a, abbr, acronym, address, big, cite, code,  del, dfn, font, img, ins, kbd, q, s, samp,  small, strike, sub, sup, tt, var,  dl, dt, dd, ol, ul, li,  fieldset, form, label, legend,  table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 99%;
	font-family: inherit;
	vertical-align: baseline;
}
/*============================ SETUP ============================*/

body {
	font-family: Verdana, Arial, Tahoma;
	font-size: 0.9em;
	border: 0;
	color: #222;
	background: #fff;
}
ul, ol {
	list-style: none;
}
img {
	border: none;
	border-collapse: none;
}
.clear {
	clear: both;
}
a, a:link, a:visited {
	color: #00aa08;
	text-decoration: underline;
}
a:hover, a:active {
	text-decoration: none;
}
input, textarea {
	background-color: #eee;
	margin: 5px;
	border: 1px solid #ddd;
	color: #333;
}
/*============================ WRAPPER ============================*/

#wrapper {
	margin: 30px auto;
	width: 900px;
	padding: 20px 50px 0 50px;
	border: 5px solid #ddd;
	text-align: left;
	background-color: #fff;
	-moz-border-radius:5px; /* Firefox */
	-webkit-border-radius:5px; /* Safari, Chrome */
	-khtml-border-radius:5px; /* Konqueror */
}
#header {
	float: left;
	width: 900px;
	border-bottom: 2px solid #bbb;
}
/*============================ STRUCTURE ============================*/

#wrap {
	margin: 40px 0 20px 0;
}
#content {
	width: 570px;
	float: left;
}
.fullwidth {
	width: 900px !important;
}
/*============================ SIDEBAR ============================*/

#sidebar {
	width: 290px;
	margin-left: 590px;
	background: #eee;
	padding: 10px;
	border-top: 1px solid #ddd;
}
#sidebar ul li h2 {
	color: #006699;
	padding: 5px;
	line-height: 1.3em;
	font-size: 1.1em;
	font-weight: bold;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	background: url(images/sidebar_bg.png) repeat-x #eee;
}
#sidebar ul li {
	margin-bottom: 15px;
	font-size: 0.95em;
}
#sidebar ul li ul {
	padding: 5px 0;
	margin-bottom: 5px;
	background: #fff;
	list-style: url(images/sidebar_arrow.png) inside;
}
#sidebar ul li div {
	padding: 5px 10px;
	margin-bottom: 5px;
	font-size: 1.0em;
	background: #fff;
}
#sidebar a, #sidebar ul {
	font-size: 1.0em;
}
#sidebar a:link, #sidebar a:visited {
	color:#333;
	text-decoration: none;
}
#sidebar a:hover, #sidebar a:active {
	color:#777;
	text-decoration: underline;
}
#sidebar ul ul li {
	margin: 7px 10px;
	padding: 0;
	border: 0;
}
#sidebar ul ul ul {
	border: none;
	padding: 0;
	margin: 0;
}
#sidebar .children {
	margin-top: 10px;
	margin-left: 10px;
	background: none;
}
/* Theme SocialMedia Widget */

#socialmedia_buttons img {
	margin: 4px;
}
/* Theme Ads Widget */

#ads img {
	margin: 3px;
}
/* Theme Search Widget */

.screen-reader-text {
	display: none;
}
#s {
	background: #eee;
	border: 1px solid #ddd;
	padding: 6px 5px;
	font-size: 1.0em;
	font-weight: bold;
	color: #333;
	width: 150px;
}
#searchsubmit {
	margin-left: 5px;
	padding: 5px 10px;
	color: #333;
	font-size: 1.0em;
	font-weight: bold;
	cursor: pointer;
	border: 1px solid #ddd;
	background: url(images/button.png) repeat-x #eee;
}
#searchsubmit:hover {
	background: url(images/button_hover.png) repeat-x #eee;
}
/*============================ HEADER ============================*/

#logo {
	float: left;
	margin: 10px 0;
}
#logo h1 {
	font-size: 1.8em;
	color: #333;
	text-decoration: none;
}
/*============================ TOP NAVIGATION ============================*/

#navi {
	float: right;
	margin-top: 5px;
	padding: 5px 0;
}
*html #navi ul li {
	float: left;
}
#navi ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
/*Top level list items*/

#navi ul li {
	position: relative;
	display: inline;
	float: left;
	cursor: pointer;
	margin: 5px 0;
	padding: 5px 0;
}
/*Top level menu link items style*/

#navi ul li a {
	padding: 7px 15px;
	font-size: 1.0em;
	font-weight: bold;
	font-family: tahoma, arial;
	color: #333;
}
* html #navi ul li a {
	display: inline-block;
}
#navi ul li a:link, #navi ul li a:visited {
	text-decoration: none !important;
}
#navi ul li a:hover {
	background: #e7e7e7;
	-moz-border-radius-topleft: 10px; /* Firefox */
	-moz-border-radius-topright: 10px;
	-webkit-border-radius: 0; /* Safari, Chrome */
	-khtml-border-radius: 0; /* Konqueror */
}
/*1st sub level menu*/

#navi ul li ul {
	position: absolute;
	display: block;
	visibility: hidden;
	z-index: 10;
	margin: 0;
	padding: 0;
	background: #fff;
	border-top: 5px solid #e7e7e7;
	border-bottom: 2px solid #e7e7e7;
}
/*Sub level menu list items (undo style from Top level List Items)*/

#navi ul li ul li {
	display: list-item;
	width: 160px;
	float: none;
	margin: 0 !important;
	padding: 2px !important;
	border-left: 2px solid #e7e7e7;
	border-right: 2px solid #e7e7e7;
}
/*All subsequent sub menu levels vertical offset after 1st level sub menu */

#navi ul li ul li ul {
	padding: 0 !important;
	margin-top: -2px;
	margin-left: -4px;
	border-top: 2px solid #e7e7e7;
}
/* Sub level menu links style */

#navi ul li ul li a {
	display: block;
	padding: 5px 10px 5px 10px !important;
	font-weight: normal !important;
	color: #007AA9 !important;
	text-decoration: none !important;
	-moz-border-radius: 0 !important; /* Firefox */
	-webkit-border-radius: 0; /* Safari, Chrome */
	-khtml-border-radius: 0; /* Konqueror */
}
#navi ul li ul li a:hover {
	text-decoration: underline;
	background: #e7e7e7;
}
#navi ul li.current_page_item a, #navi ul li.current-cat a, #navi ul li.current-menu-item a {
	color: #00aa08;
	text-decoration: underline !important;
}
/*============================ More_Posts, Calendar ============================*/

#wp-calendar {
	width: 100%;
}
#wp-calendar caption {
	color: #555;
	font-size: 0.9em;
	font-weight: bold;
	margin: 0 0 5px 5px;
	text-align: left;
}
#wp-calendar th {
	color: #333;
	font-size: 0.9em;
	font-weight: bold;
}
#wp-calendar td {
	text-align: center;
}
/*============================ POST ============================*/

.post {
	margin: 5px 10px 35px 0;
}
.sticky {
	padding: 10px;
	border-top: 2px solid #ccc;
	border-left: 8px solid #ddd;
	border-bottom: 4px solid #ccc;
	border-right: 2px solid #ddd;
}
.post_date {
	float: left;
	border-top: 1px solid #ddd;
	border-bottom: 2px solid #ccc;
	padding: 2px;
	margin: 10px 15px 5px 0px;
	font-family: Arial;
}
.post_day {
	display: block;
	font-size: 1.8em;
	font-weight: bold;
	color: #999;
	text-align: center;
}
.post_day a {
	color: #999 !important;
	text-decoration: none !important;
}
.post_year {
	font-size: 0.8em;
	font-weight: bold;
	color: #999;
}
.post h2, .attachment h2 {
	padding-bottom: 2px;
	font-family: Arial, Verdana, sans-serif;
	font-size: 1.9em;
	font-weight:normal;
	color:#00aa08;
}
.page h2 {
	font-size: 2.2em;
}
.post h2 a:link, .post h2 a:visited {
	color:#006699;
	text-decoration: none;
}
.post h2 a:hover, .post h2 a:active {
	text-decoration: underline;
}
.entry {
	line-height: 1.5em;
}
.entry h1, .comment h1 {
	font-size: 1.9em;
	margin: 30px 0 0 0;
	color: #444;
}
.entry h2, .comment h2 {
	font-size: 1.7em;
	margin: 25px 0 0 0;
	padding: 0;
	color: #444;
}
.entry h3, .comment h3 {
	font-size: 1.5em;
	margin: 20px 0 0 0;
	color: #444;
}
.entry h4, .comment h4 {
	font-size: 1.3em;
	margin: 15px 0 0 0;
	color: #444;
}
.entry h5, .comment h5 {
	font-size: 1.2em;
	margin: 10px 0 0 0;
	color: #444;
	font-weight: bold;
}
.entry h6, .comment h6 {
	font-size: 1.0em;
	margin: 5px 0 0 0;
	color: #444;
	font-weight: bold;
}
.entry p {
	margin: 5px 0 15px 0;
}
.entry ul, .comment ul {
	list-style: square inside;
	margin: 0 0 20px 1.5em;
}
blockquote {
	margin-left: 10px;
	padding: 10px 15px;
	font-size: 16px;
	font-weight: normal;
	font-style: italic;
	text-align: justify;
}
blockquote:before {
	content:open-quote;
	color: #333;
	font-size: 45px;
	float: left;
	margin-right: 15px;
}
blockquote:after {
	content:close-quote;
	color: #333;
	font-size: 45px;
	float: right;
}
.arh {
	font-size: 1.2em;
	color:#333;
	line-height: 1.3em;
	margin: 0 10px 10px 0;
	padding: 10px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	background: url(images/post_bg.png) repeat-x #eee;
}
.postmeta {
	font-size: 0.9em;
	font-weight: bold;
	color: #222;
	padding-top: 10px;
}
.postmeta a:link, .postmeta a:visited, .postinfo a:link, .postinfo a:visited {
	color:#444;
	text-decoration: none;
}
.postmeta a:hover, .postmeta a:active, .postinfo a:hover, .postinfo a:active {
	color:#555;
	text-decoration: underline;
}
.postinfo {
	color: #333;
	font-size: 0.9em;
	padding: 5px;
	line-height: 1.3em;
	margin-bottom: 5px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	background: url(images/sidebar_bg.png) repeat-x #eee;
}
.postinfo a {
	margin: 0 !important;
	padding: 0 !important;
}
span.folder, span.tag, span.comment, span.author, span.date {
	padding: 0 5px 3px 19px;
}
span.date {
	background: url(images/calendar.png) no-repeat top left;
}
span.author {
	background: url(images/author.png) no-repeat top left;
}
span.folder {
	margin-top: 2px;
	background: url(images/folder.gif) no-repeat top left;
}
span.comment {
	background: url(images/comment.png) no-repeat top left;
}
span.tag {
	background: url(images/tag.png) no-repeat top left;
}
.more-link {
	display: block;
	float: right;
	margin: 35px 0 20px;
	text-decoration: none !important;
	color: #333 !important;
	font-size: 0.9em;
	font-weight: bold;
}
.moretext {
	padding: 5px 15px;
	background: url(images/button.png) repeat-x;
	border: 1px solid #ddd;
}
.moretext:hover {
	background: url(images/button_hover.png) repeat-x;
}
/*============================ Text Elements ============================*/

.entry ol, .comment ol {
	list-style: decimal inside;
	margin: 0 0 20px 1.5em;
}
.entry ol ol, .comment ol ol {
	list-style: upper-alpha inside;
}
.entry ol ol ol, .comment ol ol ol {
	list-style: lower-roman inside;
}
.entry ol ol ol ol, .comment ol ol ol ol {
	list-style: lower-alpha inside;
}
.entry ul ul, .comment ul ul,  .entry ol ol, .comment ol ol,  .entry ul ol, .comment ul ol  .entry ol ul, .comment ol ul {
	margin-bottom: 5px;
}
dl {
	margin: 10px 0 20px 0;
}
dt {
	font-weight: bold;
}
dd {
	margin-bottom: 20px;
}
strong {
	font-weight: bold;
}
cite,  em,  i {
	font-style: italic;
}
big {
	font-size: 1.3em;
}
ins {
	padding: 1px 2px;
	background: #ffa;
	text-decoration: none;
}
code, pre {
	padding: 3px 8px;
	margin: 0 1px;
	background: #eeeeee;
	color: #222 !important;
	font-size: 0.9em;
	font-family: Monospace, "Courier New", Courier;
	overflow:auto;
}
del, strike, s {
	text-decoration: line-through;
}
pre {
	font-family: "Courier 10 Pitch", Courier, monospace;
}
small {
	font-size: 0.7em;
}
abbr,  acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
sup,  sub {
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
	font-size: 0.8em;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
.entry var, .entry kbd, .entry tt {
	font-size: 1.1em;
	font-family: "Courier 10 Pitch", Courier, monospace;
}
.entry table {
	border-collapse: collapse;
	border-spacing: 0;
	border: 1px solid #ddd;
	margin: 20px 0;
	text-align: left;
	width: 100%;
}
.entry tr th,  .entry thead th {
	color: #555;
	font-size: 1.0em;
	font-weight: bold;
	line-height: 1.0em;
	padding: 5px 15px;
}
.entry tr td {
	border-top: 1px solid #ddd;
	padding: 5px 15px;
}
.entry tr.odd td {
	background: #eee;
}
/*============================ POST Images ============================*/

.entry img {
	max-width: 100%;
	height: auto;
}
.wp-caption {
	margin: 5px;
	max-width: 100%;
	padding: 7px 3px;
	background: #e5e5e5;
	text-align: center;
}
.wp-caption-text {
	margin: 0 !important;
	padding: 0;
	font-size: 0.8em;
	text-align: center;
}
.alignleft {
	float: left;
	display: inline;
	margin: 10px 15px 10px 5px;
}
.alignright {
	float: right;
	display: inline;
	margin: 10px 5px 10px 15px;
}
.aligncenter {
	margin: 10px auto;
	display: block;
}
.wp-post-image {
	border: 5px solid #ddd;
}
.gallery {
	margin: 10px auto;
}
.gallery-item {
	float: left;
	margin-top: 10px;
	text-align: center;
	width: 33%;
}
.gallery-caption {
	padding: 0 5px;
}
/*============================ Featured Posts Slider ============================*/

#content-slider {
	margin: 0 5px 20px 0;
	padding: 0;
}
#slideshow {
	width: 560px;
	padding: 0;
	margin:  0;
}
#slideshow .post {
	padding: 0;
	margin: 0;
	border: none;
	width: 560px;
}
#slideshow .post h2 {
	font-size: 1.9em;
	font-weight:normal;
}
#slide_panel {
	float: left;
	font-size: 1.2em;
	margin: 0 0 10px 0;
	line-height: 1.3em;
	padding: 10px;
	width: 545px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	background: url(images/post_bg.png) repeat-x #eee;
}
#slide_head {
	float: left;
	color: #444;
	font-size: 1.0em;
}
#slide_keys {
	float: right;
}
#slide_keys a:link, #slide_keys a:visited {
	font-family: arial, verdana;
	cursor: pointer;
	margin-right: 5px;
	padding: 5px;
	font-weight: bold !important;
	text-decoration: none;
}
#slide_keys a:hover {
	text-decoration: underline;
}
/*============================ Comments ============================*/

#comments, #respond {
	padding: 5px;
	background-color: #fff;
}
#comment_head, #respond h3 {
	font-size: 1.2em;
	color: #444;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 10px;
	background: url(images/post_bg.png) repeat-x #eee;
	margin: 5px 0 15px 0;
}
#comments a:link, #comments a:visited, #respond a:link, #respond a:visited {
	color:#444;
	text-decoration: none;
}
#comments a:hover, #comments a:active, #respond a:hover, #respond a:active {
	color:#555;
	text-decoration: underline;
}
.comment_navi {
	font-size: 0.9em;
	font-weight: bold;
}
.comment_navi .alignright {
	float: right;
}
.commentlist {
	text-align: left;
}
.commentlist .comment {
	margin: 10px 0 10px;
	padding: 10px 5px 10px 10px;
	list-style: none;
	border-top: 1px solid #ccc;
	background: #eee;
}
.comment-author img {
	float: left;
	margin: 5px 10px 15px 0;
}
.comment-author .says {
	display: none;
}
.comment-author .fn {
	line-height: 30px;
	color: #00aa08;
	font-size: 1.2em !important;
}
#comments .children {
	margin-top: 10px;
	margin-left: 25px;
}
.commentlist p {
	clear: left;
	margin: 10px 5px 10px 0;
	font-size: 0.9em;
}
.comment-reply-link {
	text-decoration: underline !important;
	color: #00a60c !important;
}
.bypostauthor {
	border-left: 3px solid #666;
}
#commentform {
	margin: 5px 0 0 0;
}
#commentform p {
	margin: 5px 0 0 10px;
}
#commentform input {
	display: block;
	width: 200px;
	border: 1px solid #ddd;
	background: #eee;
	padding: 3px;
	margin: 5px 0;
}
#commentform textarea {
	width: 532px;
	border: 1px solid #ddd;
	background: #eee;
	padding: 3px;
	margin: 5px 0;
}
#commentform #submit {
	font-weight: bold;
	margin: 10px 0;
	border: 1px solid #ddd;
	padding: 5px;
	background: url(images/button.png) repeat-x #eee;
}
#commentform #submit:hover {
	background: url(images/button_hover.png) repeat-x #eee;
	cursor: pointer;
}
#commentform label {
	font-size: 1.2em;
}
.nocomments {
	margin: 0;
	padding: 0;
}
/*============================ WP-Pagenavi ============================*/

.wp-pagenavi {
	margin: 5px 0;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 5px;
	background: url(images/sidebar_bg.png) repeat-x #eee;
}
.wp-pagenavi .pages {
	float: right;
	margin-right: 10px;
}
.wp-pagenavi a {
	margin: 0 5px 0 0;
	padding: 4px 5px;
	color: #333 !important;
	text-align: center;
	font-size: 1.0em;
	font-weight: bold;
	text-decoration: none;
}
.wp-pagenavi a:hover {
	text-decoration: underline;
}
.wp-pagenavi .current {
	margin: 0 5px 0 0;
	padding: 4px 8px;
	color: #00a60c;
	font-size: 1.0em;
	font-weight: bold;
	text-align: center;
	font-weight: bold;
	text-decoration: underline;
}
/*============================ FOOT ============================*/

#footer {
	border-top: 2px solid #ccc;
	margin: 25px 0;
	padding: 10px;
}
#footer a {
	color: #444;
}
#footer a:hover {
	text-decoration: none;
}
.credit_link {
	float: right;
	margin-right: 10px;
	font-size: 0.8em;
}


/* Admin */
#om-maximenu-admin table .col-link { width: 75%; } 
#om-maximenu-blocks-get .edit-block { display: inline; }
#om-maximenu-blocks-get .edit-block a { font-weight: bold; }

/* Default OM Maximenu style */
.om-maximenu { height: auto; position: relative; z-index: 100; }
.om-maximenu-content { display: none; }
.om-maximenu .om-maximenu-content { position: absolute; top: 30px; left: 0; min-width: 300px; z-index: 500; }
.om-maximenu .om-maximenu-content .block { position: relative; }
.om-maximenu .om-maximenu-content.open { display: block !important; }
.om-maximenu .om-maximenu-open { position: absolute; bottom: -10px; right: 0; font-size: 9px; height: 15px; line-height: 15px; }
.om-maximenu .om-maximenu-open input { margin: 0 5px 0 0; float: left; }

/* Edit Link */
.om-maximenu .om-maximenu-edit { display: none; position: absolute; top: 0; right: 0; font-size: .7em; background-color: #fff; }
.om-maximenu:hover .om-maximenu-edit { display: block; z-index: 1000; }
.om-maximenu .om-maximenu-edit a { display: block; float: left; margin-left: 3px; height: 0; width: 16px; padding: 16px 0 0; overflow: hidden; background: url(images/icons.gif) 0 0 scroll no-repeat; }
.om-maximenu .om-maximenu-edit a:hover { background-position: 0 -16px; }

/* Blocks Edit */
.om-maximenu-content .edit-block { display: none; position: absolute; top: 0; right: 0; font-size: .7em; background-color: #fff; }
.om-maximenu-content .block:hover .edit-block { display: block; z-index: 1000; }
.om-maximenu-content .block .edit-block a { display: block; float: left; margin-left: 3px; height: 0; width: 16px; padding: 16px 0 0; overflow: hidden; background: url(images/icons.gif) 0 0 scroll no-repeat; }
.om-maximenu-content .block .edit-block a.block-config { background-position: 0 0; }
.om-maximenu-content .block .edit-block a.block-config:hover { background-position: 0 -16px; }
.om-maximenu-content .block .edit-block a.block-edit-menu { background-position: -16px 0; }
.om-maximenu-content .block .edit-block a.block-edit-menu:hover { background-position: -16px -16px; }
.om-maximenu-content .block .edit-block a.block-edit-view { background-position: -32px 0; }
.om-maximenu-content .block .edit-block a.block-edit-view:hover { background-position: -32px -16px; }

/* General */
.om-maximenu ul.om-menu { display: block; padding: 0; margin: 0; height: 30px; position: relative; z-index: 20; }
.om-maximenu ul.om-menu li.om-leaf { display: block; padding: 0; margin: 0; height: 30px; list-style: none; list-style-image: none; position: relative; z-index: 5; }
.om-maximenu ul.om-menu li.om-leaf.om-leaf-icon .om-link { padding: 0; }
.om-maximenu ul.om-menu li.om-leaf .om-link { display: block; padding: 0 15px; margin: 0; height: 30px; line-height: 30px; }
.om-maximenu ul.om-menu li.om-leaf .om-link:hover { cursor: pointer; text-decoration: none; }
.om-maximenu ul.om-menu li.om-leaf:hover .om-maximenu-content-nofade { display: block; } 
.om-maximenu ul.om-menu li.om-leaf .om-link .om-subtitle { line-height: normal; display: block; margin-top: -2px; font-size: .9em; }
.om-clearfix { clear: both; }

.om-maximenu .om-maximenu-content .om-maximenu-top { position: relative; }
.om-maximenu .om-maximenu-content .om-maximenu-bottom { position: relative; }

/* Main Menu */
.om-maximenu.om-maximenu-main-menu .om-maximenu-content {}
.om-maximenu.om-maximenu-main-menu ul.om-menu { float: left; }
.om-maximenu.om-maximenu-main-menu ul.om-menu li.om-leaf { float: left; }
.om-maximenu.om-maximenu-main-menu ul.om-menu li.om-leaf .om-link { float: left; }

/* Stacking */
.om-maximenu.om-maximenu-block.om-maximenu-row ul.om-menu li.om-leaf { float: left; }
.om-maximenu.om-maximenu-block.om-maximenu-row ul.om-menu li.om-leaf .om-link { float: left;  }
.om-maximenu.om-maximenu-block.om-maximenu-column { height: auto; }
.om-maximenu.om-maximenu-block.om-maximenu-column ul.om-menu { float: none; height: auto; }
.om-maximenu.om-maximenu-block.om-maximenu-column ul.om-menu li.om-leaf { float: none; height: auto; }
.om-maximenu.om-maximenu-block.om-maximenu-column ul.om-menu li.om-leaf .om-link { float: none; height: auto; }

.om-maximenu.om-maximenu-float.om-maximenu-row ul.om-menu li.om-leaf { float: left; }
.om-maximenu.om-maximenu-float.om-maximenu-row ul.om-menu li.om-leaf .om-link { float: left;  }
.om-maximenu.om-maximenu-float.om-maximenu-column { height: auto; }
.om-maximenu.om-maximenu-float.om-maximenu-column ul.om-menu { float: none; height: auto; }
.om-maximenu.om-maximenu-float.om-maximenu-column ul.om-menu li.om-leaf { float: none; height: auto; }
.om-maximenu.om-maximenu-float.om-maximenu-column ul.om-menu li.om-leaf .om-link { float: none; height: auto; }

/* Orientation */
.om-maximenu.om-maximenu-horizontal {}
.om-maximenu.om-maximenu-vertical { height: auto; width: 30px; }
.om-maximenu.om-maximenu-vertical ul.om-menu { height: auto; width: 30px; }
.om-maximenu.om-maximenu-vertical ul.om-menu li.om-leaf { height: auto; width: 30px; }
.om-maximenu.om-maximenu-vertical ul.om-menu li.om-leaf .om-link { height: auto; width: 30px; padding: 30px 0; line-height: normal; }
.om-maximenu.om-maximenu-vertical.om-maximenu-left ul.om-menu li.om-leaf .om-link { -webkit-transform: rotate(-270deg); -moz-transform: rotate(-270deg); filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); }
.om-maximenu.om-maximenu-vertical.om-maximenu-left .om-maximenu-content { margin-left: 15px; }

.om-maximenu.om-maximenu-vertical.om-maximenu-right ul.om-menu li.om-leaf .om-link { -webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg); filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1); }
.om-maximenu.om-maximenu-vertical.om-maximenu-right .om-maximenu-content { margin-right: 15px; }

.om-maximenu.om-maximenu-float.om-maximenu-column.om-maximenu-vertical.om-maximenu-left .om-maximenu-content,
.om-maximenu.om-maximenu-float.om-maximenu-column.om-maximenu-vertical.om-maximenu-right .om-maximenu-content { top: -20px; }

/* Dock Effect */
.om-maximenu.om-maximenu-dock { height: auto; }
.om-maximenu.om-maximenu-dock ul.om-menu { height: auto; }
.om-maximenu.om-maximenu-dock ul.om-menu li.om-leaf-icon { height: auto; }
.om-maximenu.om-maximenu-dock ul.om-menu li.om-leaf-icon .om-link { height: auto; }
.om-maximenu.om-maximenu-dock ul.om-menu li.om-leaf-icon .om-link img {}
.om-maximenu.om-maximenu-dock.om-maximenu-vertical ul.om-menu li.om-leaf-icon .om-link { padding: 0; }
.om-maximenu.om-maximenu-dock.om-maximenu-left ul.om-menu li.om-leaf-icon { text-align: left; }
.om-maximenu.om-maximenu-dock.om-maximenu-right ul.om-menu li.om-leaf-icon { text-align: right; }
.om-maximenu.om-maximenu-dock.om-maximenu-middle ul.om-menu { width: auto; }
.om-maximenu.om-maximenu-dock.om-maximenu-middle ul.om-menu li.om-leaf-icon { text-align: center;  }

.om-maximenu.om-maximenu-dock.om-maximenu-bottom,
.om-maximenu.om-maximenu-dock.om-maximenu-bottom ul.om-menu,
.om-maximenu.om-maximenu-dock.om-maximenu-bottom ul.om-menu li.om-leaf-icon,
.om-maximenu.om-maximenu-dock.om-maximenu-bottom ul.om-menu li.om-leaf-icon .om-link,
.om-maximenu.om-maximenu-dock.om-maximenu-bottom ul.om-menu li.om-leaf-icon .om-link img { vertical-align: bottom; float: none; display: inline; }
.om-maximenu.om-maximenu-dock.om-maximenu-bottom ul.om-menu li.om-leaf-icon .om-maximenu-content { bottom: 50px; }

.om-maximenu.om-maximenu-dock.om-maximenu-top ul.om-menu li.om-leaf-icon .om-maximenu-content { top: 50px; }
.om-maximenu.om-maximenu-dock.om-maximenu-top.om-maximenu-column ul.om-menu li.om-leaf-icon .om-maximenu-content { top: -30px; }
.om-maximenu.om-maximenu-dock.om-maximenu-top { height: 30px; }

.om-maximenu.om-maximenu-dock.om-maximenu-column.om-maximenu-top { height: auto; }
.om-maximenu.om-maximenu-dock.om-maximenu-column.om-maximenu-top.om-maximenu-column ul.om-menu { height: auto; }

/* Float */
.om-maximenu.om-maximenu-float {}
.om-maximenu.om-maximenu-float .om-maximenu-content { text-align: left; }

.om-maximenu.om-maximenu-float.om-maximenu-left { right: auto; }
.om-maximenu.om-maximenu-float.om-maximenu-left ul.om-menu { position: relative; left: 0; }
.om-maximenu.om-maximenu-float.om-maximenu-left .om-maximenu-content { left: 10px; right: auto; }
.om-maximenu.om-maximenu-float.om-maximenu-right { left: auto; }
.om-maximenu.om-maximenu-float.om-maximenu-right ul.om-menu { position: relative; right: 0; }
.om-maximenu.om-maximenu-float.om-maximenu-right .om-maximenu-content { right: 10px; left: auto; }

.om-maximenu.om-maximenu-float.om-maximenu-middle { bottom: 0; left: 0; right: 0; margin: 0 auto; z-index: 190; text-align: center; }
.om-maximenu.om-maximenu-float.om-maximenu-middle .om-maximenu-content {}
.om-maximenu.om-maximenu-float.om-maximenu-middle ul.om-menu { width: auto; margin: 0 auto; text-align: center; }
.om-maximenu.om-maximenu-float.om-maximenu-middle ul.om-menu li.om-leaf { display: inline-block; float: none; }
.om-maximenu.om-maximenu-float.om-maximenu-middle ul.om-menu li.om-leaf .om-link { display: inline-block; float: none; }

.om-maximenu.om-maximenu-float.om-maximenu-top { height: 30px; }
.om-maximenu.om-maximenu-float.om-maximenu-top .om-maximenu-content { bottom: auto; top: 30px; }
.om-maximenu.om-maximenu-float.om-maximenu-bottom {}
.om-maximenu.om-maximenu-float.om-maximenu-bottom .om-maximenu-content { top: auto; bottom: 30px; }

.om-maximenu.om-maximenu-float.om-maximenu-row {}
.om-maximenu.om-maximenu-float.om-maximenu-column {}

.om-maximenu.om-maximenu-float.om-maximenu-column.om-maximenu-left .om-maximenu-content { top: -50px; left: 100%; right: auto; }
.om-maximenu.om-maximenu-float.om-maximenu-column.om-maximenu-right .om-maximenu-content { top: -50px; right: 100%; left: auto; }

/* Block */
.om-maximenu.om-maximenu-block {}
.om-maximenu.om-maximenu-block .om-maximenu-content { z-index: 500; }
.om-maximenu.om-maximenu-block ul.om-menu { float: left; }
.om-maximenu.om-maximenu-block ul.om-menu li.om-leaf { float: left; }
.om-maximenu.om-maximenu-block ul.om-menu li.om-leaf .om-link { float: left; }

.om-maximenu.om-maximenu-block-down .om-maximenu-content {}
.om-maximenu.om-maximenu-block.om-maximenu-block-up .om-maximenu-content { top: auto; bottom: 30px; }

.om-maximenu.om-maximenu-block.om-maximenu-block-right .om-maximenu-content { top: -50px; left: 100%; right: auto; }
.om-maximenu.om-maximenu-block.om-maximenu-block-left .om-maximenu-content { top: -50px; right: 100%; left: auto; }

/* Slider */
.om-maximenu ul.om-menu li.backLava { position: absolute; top: 5px; height: 20px; background: #f2f2f2; z-index: 10; z-index: 3; }
.om-maximenu ul.om-menu li.backLava .leftLava {}
.om-maximenu ul.om-menu li.backLava .bottomLava {}
.om-maximenu ul.om-menu li.backLava .cornerLava {}

/* OM Maximenu Content - no style */
.om-maximenu .om-maximenu-content { left: 0; top: 30px; padding: 0;  }

*+html .om-maximenu .om-maximenu-content { width: 300px; } /* IE 7 */

.om-maximenu .om-maximenu-arrow { }

.om-maximenu .om-maximenu-top { width: 100%; }
.om-maximenu .om-maximenu-top-left {}
.om-maximenu .om-maximenu-top-right {}

.om-maximenu .om-maximenu-middle { background: none #fff; width: 100%; }
.om-maximenu .om-maximenu-middle-left {}
.om-maximenu .om-maximenu-middle-right { padding: 10px; }

*+html .om-maximenu .om-maximenu-middle-right { width: 300px; margin-left: 20px; padding-left: 0; } /* IE 7 */

.om-maximenu .om-maximenu-bottom { width: 100%; }
.om-maximenu .om-maximenu-bottom-left {}
.om-maximenu .om-maximenu-bottom-right {}

/* Link Slider */
.om-link-slider { display: block; height: 30px; line-height: 30px; margin: 0;  padding: 0 15px; overflow: hidden; }

/* Displace */
.om-maximenu .om-maximenu-content.om-maximenu-displace { top: 0; margin-left: 0; /* IE7 */ left: 0; } /* should be set to no style */
.om-maximenu .om-maximenu-content.om-maximenu-displace .om-maximenu-open { display: none; }
.om-maximenu-row .om-link { position: relative; } 
.om-maximenu-row .om-maximenu-content.om-maximenu-displace { float: left; }

/* Tabbed */
.om-maximenu-float .om-maximenu-tabbed-content { width: 480px; }
.om-maximenu-tabbed-content { clear: both; }
.om-maximenu-tabbed-scrollh .om-maximenu-tabbed-content,
.om-maximenu-tabbed-scrollv .om-maximenu-tabbed-content { height: 100px; overflow: hidden; }
.om-maximenu-tabbed-content-inner {}
.om-tabbed-content { float: left; }
.om-tabbed-content-hide { display: none; }

/* Accordion */
.easy-accordion { display: block; position: relative; overflow: hidden; padding: 0; margin: 0; background-color: #f2f2f2; }
.easy-accordion dt,.easy-accordion dd { margin: 0; padding: 0; position: absolute; }
.easy-accordion dt { position: absolute !important; background-color: #f2f2f2; height: 46px; line-height: 44px; padding: 0 15px 0 0; text-align: right; margin-bottom: 0; margin-left: 0; z-index: 5;/* Safari */ -webkit-transform: rotate(-90deg); /* Firefox */ -moz-transform: rotate(-90deg);-moz-transform-origin: 20px 0px; /* Internet Explorer */ filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); cursor: pointer; }
.easy-accordion dt.active { cursor: pointer; color: #fff; background-color: #666; }
.easy-accordion dt.hover { color:#fff; background-color: #999; }
.easy-accordion dd { z-index: 1; opacity: 0; overflow: hidden; padding: 10px; background: #fff; }
.easy-accordion dd.active { opacity: 1; z-index: 3; }
.easy-accordion dd.no-more-active { z-index: 2; opacity: 1; }
.easy-accordion dd.plus { z-index: 4 }
.easy-accordion .slide-number { position: absolute; bottom: 0; left: 10px; font-weight: normal; font-size: 1.1em; /* Safari */ -webkit-transform: rotate(90deg); /* Firefox */ -moz-transform: rotate(90deg); /* Internet Explorer */ filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1); }
.om-maximenu-style-accordion.om-maximenu-float { width: 480px; }
.om-maximenu-style-accordion { height: 245px; }

/* Round About */
.om-maximenu-style-roundabout.om-maximenu-float { width: 480px; }
.roundabout-holder { height: 200px; display: block; padding: 0; margin: 0; }
.roundabout-holder .om-leaf { list-style: none; list-style-image: none; display: block; padding: 0; margin: 0; }
.om-maximenu-roundabout-content { padding: 10px; border: 1px solid #999; background-color: #fff; }

/* Long Menu */
.om-menu-ul-wrapper { position: relative; }
.om-menu-scroller { z-index: 100; font-weight: bold; background-color: #ccc; cursor: pointer; text-align: center; }
.om-menu-scroller:hover { color: #fff; }

.om-maximenu-row .om-menu-scroller {  position: absolute; height: 30px; width: 30px; line-height: 30px; }
.om-maximenu-row .om-menu-previous { top: 0; left: 0; }
.om-maximenu-row .om-menu-next { top: 0; right: 0; }
.om-maximenu-column .om-menu-scroller { height: 20px; line-height: 20px; }
.om-maximenu-column .om-menu-previous {}
.om-maximenu-column .om-menu-next {}

/* Modal */
#om-maximenu-mask { position: absolute; left: 0; top: 0; z-index: 2990; background-color: #000; display: none; }
#om-maximenu-modal-widows .om-maximenu-modal-content { position: fixed; z-index: 3000 !important; padding: 20px; height: auto; width: auto; }
#om-maximenu-modal-widows .om-maximenu-modal-content .om-maximenu-close { color: #fff; cursor: pointer; text-align: right; }
#om-maximenu-modal-widows .om-maximenu-modal-content .block { position: relative; }



/* main menu styles */
.block-om_maximenu{color:#fff; border-left:1px solid #007AA9; height:41px; font-size:1.3em; font-weight:bold;float:left; padding:7px 0 0 0; margin:2px 0 0 0; display:block;}
.block-om_maximenu:hover{background:#fff; margin:2px 0 0 0; height:41px;/*border-left:solid 1px #09F; border-right: solid 1px #09f;*/ border-top:solid 1px #09f; border-top-left-radius:5px;border-top-right-radius:5px;padding:7px 0 0 0; color:#009acc; display:block;}
.block-om_maximenu h3{color:#999; display:none;}
.block-om_maximenu .block-block h3{display:block; color:#007AA9; font-size:0.9em; margin:0; font-weight:normal; /*padding:0 0 0 10px;*/}
.block-om_maximenu .block-block h3 a{font-size:0.9em;}
.om-maximenu .block-menu{float:left;}
.om-maximenu .block-menu ul{padding:0; margin:0;}
.om-maximenu-no-style .om-maximenu-content{left:-1px; top:41px;}
.om-maximenu-no-style .om-maximenu-middle{background: url(images/mega_menu_bg.jpg) repeat-x left bottom #fff; border-left:solid 1px #007aa9; border-right: solid 1px #007aa9; border-bottom:solid 1px #007aa9;}
.om-maximenu-middle-right .block-menu{display:inline; width:170px;}
.leaf-what-we-do .om-maximenu-middle-right .block-menu{display:inline; width:210px;}
.om-maximenu ul.om-menu li.om-leaf{height:41px;}
.om-maximenu ul.om-menu li.om-leaf:hover{color:#009ACC;}
.om-maximenu ul.om-menu li.om-leaf a{color:inherit;}
.om-maximenu ul.om-menu li.om-leaf a:hover{color:inherit;}
/*.om-maximenu ul.om-menu li.om-leaf .om-link{color:#fff; height:41px;}
.om-maximenu ul.om-menu li.om-leaf .om-link:hover{color:#009ACC; height:41px;}*/
.om-maximenu-middle-right .block-menu ul.menu li.expanded a.active,.om-maximenu-middle-right .block-menu ul.menu li.expanded a.active:hover{color:#f00!important; border:0;}
.om-maximenu-middle-right .block-menu ul.menu li.expanded{list-style-image:none; color:#003466; list-style:none;font-size:1em;}
.om-maximenu-middle-right .block-menu ul.menu li.expanded a{font-size:0.9em;color:#003466;}
.om-maximenu-middle-right .block-menu ul.menu li.expanded ul{ padding:0; margin:7px 0 0 0; font-size:0.9em;}
.om-maximenu-middle-right .block-menu ul.menu li.expanded ul li{list-style:none; list-style-image:none; padding:0 0 3px 0; margin:0; font-weight:normal;}
.om-maximenu-middle-right .block-menu ul.menu li.expanded ul li a{color:#007aa9;font-weight:normal;}
.om-maximenu-middle-right .block-menu ul.menu li.expanded ul li a:hover{color:#007aa9;font-weight:normal; border-bottom:solid 1px #009bcb;}
.om-maximenu-middle-right .block-menu ul.menu li.expanded span.nolink{display:none; }
.om-maximenu-middle-right .block-menu ul.menu li.expanded ul li span.nolink{display:inline; font-weight:bold;}
.om-maximenu-middle-right .block-menu ul.menu li.expanded ul li.expanded a{font-size:1em; color:#003466; font-weight:bold;}
.om-maximenu-middle-right .block-menu ul.menu li.expanded ul li.expanded ul li a{color:#007aa9; font-weight:normal;}
/*.block-om_maximenu .om-maximenu-block ul.om-menu li.om-leaf a{color:#009acc; display:block; height:41px;}
.block-om_maximenu .om-maximenu-block ul.om-menu li.om-leaf a:hover{color:#009acc; display:block; height:41px;}*/

li.leaf-what-we-do div.om-maximenu-content{width:860px;}
li.leaf-what-we-do div.om-maximenu-content img{position:absolute; top:0;}
li.leaf-who-we-are div.om-maximenu-content{width:360px;}
.om-maximenu .om-maximenu-content{min-width:170px;}
#header_new{background:url(images/nav-bg.png) repeat-x 0 0; height:51px;}
#header_new a{ text-decoration:none;}
body.custom-background { background-color: #517399; }


#wrapper {
	margin: 30px auto;
	width: 900px;
	padding: 20px 50px 0 50px;
	border: 5px solid #ddd;
	text-align: left;
	background-color: #fff;
	-moz-border-radius:5px; /* Firefox */
	-webkit-border-radius:5px; /* Safari, Chrome */
	-khtml-border-radius:5px; /* Konqueror */
}
#header {
	float: left;
	width: 900px;
    border-bottom: 2px solid #bbb;
}
