/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Typography
# General
# Layout
# Transitions
# Forms
# Tables
# Navigation
    ## Links
    ## Menus
# Pages
    ## Product Archive
    ## Single Product
    ## My Account
    ## Cart
   ## Checkout
# Media
# Clearings
# Widgets
# Responsive
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

.woocommerce-FormRow label,
.woocommerce-product-rating .star-rating {
    font-size: 15px;
}

/* Colors */

.form-row label .required {
    color: #999;
}

/* Fonts */

@font-face {
    font-family: star;
    src: url(../../fonts/star.eot);
    src: url(../../fonts/star.eot?#iefix) format('embedded-opentype'),
    url(../../fonts/star.woff) format('woff'),
    url(../../fonts/star.ttf) format('truetype'),
    url(../../fonts/star.svg#star) format('svg');
    font-weight: 400;
    font-style: normal
}


/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

.woocommerce form.woocommerce-ordering {
    float: right;
}

.woocommerce form.woocommerce-ordering select {
    outline: none;
}

/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Transitions
--------------------------------------------------------------*/

.products .product-category {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.products .product-category .item a:before {
    -webkit-transition: opacity .5s ease;
    -moz-transition: opacity .5s ease;
    -ms-transition: opacity .5s ease;
    -o-transition: opacity .5s ease;
    transition: opacity .5s ease;
}

.pswp__bg, 
.pswp__caption, 
.pswp__top-bar {
    -webkit-transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1);
    -moz-transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1);
    -ms-transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1);
    -o-transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1);
    transition: opacity 333ms cubic-bezier(0.4, 0, 0.22, 1);
}

.pswp__share-modal {
    -webkit-transition: opacity 0.2s ease-out;
    -moz-transition: opacity 0.2s ease-out;
    -ms-transition: opacity 0.2s ease-out;
    -o-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
}

.ps-container .ps-scrollbar-y {
    -webkit-transition: background-color .2s linear;
    -moz-transition: background-color .2s linear;
    -ms-transition: background-color .2s linear;
    -o-transition: background-color .2s linear;
    transition: background-color .2s linear;
}

.ps-container .ps-scrollbar-y-rail {
    -webkit-transition: background-color .2s linear, opacity .2s linear;
    -moz-transition: background-color .2s linear, opacity .2s linear;
    -ms-transition: background-color .2s linear, opacity .2s linear;
    -o-transition: background-color .2s linear, opacity .2s linear;
    transition: background-color .2s linear, opacity .2s linear;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

input[type=number] {
    -moz-appearance: textfield;
}

.woocommerce .quantity .qty::-webkit-outer-spin-button, 
.woocommerce .quantity .qty::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.woocommerce form .form-row label.checkbox, 
.woocommerce-page form .form-row label.checkbox {
    display: inline;
}

.woocommerce form .create-account p {
    margin-left: 22px;
}

.form-row-first {
    padding-right: 30px;
}

.form-row-first, 
.form-row-last {
    float: left;
    width: 50%;
    overflow: visible;
}

.form-row select, 
.form-row textarea {
    width: 100%;
    margin-right: 10px;
}

.woocommerce .form-row select {
    padding: 10px 15px;
    border: 1px solid #d9d9d9;
}

.comment-form .form-submit {
    margin-bottom: 0;
}

form label {
    margin-bottom: 8px;
}

.woocommerce form .form-row textarea {
    display: block;
    height: 120px;
    line-height: 1.5;
}

.form-row label {
    display: inline-block;
    font-size: 14px;
}

.woocommerce fieldset {
    border: 3px solid #d9d9d9;
}

.woocommerce fieldset legend {
    padding: 0 10px;
}

/*--------------------------------------------------------------
# Tables
--------------------------------------------------------------*/

.woocommerce table.shop_table {
    width: 100%;
    padding: 20px !important;
    border: none;
}

.woocommerce table.shop_table tr,
.woocommerce table.shop_table th,
.woocommerce table.shop_table td {
    padding: 15px 0;
    border: none;
}

.woocommerce table.shop_table tbody tr {
    text-align: left;
}

.woocommerce table.shop_table .actions .button {
    width: auto;
}

.woocommerce .shop_table.cart .product-thumbnail img {
    width: 120px;
    max-width: 120px;
}

.woocommerce .shop_table .product-thumbnail a, 
.woocommerce .shop_table .product-thumbnail img {
    width: 100% !important;
}

.woocommerce .shop_table.cart .product-name {
    line-height: 1.3;
    text-align: left;
}

.woocommerce .shop_table.cart .product-name a {
    font-size: 15px;
    font-weight: 600;
}

.woocommerce .shop_table.cart .product-quantity .quantity .qty {
    font-size: 18px;
}

.woocommerce table.cart td.actions input.button {
    width: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.woocommerce .shop_table.cart tr, 
.woocommerce .shop_table.cart th, 
.woocommerce .shop_table.cart td {
    font-weight: 400;
    padding: 20px !important;
    vertical-align: middle;
}

.woocommerce .shop_table.cart th {
    font-size: 16px;
}

.woocommerce table.shop_table tr:last-of-type th,
.woocommerce table.shop_table tr:last-of-type td {
    border-bottom: none;
}

.woocommerce table.shop_table th, 
.woocommerce table.shop_table td,
.woocommerce table.shop_table tr:first-of-type th,
.woocommerce table.shop_table tr:first-of-type td {
    text-align: left;
    border-bottom: 1px solid #eee;
}

.woocommerce .shop_table.cart td.product-price {
    font-weight: 600;
    color: #999;
}

.woocommerce .shop_table.cart td.product-subtotal {
    font-weight: 600;
    color: #000;
}

.woocommerce .shop_table.cart .product-remove a {
   display: inline-block;
   font-size: 30px;
   padding: 5px 8px;
   text-align: center;
   line-height: 1;
   color: #999;
}

.woocommerce .shop_table.cart .product-remove a:hover {
    color: #000;
}

.woocommerce .shop_table.cart td.actions {
    margin-top: 5px;
    text-align: left !important;
}

.woocommerce .cart-collaterals table,
.woocommerce .cart-collaterals th,
.woocommerce .cart-collaterals tr {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#add_payment_method .cart-collaterals .cart_totals table th, 
.woocommerce-cart .cart-collaterals .cart_totals table th, 
.woocommerce-checkout .cart-collaterals .cart_totals table th {
    width: 40%;
}

.woocommerce table.shop_table tr th:last-child, 
.woocommerce table.shop_table tr td:last-child {
    text-align: right;
}

#add_payment_method .cart-collaterals .cart_totals table td, 
#add_payment_method .cart-collaterals .cart_totals table th, 
.woocommerce-cart .cart-collaterals .cart_totals table td, 
.woocommerce-cart .cart-collaterals .cart_totals table th, 
.woocommerce-checkout .cart-collaterals .cart_totals table td, 
.woocommerce-checkout .cart-collaterals .cart_totals table th {
    vertical-align: top;
    border-left: 0;
    border-right: 0;
    line-height: 1.5em;
}

.woocommerce .cart-collaterals .shop_table tr td {
    text-align: right;
}

.woocommerce .shop_attributes tr, 
.woocommerce .shop_attributes td {
    padding: 0;
    border: 0;
}

.woocommerce .shop_attributes tr th, 
.woocommerce .shop_attributes tr td {
    font-size: 16px;
    line-height: 1.6;
    padding-bottom: 19px;
}

.woocommerce .shop_attributes th {
    width: 40%;
    min-width: 120px;
    font-weight: 600 !important;
    color: #282828;
}

.woocommerce .shop_attributes td {
    width: 60%;
    color: #999;
}

.woocommerce .shop_attributes th, 
.woocommerce .shop_attributes td, 
.woocommerce .shop_attributes caption {
    font-weight: normal;
    vertical-align: top;
    text-align: left;
}

.woocommerce .shop_attributes p {
    margin-bottom: 0;
}

.woocommerce div.product form.cart .variations {
    width: 70%;
    margin: auto;
    position: relative;
}

.variations tr {
    border-bottom: 20px solid transparent;
}

.woocommerce div.product form.cart .variations td, 
.woocommerce div.product form.cart .variations th {
    border: 0;
    vertical-align: top;
    line-height: 2em;
}

#order_review2 .shop_table thead {
    display: none;
}

table.woocommerce-checkout-review-order-table .product-total, 
table.order_details .product-total {
    width: 50%;
}

table.woocommerce-checkout-review-order-table td:last-child, 
table.woocommerce-checkout-review-order-table .product-total, 
table.order_details td:last-child, 
table.order_details .product-total {
    text-align: right;
}

table.group_table tr.product {
    display: table;
    width: 100%;
    margin-bottom: 10px;
}

table.group_table tr.product,
table.group_table tr.product td {
    border: 0;
}

table.group_table tr.product td {
    padding: 0;
    vertical-align: middle;
}

table.group_table tr.product td:first-child {
    float: left;
    margin-right: 25px;
}

table.group_table tr.product td.label {
    display: block;
    text-align: left;
    margin-top: 10px;
}

table.group_table tr.product td.label a {
    font-size: 15px;
}

table.group_table tr.product td.price {
    text-align: right;
}

.single-product .product .cart table.group_table tr.product td.price ins {
    margin-right: 0;
}

table.group_table tr.product td.price .amount,
table.group_table tr.product td.price .stock {
    font-size: 14px;
    font-weight: 600;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* My account nav */

.woocommerce-MyAccount-navigation ul li {
    list-style: none;
    border-right:2px solid #eee;
}

.woocommerce-MyAccount-navigation ul li a {
    display: inline-block;
    font-size: 17px;
    font-weight: 600;
    padding: 10px 12px;
    color: #999;
}

.woocommerce-MyAccount-navigation ul li a:hover {
    color: #444;
}

.woocommerce-MyAccount-navigation ul li.is-active {
    border-right-color: #000;
}

.woocommerce-MyAccount-navigation ul li.is-active a {
    color: #000;
}

/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/

/* Mini Cart */

.mini-cart-wrap {
    margin: 15px 0;
}

.mini-cart-items {
	max-height: 320px;
    position: relative;
    overflow: hidden;
}

.mini-cart-item {
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
}

.mini-cart-item .product-image {
	float: left;
}

.mini-cart-item a img {
	width: 60px;
	height: auto;
    margin-right: 20px;
}

.mini-cart-item .product-details {
	overflow: hidden;
}

.mini-cart-item h3 a {
    font-size: 15px;
    font-weight: 500;
    line-height: 19px;
   	margin-bottom: 5px;
   	vertical-align: top;
}

.mini-cart-item .product-details span {
	font-size: 13px;
}

.header-area .mini-cart-panel p {
    font-size: 14px;
    margin-bottom: 15px;
    text-align: center;
}

.mini-cart-item .product-subtotal span {
	font-size: 13px;
}

.mini-cart-footer .mini-cart-subtotal {
	font-size: 16px;
	margin-top: 15px;
	text-align: center;
}

.mini-cart-footer .mini-cart-subtotal strong {
    font-weight: 500;
}

.mini-cart-footer .mini-cart-buttons {
	margin-top: 25px;
	text-align: center;
}

.mini-cart-footer .mini-cart-buttons .view-cart-btn {
	margin-right: 20px;
}

.mini-cart-footer .mini-cart-buttons .view-cart-btn,
.mini-cart-footer .mini-cart-buttons .checkout-btn {
	display: inline-block;
	font-size: 15px;
	letter-spacing: 1.6px;
	padding: 8px 15px;
    border-width: 1px;
    border-style: solid;
	text-transform: uppercase;
}

.mini-cart-item .remove {
	float: right;
	font-size: 16px;
	margin-right: 15px;
}

.mini-cart-item .remove:hover {
	opacity: 0.7;
}

.mini-cart-footer .mini-cart-buttons a {
	color: #fff;
}

.mini-cart-ajax-bg {
	display: none;
	width: 100%;
	height: 100%;
	background: #fff;
	opacity: 0.6;
	position: absolute;
	top: 0;
	left: 0;
}

/* Mini cart value animation - Buzz Out */

@-webkit-keyframes hvr-buzz-out {

  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }

  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }

}

@keyframes hvr-buzz-out {

  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }

  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }

}

.shop-cart-btn .cart-ani {
    -webkit-animation-name: hvr-buzz-out;
    animation-name: hvr-buzz-out;
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

.shop-cart-btn .cart-value {
    transform: perspective(1px) translateZ(0);
}

/* Mini perfect-scrollbar */

.ps-container .ps-scrollbar-y {
    position: absolute;
    right: 0px;
    cursor: pointer;
}

.mini-cart-wrap .ps-scrollbar-y-rail {
    visibility: visible !important;
}

.ps-container .ps-scrollbar-y-rail {
    position: absolute;
    z-index: 100;
    opacity: 0;
}

.ps-container>.ps-scrollbar-y-rail>.ps-scrollbar-y {
    right: 0;
}

.ps-container>.ps-scrollbar-y-rail:hover>.ps-scrollbar-y,
.ps-container>.ps-scrollbar-y-rail:active>.ps-scrollbar-y {
    width: 6px;
}

.ps-container.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y {
      background-color: #999;
      width: 6px; 
}

.ps-container>.ps-scrollbar-y-rail {
    width: 6px;
}

.ps-container:hover.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y {
    background-color: #999;
    width: 6px; 
}


/*--------------------------------------------------------------
# Pages
--------------------------------------------------------------*/

/* star ratings */

.ratings {
    display: inline-block;
    width: 100%;
    line-height: 1;
    vertical-align: middle;
    position: relative;
}

.star-rating {
    display: inline-block;
    font-family: star;
    font-size: 13px;
    line-height: 1;
    letter-spacing: 2px;
    color: #d4d4d4;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    position: relative;
    vertical-align: middle;
}

.star-rating, p.stars a {
    font-weight: 400;
    height: 1em;
    border: 0 !important;
}

.star-rating span:before, 
.star-rating:before {
    content: "\53\53\53\53\53";
    top: 0;
    left: 0;
}

.star-rating span {
    overflow: hidden;
    float: left;
    top: 0;
    left: 0;
    position: absolute;
    padding-top: 1.5em
}

.star-rating span:before {
    position: absolute;
    color: #dd4b39;
}

/* Loader animation */

.blockUI.blockOverlay {
    z-index: 10 !important;
}

.blockUI.blockOverlay:after {
    display: block;
    content: " ";
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #333;
    opacity: 0.6;
    position: absolute;
    top: 50%;
    right: 50%;
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {

  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }

}

@keyframes sk-bounce {

  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }

}

.woocommerce .cart-empty,
.woocommerce .return-to-shop {
    text-align: center;
}

.woocommerce .return-to-shop .button {
    display: inline-block;
}


/*--------------------------------------------------------------
## Product Archive
--------------------------------------------------------------*/

.container-header {
    margin-bottom: 30px;
    overflow: hidden;
}

.woocommerce-result-count {
    display: inline-block;
    margin-bottom: 0;
}

/* Grid & List View */

.tool-bar {
    float: left;
}

.tool-bar .mode-view {
    margin-bottom: 0;
}

.tool-bar .mode-view li {
    float: left;
    padding: 0;
    letter-spacing: 0;
    list-style: none;
}

.tool-bar .mode-view li a {
    display: inline-block;
}

.products .product-item .price-info {
    opacity: 1;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    will-change: transform;
}

.woocommerce:not(.shop-view-list) .products .product-item .product-meta .button,
.woocommerce:not(.shop-view-list) .products .product-item .product-meta .added_to_cart {
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    padding: 0;
    margin-top: 15px;
    color: #000;
    text-transform: uppercase;
    background: none;
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    transform: translateX(-100%);
    letter-spacing: 2px;
    opacity: 0;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    transition: all .4s ease;
}

.products .product-item .product-meta .button.added {
    display: none !important;
}

.woocommerce:not(.shop-view-list) .products .product-item:hover .product-meta .button,
.woocommerce:not(.shop-view-list) .products .product-item:hover .product-meta .added_to_cart {
    opacity: 1;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: all .4s .1s;
    -moz-transition: all .4s .1s;
    transition: all .4s .1s;
}

.woocommerce:not(.shop-view-list) .products .product-item:hover .price-info {
    opacity: 0;
    -webkit-transform: translateX(60px);
    -moz-transform: translateX(60px);
    transform: translateX(60px);
}

.list-view,
.products .product-item .wc-short-description {
    display: none;
}


.woocommerce.shop-view-list .products .product-item {
    width: 100%;
}

.woocommerce.shop-view-list .products .product-item .product-img {
    width: 33.33333333%;
    float: left;
    overflow: hidden;
}

.woocommerce.shop-view-list .products .product-item .product-meta {
    float: right;
    width: 62.66666667%;
    text-align: left;
}

.woocommerce.shop-view-list .products .product-item .product-meta .ratings {
    text-align: left;
}

.woocommerce.shop-view-list .products .product-item h4 {
    font-size: 19px;
    font-weight: 600;
    text-align: left;
}

.woocommerce.shop-view-list .products .product-item .wc-short-description {
    display: block;
    margin-top: 40px;
}

.woocommerce.shop-view-list .products .product-item .wc-short-description p {
    line-height: 1.6;
    word-spacing: .25em;
    color: #999;
}

.woocommerce.shop-view-list .product-item .price-info {
    text-align: left;
}

.woocommerce.shop-view-list .product-meta .button,
.woocommerce.shop-view-list .product-meta .added_to_cart {
    float: left;
    display: inline-block;
    font-size: 14px;
    padding: 12px 60px;
    margin-top: 40px;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
}

.woocommerce.shop-view-list .product-meta .button:hover,
.woocommerce.shop-view-list .product-meta .added_to_cart:hover {
    background: #22bb66;
}

/* General Products */

.products-wrap {
	width: 100%;
}

.products .product-item {
	float: left;
	margin-bottom: 60px;
}

.products .product-item .product-img {
	overflow: hidden;
	position: relative;
}

.products .product-item .product-img img {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}

.products .product-item .product-img:hover > .buttons {
	bottom: 0;
}

.products .product-item .product-img .buttons {
	width: 100%;
	background: #fff;
	position: absolute;
	bottom: -45px;
	left: 0;
}

.products .product-meta {
	float: left;
	width: 100%;
	margin-top: 20px;
	text-align: center;
}

.products .product-item .product-meta h4 {
    text-transform: capitalize;
    letter-spacing: normal;
    margin-top: 0;
}

.products .product-item .product-img .buttons {
	text-align: center;
}

/* add to cart button */

.product-item .buttons .button,
.product-item .buttons .added_to_cart {
    float: left;
    width: 100% !important;
    font-size: 14px;
    font-weight: 600;
    height: 45px;
    line-height: 45px;
    letter-spacing: .5px;
    text-align: center;
    padding: 0;
    text-transform: uppercase;
    border: 0;
}

.product-item .buttons .button:before,
.product-item .buttons .added_to_cart:before {
    display: inline-block;
    font-family: "Ionicons";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 19px;
    margin-right: 8px;
    vertical-align: middle;
    height: inherit;
    line-height: inherit;
    margin-top: -5px;
}

.product-item .buttons .button.product_type_simple:before,
.product-item .buttons .button.product_type_external:before,
.product-item .buttons .button.product_type_grouped:before {
    content: "\f110";
}

.product-item .buttons .button.product_type_variable:before {
    content: "\f39d";
}

.product-item .buttons .added_to_cart:before {
    content: "\f3f8";
}

/* Badges */

.products .product-item .ribbon {
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 29px;
    padding: 0 13px;
    text-transform: uppercase;
    border-radius: 3px;
    position: absolute;
    top: 15px;
    right: 20px;
    z-index: 2;
}

.products .product-item .ribbon.on-sale {
    color: #fff;
    background-color: #dd4b39;
}

.products .product-item .ribbon.out-of-stock {
    color: #fff;
    background-color: #000;
}

/* Price Info */

.products .product-item .price-info {
    display: block;
}

.products .product-item .price-info .price {
    display: inline-block;
}

.products .product-item .price-info .amount {
    font-weight: 500;
}

.products .product-item .price-info del {
    margin-left: 12px;
}

.products .product-item .price-info del .amount {
    font-weight: 400;
}

.products .product-item .old-price .woocommerce-Price-amount {
    text-decoration: line-through;
}

.products .product-item .price-info ins {
    float: left;
    text-decoration: none;
}

/* Product Categories */

.products .product-category .item {
    position: relative;
}

.products .product-category .item img {
    float: left;
    width: 100%;
}

.products .product-category .item a:hover {
    color: inherit;
}

.products .product-category .item .cat-meta {
    position: absolute;
    top: 25px;
    left: 25px;
}

.products .product-category .item .woocommerce-loop-category__title {
    display: block;
    font-size: 17px;
    font-weight: 600;
}

.products .product-category .item .desc {
    display: block;
    font-size: 14px;
    font-weight: 500;
    margin-top: 5px;
    color: #929292;
}

.products .product-category .item .woocommerce-loop-category__title {
    text-transform: uppercase;
}

.products .product-category .item .woocommerce-loop-category__title .count {
    display: none;
}

.products .product-category .item a:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: #fff;
    opacity: 0;
    box-shadow: 1px 8px 65px rgba(0,0,0,0.07);
}

.products .product-category .item a:hover:before {
    opacity: 0.9;
}

/* Tabs Products */

.tabs-products {
	width: 100%;
}

.tabs-products .tab-content {
	margin-top: 30px;
}

.product-item .product-img a {
	display: block;
}

.product-item .product-img > a img {
	width: 100%;
	max-width: 100%;
    height: auto;
}

.product-item .product-img {
}

.tabs-products .tab-content:not( :first-child ) {
	display: none;
}

.tabs-products ul.tabs {
	text-align: center;
}

.tabs-products ul.tabs li {
	display: inline-block;
}

.tabs-products ul.tabs li a {
	display: block;
}

/*--------------------------------------------------------------
## Single Product
--------------------------------------------------------------*/

.single-product .woocommerce-breadcrumb {
    margin-bottom: 30px;
    text-align: left;
}

.single-product div.product {
    position: relative;
    overflow: hidden;
}

.single-product div.product .images, 
.single-product div.product .summary {
    margin-top: 0;
}

.single-product .product .images .woocommerce-main-image {
    margin-bottom: 1.618em;
    display: block;
}

.woopost-single-images {
    float: left;
    width: 100%;
    margin-bottom: 15px;
    overflow: hidden;
    position: relative;
}

.single-product div.product .images {
    overflow: hidden;
}

.woopost-single-images div.images img {
    width: 100%;
}

.single-product.woocommerce .thumbnails {
    position: relative;
}

/* Product Slider */

.woocommerce .horizontal-slider #carousel {
    
}

.product-slider li {
    list-style: none;
}

.woocommerce #carousel .owl-item img,
.woocommerce .vertical-carousel li img {
   width: 100%;
   height: auto;
   opacity: 0.3;
   cursor: pointer;
}

.woocommerce #carousel .owl-item.active-item img,
.woocommerce .vertical-carousel li.active-item img {
    opacity: 1;
}

.woocommerce .vertical-carousel .owl-item {
    float: none;
}

.woocommerce .vertical-carousel {
    float: left;
    width: 15%;
    overflow: hidden;
}  

.woocommerce .product-slider.vertical-slider {
    float: left;
    width: 85%;
}

.woocommerce .vertical-carousel .owl-carousel {
    display: block;
}

#carousel .owl-nav .owl-prev,
#carousel .owl-nav .owl-next {
    text-transform: uppercase;
    position: absolute;
    top: 0;
    -webkit-transform: rotate(90deg);
}

#carousel .owl-nav .owl-prev {
    left: 0;
}

#carousel .owl-nav .owl-next {
    right: 0;
}

.entry-summary .product-cat a {
    display: inline-block;
    text-transform: uppercase;
    color: #999;
}

.entry-summary .product-cat a:hover {
    color: #000;
}

.woocommerce-product-rating .ratings {
    width: auto;
    margin-bottom: 4px;
}

.single .stars {
    margin-top: 10px;
}

.single-product .summary .price del {
    margin-right: 10px;
    color: #999;
}

.single-product .product .cart {
    padding: 1em 0;
}

.woocommerce div.product form.cart {
    padding: 1em 0;
    margin-left: auto;
    margin-right: auto;
}

.single-product .product .cart .label a:hover {
    color: #C39F76;
}

.single-product .product .cart .price ins {
    margin-right: 20px;
}

.woopost-single-summary .entry-summary .in-stock {
    font-weight: 500;
    margin-bottom: 15px;
    color: #C39F76
}

.stock.out-of-stock {
    margin-bottom: 15px !important;
    color: #dd4b39;
}

.woocommerce div.product form.cart div.quantity {
    display: inline-block;
    width: 180px;
}

.woocommerce .quantity .qty {
    width: 100%;
    font-size: 20px;
    height: 46px;
    padding: 14px;
    margin: 0;
    text-align: center;
    border: 0;
    border-bottom: 3px solid #d9d9d9;
    background: #eee;
}

.woocommerce .quantity .qty:focus {
    border-bottom-color: #000;
}

.woocommerce .quantity {
    position: relative;
}

.woocommerce .quantity i {
    width: 21.5px;
    height: 21.5px;
    line-height: 23px;
    font-size: 11px;
    margin: auto;
    position: absolute;
    color: #444;
    text-align: center;
    cursor: pointer;
}

.woocommerce .quantity .fa.minus,
.woocommerce .quantity .fa.plus {
    top: 0;
    bottom: 0;
}

.woocommerce .quantity .fa.minus {
    left: 10px;
}

.woocommerce .quantity .fa.plus {
    right: 10px;
}

.woocommerce div.product .cart .button {
    display: inline-block;
    width: auto;
    margin-top: 0;
    margin-left: 30px;
    margin-right: 30px;
    text-transform: uppercase;
}

.woocommerce div.product p.cart .button {
    margin-left: 0;
}

.single-product .product form.cart .button {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 44px;
    padding: 0 40px 0 40px;
    color: #fff;
    background: #22bb66;
}

.single-product .product form.cart .button {
    vertical-align: top;
}

.single-product .product form.cart .button:hover {
    background: #000;
}

.single_add_to_cart_button {
    margin-top: 0 !important;
}

.single_add_to_cart_button::before {
    display: inline-block;
    font-family: "Ionicons";
    speak: none;
    font-style: normal;
    font-size: 16px;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f110";
    margin-right: 10px;
}

/* variations */

.woocommerce-variation-price {
    margin-bottom: 15px;
}

.woopost-single-summary .woocommerce-variation-price span {
    font-weight: 700;
}

.woocommerce div.product form.cart .variations select {
    max-width: 100%;
    min-width: 75%;
    display: inline-block;
}

.single-product .variations_form label {
    font-size: 15px;
    font-weight: 600;
    color: #999;
}

.woo-select {
    display: inline-block;
    width: 70%;
    position: relative;
}

.woo-select:after {
    content: '\25BE';
    width: 10px;
    height: 10px;
    margin-top: -5px;
    font-size: 19px;
    line-height: .5em;
    position: absolute;
    top: 50%;
    right: 15px;
}

.single-product .variations_form select {
    width: 100%;
    font-size: 15px;
    font-weight: 700;
    padding: 14px 20px;
    border: 1px solid #eee;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.variations ul li {
    display: inline-block;
    list-style: none;
}

.variations ul li label {
    display: inline-block;
    padding: 10px 15px;
    margin-bottom: 10px;
    margin-right: 10px;
    border: 1px solid #444;
}

.woocommerce-variation.single_variation p {
    color: #C39F76;
}

.single-product .reset-variations {
    display: block;
    margin-bottom: 15px;
}

.single-product .reset_variations {
    display: inline-block;
    font-size: 14px;
}

.single-product .reset_variations:hover {
    color: #999;
}

/* meta */

.single-product .product .product_meta {
    font-size: .857em;
    padding-top: 25px;
    border-top: 2px solid #eee;
}

.single-product .product .product_meta span {
    color: #363636;
}

.single-product .product .product_meta span span,
.single-product .product .product_meta span a {
    color: #A8A7A8;
}

.single-product .product .product_meta span a:hover {
    color: #000;
}

.single-product .product .product_meta > span {
    margin-right: 10px;
}

.single-product .product .product_meta > span:last-of-type {
    margin-right: 0;
}

.single-product .social-share {
    margin: 30px 0 0 0;
    text-align: center;
}

/* Tabs */

.single-product .product .woocommerce-tabs {
    padding-top: 30px;
    clear: both;
}

.woocommerce .product .woocommerce-tabs .wc-tab ul,
.woocommerce .product .woocommerce-tabs .wc-tab ol {
    margin: 0 0 24px 0;
}

.woocommerce .product .woocommerce-tabs .wc-tab li {
    list-style: disc;
    list-style-position: inside;
}

.woocommerce-tabs ul.tabs {
    width: 100%;
    margin-right: 0;
}

.woocommerce-tabs ul.tabs li {
    display: inline-block;
    margin-right: 30px;
    position: relative;
}

.woocommerce-tabs ul.tabs li:last-child {
    margin-right: 0 !important;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a {
    display: block;
}

.woocommerce-tabs .panel {
    width: 100%;
}

.woocommerce div.product .woocommerce-tabs .panel {
    font-size: 16px;
    line-height: 1.8;
    padding: 30px 0;
    margin: 0;
}

.woocommerce .product .wc-tabs .reviews_tab span {
    display: inline-block;
    width: 21px;
    height: 21px;
    font-size: 12px;
    line-height: 21px;
    margin-left: 10px;
    text-align: center;
    color: #fff;
    background: #000;
    border-radius: 21px;
}

.woocommerce .product .woocommerce-tabs .wc-tab .woocommerce-noreviews {
    margin-bottom: 15px;
}

/* reviews */

.woocommerce .woocommerce-Reviews-title {
    font-size: 24px;
    margin-bottom: 15px;
}

.woocommerce #review_form .comment-respond .comment-form-rating label {
    display: inline-block;
    font-weight: 400;
}

.woocommerce .comment-form-subscriptions p {
    font-size: 15px;
    margin-bottom: 5px;
    word-spacing: normal;
}

#reviews .commentlist li {
    list-style: none;
}

#reviews .commentlist li .avatar {
    float: left;
    height: auto;
    margin-right: 30px;
    border-radius: 50%;
}

.commentlist li .comment_container {
    padding: 20px;
    margin-bottom: 20px
}

#reviews .commentlist .comment-text {
    font-size: 15px;
    padding-left: 30px;
    margin-left: 50px;
}

#reviews .commentlist .comment-text p {
    font-size: 15px;
    margin-bottom: 0;
}

#reviews .commentlist li .comment-text .meta {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
    color: #2a2a2a;
}

#reviews .commentlist li .comment-text .star-rating {
    margin-bottom: 5px;
}

.woocommerce .woocommerce-comments .woocommerce-noreviews {
    text-align: center;
}

.woocommerce .woocommerce-comments .comment-reply-title {
    text-align: center;
}

.woocommerce-review-link {
    display: inline-block;
    font-size: 14px;
    margin-left: 5px;
    color: #999;
}

textarea {
    overflow: auto;
    vertical-align: top;
    width: 100%;
}

.woocommerce #reviews #comment,
.comment-form textarea {
    height: 150px;
}

.woocommerce-comments .form-submit {
    float: left;
}

.woocommerce-comments .comment-form-subscriptions {
    float: right;
}

/* review stars */

.woocommerce .comment-form-rating > .stars {
    display: inline-block;
    margin-top: 5px;
    margin-left: 10px;
    vertical-align: top;
}

p.stars a {
    position: relative;
    width: 1em;
    text-indent: -999em;
    margin-right: 1px;
}

.star-rating, 
p.stars a {
    font-weight: 400;
    height: 1em;
}

p.stars, 
p.stars a {
    display: inline-block;
}

p.stars a:before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 1em;
    height: 1em;
    line-height: 1;
    font-family: star;
    text-indent: 0
}

p.stars a:before, 
p.stars a:hover~a:before {
    color: #dd4b39;
    content: "\53";
}

p.stars.selected a.active:before, 
p.stars:hover a:before, 
p.stars.selected a:not(.active):before, 
p.stars.selected a.active:before {
    color: #dd4b39;
}

p.stars.selected a.active:before, 
p.stars:hover a:before {
    content: "\53";
    color: #dd4b39;
    opacity: 1;
}

p.stars.selected a:not(.active):before {
    content: "\53";
    color: #dd4b39;
    opacity: 1;
}

p.stars a:before, 
p.stars a:hover~a:before, 
p.stars.selected a.active~a:before {
    color: #d4d4d4;
}

.star-rating span:before, 
p.stars a:hover:after, 
p.stars a:after, 
.star-rating span:before {
    color: #dd4b39;
}

p.stars.selected a.active:before, 
p.stars:hover a:before, 
p.stars.selected a:not(.active):before, 
p.stars.selected a.active:before {
    color: #dd4b39;
}

/* Related porducts */

.box-title {
    margin-top: 60px;
    margin-bottom: 30px;
    text-align: center;
}

.box-title h3 {
    display: inline-block;
    font-size: 28px;
    font-weight: 500;
    text-align: center;
    position: relative;
}

/* photoswipe */

.pswp * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.pswp__bg {
    background: rgba(255,255,255,0.96);
}

.pswp__top-bar {
    background: none;
}

.pswp__top-bar {
    position: absolute;
    left: 0;
    top: 0;
    height: 44px;
    width: 100%;
}

.pswp__bg, 
.pswp__caption, 
.pswp__top-bar {
    will-change: opacity;
}

.pswp__top-bar .pswp__counter {
    display: inline-block;
    font-size: 14px;
    margin-top: 10px;
    margin-left: 15px;
}

.pswp__top-bar .pswp__button {
    float: right;
    width: 45px;
    height: 45px;
    font-size: 24px;
    color: #000;
    background: none;
    position: relative;
    overflow: visible;
    border: 0;
    padding: 0;
    margin: 0;
    padding-right: 15px;
}

.pswp__top-bar .pswp__button::before,
.pswp__button--arrow--left::before, 
.pswp__button--arrow--right::before  {
    display: inline-block;
    font-family: "Ionicons";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.pswp__top-bar .pswp__button--close::before {
    content: "\f2d7"; 
}

.pswp__top-bar .pswp__button--share::before {
    content: "\f2f8"; 
}

.pswp__top-bar .pswp__button--fs::before {
    content: "\f386";
}

.pswp--fs .pswp__button--fs::before {
    content: "\f37d";
}

.pswp__top-bar .pswp__button:hover {
    color: #bfbcbc;
}

.pswp__button--arrow--left, 
.pswp__button--arrow--right {
    font-size: 60px;
    color: #bfbcbc;
    background: none;
    top: 50%;
    margin-top: -50px;
    width: 70px;
    height: 100px;
    position: absolute;
}

.pswp__button--arrow--left:hover, 
.pswp__button--arrow--right:hover {
    color: #000;
}

.pswp__button--arrow--left {
    left: 0;
}

.pswp__button--arrow--right {
    right: 0;
}

.pswp__button--arrow--left::before {
    content: "\f3d2";
}

.pswp__button--arrow--right::before {
    content: "\f3d3";
}

.pswp__share-tooltip {
    z-index: 1620;
    position: absolute;
    background: #282828;
    top: 56px;
    display: block;
    width: auto;
    right: 45px;
}

.pswp__share-tooltip a {
    display: block;
    padding: 12px 14px;
    color: #eee;
    text-decoration: none;
    font-size: 14px;
    line-height: 18px;
}

.pswp__share-tooltip a:first-child:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: -12px;
    right: 18px;
    border: 6px solid transparent;
    border-bottom-color: #282828;
    -webkit-pointer-events: none;
    -moz-pointer-events: none;
    pointer-events: none;
}


.pswp__share-tooltip a:hover {
    text-decoration: none;
    color: #fff;
    background: #555;
}

a.pswp__share--facebook:hover:before {
    border-bottom-color: #3E5C9A;
}
a.pswp__share--facebook:hover {
    background: #3E5C9A;
    color: #fff;
}

a.pswp__share--twitter:hover {
    background: #55ACEE;
    color: #fff;
}

a.pswp__share--pinterest:hover {
    background: #ccc;
    color: #CE272D;
}

.pswp__share-modal {
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1600;
    opacity: 0;
    -webkit-backface-visibility: hidden;
    will-change: opacity;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.pswp__share-modal--hidden {
    display: none;
}

.pswp__share-modal--fade-in {
    opacity: 1;
}

/*--------------------------------------------------------------
## Myaccount
--------------------------------------------------------------*/

.woocommerce .login-area {
    float: none;
    margin: auto;
}

.woocommerce .register-form {
    display: none;
}

.woocommerce .login-form .form-row .inline {
    display: inline-block;
    font-size: 14px;
    margin-top: 15px;
}

.woocommerce-MyAccount-content {
    margin-top: 10px;
}

.woocommerce-MyAccount-content a {
    font-weight: 700;
    border-bottom: 2px solid #000;
}

.woocommerce-MyAccount-content a:hover {
    border: 0;
}

.woocommerce-MyAccount-content mark {
    background: #C39F76;
}

.woocommerce-ResetPassword .reset-pass-msg {
    font-size: 16px;
    margin-bottom: 15px;
}

.woocommerce-Message--info .woocommerce-Button {
    display: inline-block;
    width: auto;
    margin-right: 15px;
    border: 0;
}

.woocommerce .edit-account .woocommerce-Button.button {
    margin-top: 15px;
}

.login-area .woocommerce-Button {
    width: 100%;
}

.login-form input[name="login"],
.register-form input[name="register"] {
    color: #fff;
    background: #000;
}

.login-form input[name="login"]:hover,
.register-form input[name="register"]:hover {
    background-color: #22bb66;
}

.woocommerce-password-strength {
    display: inline-block;
    font-size: 14px;
    padding: 5px 10px;
    margin-top: 15px;
    margin-bottom: 10px;
    color: #fff;
}
.woocommerce-password-hint {
    display: block;
}

.woocommerce-password-strength.short,
.woocommerce-password-strength.bad {
    background: #b94a48;
}

.woocommerce-password-strength.good {
    background: #C39F76;
}

.woocommerce-password-strength.strong {
    background: #03a678;
}

.login-area .login .form-row .woocommerce-form__label,
.login-area .login .form-row .woocommerce-form__label span {
    margin-top: 0;
}

.login .woocommerce-LostPassword {
    float: right;
}

.login .lost_password a {
    font-size: 14px;
    font-weight: 700;
    border-bottom: 2px solid #000;
}

.login .lost_password a:hover {
    border: 0;
}

/*--------------------------------------------------------------
## Cart
--------------------------------------------------------------*/

/* Cart Page */

.woocommerce-remove-coupon {
    color: #999;
}

.woocommerce .coupon {
    float: right;
}

.woocommerce .coupon label {
    display: inline-block;
    margin-bottom: 8px;
}

.woocommerce .coupon .input-text {
    width: auto;
    margin-bottom: 15px;
}

.woocommerce .coupon .button {
    margin-left: 8px;
    color: #fff;
    background: #000;
}

.woocommerce ul#shipping_method {
    float: right;
}

.woocommerce ul#shipping_method li {
    text-align: left;
}

.woocommerce ul#shipping_method li {
    margin: 0;
    padding: .25em 0 .25em 22px;
    text-indent: -22px;
    list-style: none;
}

.woocommerce #shipping_method input[type="radio"],
.woocommerce #shipping_method input[type="checkbox"],
.woocommerce-checkout-payment input[type="radio"],
.woocommerce-checkout-payment input[type="checkbox"] {
    display: none;
}

.woocommerce ul#shipping_method li label {
    display: inline;
}

.woocommerce ul#shipping_method label {
    font-size: 14px;
    color: #000;
    font-weight: 600;
    text-transform: uppercase;
}

/*--------------------------------------------------------------
## Checkout
--------------------------------------------------------------*/

.woocommerce-checkout .checkout-area {
    float: none;
    margin: auto;
}

.woocommerce .checkout_coupon .button {
    padding: 11px 18px;
    margin-top: 0;
}

.woocommerce .cart .coupon .button:hover {
    opacity: 0.8;
}

.woocommerce-checkout .checkout-area .login .button {
    width: auto;
    margin-right: 15px;
}

#payment .payment_methods li {
    list-style: none !important;
    margin-left: 0;
    margin-bottom: 10px;
    position: relative;
}

#payment .payment_methods li.wc_payment_method > input[type=radio]:first-child {
    clip: rect(1px,1px,1px,1px)
}

#payment .payment_methods li.woocommerce-info {
    background: none;
    border-left: 0;
}

.woocommerce .cart-collaterals .cart_totals {
    padding: 20px 40px;
    color: #000;
    background: #E7F2F8;
    position: relative;
}

.woocommerce .cart-collaterals .cart_totals, 
.woocommerce-page .cart-collaterals .cart_totals {
    float: none;
    width: 100%;
}

.woocommerce .cart-collaterals .cart_totals h2 {
    font-size: 24px;
    text-align: center;
}

.woocommerce .cart-collaterals .wc-proceed-to-checkout {
    margin-top: 30px;
    text-align: center;
}

.woocommerce .cart-collaterals .cart_totals input,
.woocommerce .cart-collaterals .cart_totals .select2-container--default .select2-selection--single {
    border-bottom-color: #c7d5dc;
}

.woocommerce .cart-collaterals .cart_totals input:focus {
    border-bottom-color: #000;
}

.woocommerce-checkout #payment div.place-order {
    text-align: center;
}

.woocommerce .cart-collaterals .wc-proceed-to-checkout .button,
.woocommerce-checkout #payment div.place-order .button {
    display: inline-block;
    width: auto;
    line-height: 1.8;
    color: #fff;
    background: #000;
}

.woocommerce .cart-collaterals .wc-proceed-to-checkout .button:hover,
.woocommerce-checkout #payment div.place-order .button:hover {
    background: #22bb66;
}

.woocommerce .cart-collaterals .shipping-calculator-button {
    display: inline-block;
    font-weight: 700;
    margin-top: 15px;
    color: #000;
    border-bottom: 2px solid #000;
}

.woocommerce .cart-collaterals .shipping-calculator-button:hover {
    color: #9a9a9a;
    border: 0;
}

.woocommerce .shipping-calculator-form {
    margin-top: 15px;
}

.woocommerce form.woocommerce-ordering select {
    min-width: 250px;
}

.woocommerce-checkout-payment {
    padding: 40px;
    background: #E7F2F8;
}

.woocommerce-checkout #payment ul.payment_methods li input {
    margin-right: 10px;
}

.woocommerce .payment_box {
    font-size: 15px;
    margin: 10px 0 15px 44px;
    color: #808588;
}

.woocommerce .wc_payment_methods.payment_methods.methods {
    margin-bottom: 15px;
}

.woocommerce .wc_payment_method.payment_method_paypal img {
    display: inline-block;
    margin-left: 8px;
}

.woocommerce .wc_payment_method.payment_method_paypal a.about_paypal {
    float: right;
    font-size: 14px;
    font-weight: 700;
    margin-top: 30px;
    border-bottom: 2px solid #000;
}

.woocommerce .wc_payment_method.payment_method_paypal a.about_paypal:hover {
    border: 0;
}

.woocommerce ul#shipping_method li input {
    margin: 3px 2px;
}

/* checkout complate */

.woocommerce .woocommerce-thankyou-order-received {
    text-align: center;
}

.woocommerce .woocommerce-thankyou-order-details {
    margin: 0 0 1.5em;
    text-align: center;
    list-style: none;
}

.woocommerce .woocommerce-thankyou-order-details li {
    display: inline-block;
    font-size: .715em;
    padding-right: 2em;
    margin-right: 2em;
    text-transform: uppercase;
    line-height: 1;
    text-align: center;
    border-right: 1px dashed #d3ced2;
    margin-left: 0;
    padding-left: 0;
}

.woocommerce .woocommerce-thankyou-order-details li:last-child {
    border: none;
}

.woocommerce .woocommerce-thankyou-order-details li strong {
    display: block;
    font-size: 1.4em;
    line-height: 1.5;
    text-transform: none;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/

/* woocommerce messages */

.woocommerce-message, 
.woocommerce-error, 
.woocommerce-info {
    display: inline-block;
    width: 100%;
    padding: 20px;
    margin-bottom: 30px;
    position: relative;
    color: #000;
    background: #f7f7f7;
    text-align: center;
    border-left: 4px solid #bfbfbf;
}

.woocommerce-message li, 
.woocommerce-error li, 
.woocommerce-info li {
    list-style: none;
}

.woocommerce-message .button.wc-forward {
    padding: 0;
    margin-right: 10px;
    color: #000;
    border: none;
    background: none !important;
}

.woocommerce-message .button.wc-forward:hover {
    border: none;
}

.woocommerce-info a,
.woocommerce-message a {
    font-weight: 700;
    border-bottom: 2px solid #000;
}

.woocommerce-info a:hover,
.woocommerce-message a:hover {
    border: 0;
}

.woocommerce-error {
    color: #b94a48;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/

.woocommerce div.product form.cart:after, 
.woocommerce div.product form.cart:before, 
.woocommerce div.product p.cart:after, 
.woocommerce div.product p.cart:before {
    display: table;
    content: " ";
}

.woocommerce-shipping-calculator {
    clear: both;
}

#add_payment_method .wc-proceed-to-checkout:after, 
#add_payment_method .wc-proceed-to-checkout:before, 
.woocommerce-cart .wc-proceed-to-checkout:after, 
.woocommerce-cart .wc-proceed-to-checkout:before, 
.woocommerce-checkout .wc-proceed-to-checkout:after, 
.woocommerce-checkout .wc-proceed-to-checkout:before {
    content: " ";
    display: table;
}

.cart_list li:after, 
.cart_list li:before, 
.product_list_widget li:after, 
.product_list_widget li:before {
    content: " ";
    display: table;
}

.products .product-item:nth-child(2n+1) {
    clear: left;
}

.product_list_widget li:after {
    content: '';
    clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

.widget_layered_nav_filters ul li.chosen a:before {
    font: normal normal normal 1em/1 FontAwesome;
    color: #fff;
    text-rendering: auto;
    -moz-osx-font-smoothing: grayscale;
}

.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
    border-radius: 1em;
    border: 0;
}

.woocommerce .widget_price_filter .ui-slider-horizontal {
    height: .5em;
}

.woocommerce .widget_price_filter .ui-slider {
    position: relative;
    text-align: left;
    margin-left: .5em;
    margin-right: .5em;
}

.woocommerce .widget_price_filter .price_slider {
    margin-bottom: 1em;
}

.woocommerce .widget_price_filter .ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    border-radius: 1em;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 1em;
    height: 1em;
    border-width: 4px;
    border-style: solid;
    border-radius: 1em;
    cursor: ew-resize;
    outline: 0;
    top: -.3em;
    margin-left: -.5em;
}

.price_slider_amount .button {
    display: inline-block;
    text-align: left;
}

.price_slider_amount .price_label {
    float: right;
    font-size: 16px;
    margin-top: 12px;
}

.product_list_widget li .product-title {
    font-size: 14px;
    font-weight: 700;
}

.product_list_widget li .product-title:hover {
    color: #999;
}

.product_list_widget ins {
    text-decoration: none;
}

.product_list_widget .woocommerce-Price-amount {
    font-size: 15px;
    font-weight: 500;
}

.product_list_widget del .woocommerce-Price-amount {
    font-weight: 400;
    color: #999;
}

.product_list_widget li {
    padding: 15px 0;
}

.cart_list li img,
.product_list_widget li img {
    float: left;
    width: 100px;
    margin-left: 0;
    margin-right: 20px;
}

.widget_shopping_cart_content .cart_list li > a, 
.product_list_widget li > a {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 8px;
}

.product_list_widget li > a {
    display: block !important;
}

.product_list_widget li > a:hover {
    color: #000;
}

.product_list_widget li .star-rating {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.product_list_widget li .reviewer {
    display: block;
    font-size: 14px;
}

/* Widget mini cart */

.woocommerce-mini-cart-item {
    position: relative;
}

.woocommerce-mini-cart-item .remove {
    font-size: 18px;
    position: absolute;
    top: 20px;
    left: 10px;
    z-index: 2;
}

.mini_cart_item .remove2 {
    float: right;
    font-size: 16px !important;
    margin-top: 30px;
    margin-right: 10px;
}

.mini_cart_item .quantity {
    font-size: 14px;
    font-weight: 600;
}

.widget_shopping_cart_content .buttons .button {
    margin-right: 15px;
}


/*--------------------------------------------------------------
# Responsive
--------------------------------------------------------------*/

@media (min-width: 992px) {

	.woocommerce-page .products .product-item.col-lg-3:nth-child(4n+1),
  	.products .product-item.col-lg-4:nth-child(3n+1),
  	.products .product-item.col-lg-6:nth-child(2n+1) {
    	clear: left;
  	}

  	.products .product-item:nth-child(2n+1) {
    	clear: none;
  	}

}

@media (max-width: 768px) {

	.products .product-item .product-img .buttons {
    	display: none;
  	}

    .woocommerce-checkout-payment {
        padding: 30px 10px;
    }

    .woocommerce .payment_box {
        margin-left: 0;
    }

    .woocommerce .wc_payment_method.payment_method_paypal a.about_paypal {
        float: none;
    }

}

@media (max-width: 500px) {

	.products .product-category {
		width: 100%;
  	}

    .woocommerce.shop-view-list .products .product-item .product-img,
    .woocommerce.shop-view-list .products .product-item .product-meta {
        width: 100%;
    }

    .woocommerce.shop-view-list .product-meta .button, 
    .woocommerce.shop-view-list .product-meta .added_to_cart {
        display: block;
        width: 100%;
        text-align: center;
    }

}

@media (min-width: 768px) {

    .woocommerce-tabs .panel {
        float: right;
        margin-right: 0;
        margin-top: 0;
    }

    .woocommerce-tabs::after {
        clear: both;
        content: "";
        display: table;
    }

}

@media (max-width: 992px) {

    .woocommerce div.product form.cart div.quantity {
        display: block;
        margin: 0 auto 15px auto;
    }

    .woocommerce div.product .cart .button {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    /* grouped product */

    table.group_table tr.product td:first-child {
        display: block;
        float: none;
        margin-right: 0;
    }

    table.group_table tr.product td.label {
        text-align: center;
    }

    table.group_table tr.product td.price {
        display: block;
        text-align: center;
    }

}

@media (max-width: 768px) {

    .woocommerce .shop_table.cart .product-thumbnail {
        display: none;
    }

    .woocommerce table.shop_table_responsive tbody th, 
    .woocommerce table.shop_table_responsive thead {
        display: none;
    }

    .woocommerce table.shop_table_responsive tr td {
        display: block;
        text-align: right !important;
    }

    .woocommerce table.shop_table_responsive tr td:not(.product-remove):not(.actions):before {
        content: attr(data-title) ": ";
        font-weight: 700;
        float: left;
    }

    .woocommerce table.shop_table_responsive .quantity {
        display: inline-block;
        width: 100px;
    }

    .woocommerce table.shop_table_responsive .quantity .qty {
        font-size: 18px;
    }

    .woocommerce .shop_table.cart .product-remove {
        text-align: center !important;
    }

    .woocommerce ul#shipping_method {
        width: 100%;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .form-row-first, 
    .form-row-last {
        float: left;
        width: 100%;
        overflow: visible;
    }

    .form-row-first {
        padding-right: 0;
    }
}