/*======================================
Theme Name: zeeCorporate Child
Theme URI: http://themezee.com/zeecorporate
Description: Child theme for the zeeCorporate theme
Version: 1.1
Author: ThemeZee
Author URI: http://themezee.com
Template: zeecorporate
Tags:  two-columns, light, custom-background, sticky-post, custom-menu, threaded-comments, translation-ready, theme-options, fixed-width, custom-colors, custom-header, editor-style, right-sidebar, white, green
License: GNU General Public License v2.0
License URI: http://www.gnu.org/licenses/gpl-2.0.html
======================================*/

@import url("../zeecorporate/style.css");
/*#navi {
    float: left;
    margin-left: -300px;
    margin-top: 140px;
    padding: 5px 0;
}

#navi ul li a:link, #navi ul li a:visited {
    color: #006699;
    text-decoration: none !important;
}

#custom_header img {
    display: none;
}*/


#navi {
	background:url(images/nav-bg.png) repeat-x 0 0;
	height:51px;
	float: left;
	margin-left: -300px;
	margin-top: 145px;
	padding: 5px 0;
	width: 900px;
}
#navi ul li a:link, #navi ul li a:visited {
	color: #fff;
	text-decoration: none !important;
}
#navi ul li a:hover {
	color: #006699;
	text-decoration: none !important;
}
#custom_header img {
	display: none;
}
#navi li {
	color:#fff;
	border-left:1px solid #007AA9;
	height:20px;
	float:left;
	padding:7px 0 0 0;
	margin:2px 0 0 0;
	display:block;
}
.menu .leaf a {
	color: #007AA9;
	font-weight: normal;
	padding:10px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:100%;
	color:#333;
}
div#navi ul li ul li {
	color: #fff;
	text-decoration: none !important;
}
li.menu-item:hover {
	background:white;
}
 // new code div#what_we_do {
 display: none
}
li#menu-item-433:hover > div#what_we_do {
	display: block
}
li#menu-item-433 > div:hover + div {
	display: block
}
​ //// /* main menu styles */
.block-om_maximenu {
color:#fff;
border-left:1px solid #007AA9;
height:41px;
font-size:1.3em;
font-weight:bold;
float:left;
padding:7px 0 0 0;
margin:2px 0 0 0;
display:block;
}
.block-om_maximenu:hover {
	background:#fff;
	margin:2px 0 0 0;
	height:41px;/*border-left:solid 1px #09F; border-right: solid 1px #09f;*/
	border-top:solid 1px #09f;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	padding:7px 0 0 0;
	color:#009acc;
	display:block;
}
.block-om_maximenu h3 {
	color:#999;
	display:none;
}
.block-om_maximenu .block-block h3 {
	display:block;
	color:#007AA9;
	font-size:0.9em;
	margin:0;
	font-weight:normal; /*padding:0 0 0 10px;*/
}
.block-om_maximenu .block-block h3 a {
	font-size:0.9em;
}
.om-maximenu .block-menu {
	float:left;
}
.om-maximenu .block-menu ul {
	padding:0;
	margin:0;
}
.om-maximenu-no-style .om-maximenu-content {
	left:-1px;
	top:41px;
}

.om-maximenu-no-style .om-maximenu-middle {
    background: url("images/mega_menu_bg.jpg") repeat-x scroll left bottom #FFFFFF;
    border-bottom: 1px solid #007AA9;
    border-left: 1px solid #007AA9;
    border-right: 1px solid #007AA9;
}
.om-maximenu-middle-right .block-menu {
	display:inline;
	width:170px;
}
.leaf-what-we-do .om-maximenu-middle-right .block-menu {
	display:inline;
	width:211px;
}
.om-maximenu ul.om-menu li.om-leaf {
	height:41px;
}
.om-maximenu ul.om-menu li.om-leaf:hover {
	color:#009ACC;
}
.om-maximenu ul.om-menu li.om-leaf a {
	color:inherit;
}
.om-maximenu ul.om-menu li.om-leaf a:hover {
	color:inherit;
}
/*.om-maximenu ul.om-menu li.om-leaf .om-link{color:#fff; height:41px;}
.om-maximenu ul.om-menu li.om-leaf .om-link:hover{color:#009ACC; height:41px;}*/
.om-maximenu-middle-right .block-menu ul.menu li.expanded a.active, .om-maximenu-middle-right .block-menu ul.menu li.expanded a.active:hover {
	color:#f00!important;
	border:0;
}
.om-maximenu-middle-right .block-menu ul.menu li.expanded {
	list-style-image:none;
	color:#003466;
	list-style:none;
	font-size:1em;
}
.om-maximenu-middle-right .block-menu ul.menu li.expanded a {
	font-size:0.9em;
	color:#003466;
}
.om-maximenu-middle-right .block-menu ul.menu li.expanded ul {
	padding:0;
	margin:7px 0 0 0;
	font-size:0.9em;
}
.om-maximenu-middle-right .block-menu ul.menu li.expanded ul li {
	list-style:none;
	list-style-image:none;
	padding:0 0 3px 0;
	margin:0;
	font-weight:normal;
}
.om-maximenu-middle-right .block-menu ul.menu li.expanded ul li a {
	color:#007aa9;
	font-weight:normal;
	font-size:1em;
}
}
.om-maximenu-middle-right .block-menu ul.menu li.expanded ul li a:hover {
	color:#007aa9;
	font-weight:normal;
	border-bottom:solid 1px #009bcb;
	font-size:1em;
}
.om-maximenu-middle-right .block-menu ul.menu li.expanded span.nolink {
	display:none;
}
.om-maximenu-middle-right .block-menu ul.menu li.expanded ul li span.nolink {
	display:inline;
	font-weight:bold;
}
.om-maximenu-middle-right .block-menu ul.menu li.expanded ul li.expanded a {
	font-size:1em;
	color:#003466;
	font-weight:bold;
}
.om-maximenu-middle-right .block-menu ul.menu li.expanded ul li.expanded ul li a {
	color:#007aa9;
	font-weight:normal;
}
.om-maximenu {
	font-size:1.0em;
	}

