/* Custom UI Theme Customizer */

/* custom label */

.custom-control-label {
    margin: -5px 0 -5px 5px;
}

.custom-control-label p {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
}

/* custom checkbox */

.neal-custom-label .switch {
    float: right;
    display: inline-block;
	width: 58px;
    height: 28px;
    position: relative;
    top: 12px;
    right: 5px
}

.neal-custom-label .switch input {
    display:none
}

.neal-custom-label .neal-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.neal-custom-label .neal-slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.neal-custom-label input:checked + .neal-slider {
    background-color: #EB6361;
}

.neal-custom-label input:checked + .neal-slider:before {
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(25px);
    transform: translateX(30px);
}

/* Rounded sliders */

.neal-custom-label .neal-slider.round {
    border-radius: 34px;
}

.neal-custom-label .neal-slider.round:before {
    border-radius: 50%;
}


/* Custom Range Input (Slider) */

.custom-slider {
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%
}

.custom-slider-value {
    float: right;
}

.custom-slider:focus {
    outline: none;
}

.custom-slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 12.8px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: #ccc;
    border-radius: 25px;
    border: 0px solid #000101;
}

.custom-slider::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 13px;
    width: 32px;
    border-radius: 7px;
    background: #EB6361;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: 0px;
}

.custom-slider:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

.custom-slider::-moz-range-track {
    width: 100%;
    height: 12.8px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: #ac51b5;
    border-radius: 25px;
    border: 0px solid #000101;
}

.custom-slider::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 20px;
    width: 39px;
    border-radius: 7px;
    background: #65001c;
    cursor: pointer;
}

.custom-slider::-ms-track {
    width: 100%;
    height: 12.8px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    border-width: 39px 0;
    color: transparent;
}

.custom-slider::-ms-fill-lower {
    background: #ac51b5;
    border: 0px solid #000101;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}

.custom-slider::-ms-fill-upper {
    background: #ac51b5;
    border: 0px solid #000101;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}

.custom-slider::-ms-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 20px;
    width: 39px;
    border-radius: 7px;
    background: #65001c;
    cursor: pointer;
}

.custom-slider:focus::-ms-fill-lower {
    background: #ac51b5;
}

.custom-slider:focus::-ms-fill-upper {
    background: #ac51b5;
}

/* Homepage General */

.customize-control-select[id*="icon"] select,
.customize-control-select[id*="icon-fa"] select {
    float: right;
    width: 28% !important;
    font-family: "Ionicons", "fontawesome", "Open Sans", sans-serif !important;
    font-size: 18px;
    color: #55595C;
    position: absolute;
    right: 14px;
    top: 14px;
}

.customize-control-select[id*="icon-fa"] select {
    font-family: "fontawesome", "Open Sans", sans-serif !important;
}

.customize-control-select[id*="icon"] select option[value^="ion"] {
    font-family: "Ionicons", "Open Sans", sans-serif !important;
}

.customize-control-select[id*="icon"] select option[value^="fa"] {
    font-family: "fontawesome", "Open Sans", sans-serif !important;
}

.customize-control-select[id*="icon"] label span,
.customize-control-select[id*="title-align"] label span {
    float: left;
}

li[id^="customize-control-neal"] {
    padding: 15px 20px;
    margin-bottom: 0;
    background: #fff;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}

li[id$="uppercase"],
li[id$="italic"],
.customize-control-checkbox {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

li[id*="label"] {
    padding: 2px 10px 5px 10px;
    margin-top: 20px;
    margin-bottom: 0px;
    background-color: #f5f5f5;
    border-left: 4px solid #aaa;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.section-meta + .neal-custom-label {
    margin-top: 0;
}

.neal-custom-child-label {
    padding-top: 0px !important;
    padding-bottom: 4px !important;
    margin: 0 !important;
    margin-top: -10px !important;
    border-left: 0 !important;
    border-top: 15px solid #fff !important;
}

.neal-custom-label-active {
    border-left-color: #EB6361 !important;
}

/* Custom units */

.custom-slider-main strong::after,
#socialcopy_social-font-line-height strong::after {
    content: 'px';
}

.custom-slider-main[id$="radius"] strong::after {
    content: '%';
}

#inputs_general-styl-child-radius strong::after,
#inputs_submit-button-styl-child-radius strong::after {
    content: 'px';
}

.custom-slider-main[id$="font-weight"] strong::after,
.custom-slider-main[id$="line-height"] strong::after {
    content: '';
}

/* Reset button  */

#neal-customize-reset {
    float: right;
    margin-top: 9px;
}

@media screen and (max-width: 640px) {

    #neal-customize-reset {
        margin-top: 6px;
    }
}

.select2-dropdown {
  z-index: 999999999;
}