/*
Theme Name: neal

Adding support for languages written in a Right To Left (RTL) direction is easy -
it's just a matter of overwriting all the horizontal positioning attributes
of your CSS stylesheet in a separate stylesheet file named rtl.css.

https://codex.wordpress.org/Right-to-Left_Language_Support

*/

body {
	direction: rtl;
  	unicode-bidi: embed;
}

blockquote.pull-left,
q.pull-left,
blockquote.pull-right,
q.pull-right {
	text-align: right;
}

q:before {
	float: right;
}

pre {
	text-align: right;
}

/* Header */

.site-header .header-icon {
	text-align: left;
}

.mobile-nav-btn {
	margin-left: 0;
	margin-right: 15px;
}

.breadcrumbs i.fa-angle-right:before {
	content: "\f104";
}

/* Post single */

.single .entry-header .post-meta,
.post-date-category {
	direction: ltr;
}

.entry-content blockquote, 
.comment-content blockquote {
	padding: 20px 30px 20px 0;
	margin-right: 0;
	border-left: 0;
	border-right: 4px solid #22bb66;
}

.tags-links a,
.social-share a {
	margin-right: 0;
    margin-left: 50px;
}

.tags-links a:last-child,
.social-share a:last-child {
    margin-left: 0;
}

.social-share a span {
	margin-left: 0;
	margin-right: 8px;
}

.page-header h1 span {
	margin-right: 0;
	margin-left: 10px;
}

/* Widgets */

.widget .widget-title,
.site-content .widget .widget-title,
.site-footer .widget-area .widget .widget-title {
	text-align: right;
}

.widget_recentimgposts ul > li,
.widget_recentavatarcomments ul li .author-avatar {
	float: right;
}

.widget_recentimgposts ul li .post-thumb,
.widget_recentavatarcomments ul li .author-avatar {
	float: right;
	margin-right: 0;
	margin-left: 15px;
}

.widget_categories li a, 
.widget_archive li a, 
.widget_product_categories li a {
	float: right;
}

.widget_categories li, 
.widget_archive li, 
.widget_product_categories li {
	float: right;
	text-align: left;
}

.widget ul.sub-menu {
	margin-left: 0;
	margin-right: 18px;
}

/* Blog single */

.meta-date span.post-date, 
.meta-author span.post-author {
	margin-right: 0;
	margin-left: 20px;
}

.meta-author span.post-author .label,
.meta-date span.post-date i, 
.meta-author span.post-author i {
	margin-right: 0;
	margin-left: 5px;
}

.content-area .entry-content {
	text-align: right;
}

.author-box img {
	float: right;
	margin-right: 0;
	margin-left: 40px;
}

.comments-area .comments-title {
	direction: ltr;
}
.comments-area .comment-author-img {
	float: right;
	margin-right: 0;
	margin-left: 20px;
}

.comments-area .comment-meta .user {
	margin-right: 0;
	margin-left: 20px;
}

.comments-area .comment-meta .reply a {
	float: left;
}

.comments-area .reply a {
	margin-left: 0;
	margin-right: 15px;
}

.nav-previous {
	float: right;
}

.nav-previous a i {
	margin-right: 0;
	margin-left: 5px;
}

.social-icons {
	direction: ltr;
}