/* 
 *  MetaBoxes UI Custom CSS 
*/

/* Post Format: Gallery */

.gallery-images-container {
    padding: 0 0 0 9px;
}

.gallery-images-container .gallery-images {
    margin: 0;
    padding: 0;
}

.gallery-images-container .gallery-images:before,
.gallery-images-container .gallery-images:after {
    content: " ";
    display: table;
}

.gallery-images-container .gallery-images:after {
	clear: both;
}

.gallery-images-container .gallery-images img {
	width: 100%;
    height: auto;
    display: block;
}

.gallery-images-container .gallery-images li {
    width: 80px;
    float: left;
    cursor: move;
    border: 1px solid #d5d5d5;
    margin: 9px 9px 0 0;
    background: #f7f7f7;
    border-radius: 2px;
    position: relative;
    box-sizing: border-box;
}

.add_gallery_images {
    padding: 0 12px 12px;
}

.gallery-images-container .gallery-images li a.gallery-img-delete,
.neal-homepage-item-inner .tab-multi-value .cat-item .tab-cat-remove {
    display: none;
    width: 15px;
    height: 15px;
    font-size: 1.2em;
    color: #fff;
    position: absolute;
    top: -5px;
    right: -5px;
    background: #444;
    border-radius: 30px;
}

.gallery-images-container .gallery-images li:hover > a.gallery-img-delete {
    display: block;
}

.gallery-images-container .gallery-images li a.gallery-img-delete::before,
.neal-homepage-item-inner .cat-item .tab-cat-remove::before {
    font-family: Dashicons;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	margin: 0;
	text-indent: 0;
	position: absolute;
	top: 0;
	right: 0;
	content: "\f158";
}

.gallery-images-container .gallery-images li .delete:hover,
.neal-homepage-item-inner .cat-item .tab-cat-remove:hover {
	background-color: #a00;
}

.gallery-images-container .gallery-images li:hover ul.actions {
	display: block;
}

/* Homepage Settings */

.neal-homepage-settings li {
    padding: 0;
}

.neal-homepage-settings .neal-homepage-header {
    display: block;
    height: 40px;
    font-size: 15px;
    padding: 0 20px;
    background: #f4f4f4;
    cursor: move;
    position: relative;
}

.neal-homepage-settings .neal-homepage-header h4 {
    line-height: 40px;
}

.neal-homepage-item-inner {
    display: none;
    padding: 15px 20px;
    border: 1px solid #eee;
    border-top: none;
}

.neal-homepage-item-inner .homepage-item {
    border-bottom: 1px solid #eee;
}

.neal-homepage-item-inner .homepage-item:last-child {
    border-bottom: none;
}

.neal-homepage-item-inner h2 {
    font-size: 23px !important;
    padding-bottom: 20px;
}

.neal-homepage-item-inner .inner-item {
    padding: 0 14px;
    margin-bottom: 20px;
}

.neal-homepage-item-inner .inner-item span {
    display: inline-block;
    width: 40%;
}

.neal-homepage-item-inner .inner-item input {
    width: 50%;
    margin-right: 20px;

}
.neal-homepage-item-inner .inner-item .item {
    display: inline-block;
    width: 50%;
    margin-right: 20px;
}

.neal-homepage-item-inner .inner-item .banner-image-prew {
    width: 150px;
    height: 150px;
    background: #eee;
    margin-bottom: 20px;
}

.neal-homepage-item-inner .inner-item .banner-image-prew img {
    width: 100%;
    height: auto;
}

.neal-homepage-item-inner .inner-item .item button {
    margin-right: 15px;
}

/* The switch - the box around the slider */

.neal-homepage-header .switch {
    float: right;
    position: relative;
    display: inline-block;
    width: 55px;
    height: 25px;
    margin-top: 7px;
}

/* Hide default HTML checkbox */

.neal-homepage-header .switch input {
    display: none;
}

/* The slider */

.neal-homepage-header .neal-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.neal-homepage-header .neal-slider:before {
    position: absolute;
    content: "";
    height: 19px;
    width: 19px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.neal-homepage-header input:checked + .neal-slider {
    background-color: #34495e;
}

.neal-homepage-header input:checked + .neal-slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */

.neal-homepage-header .neal-slider.round {
    border-radius: 30px;
}

.neal-homepage-header .neal-slider.round:before {
    border-radius: 50%;
}

.neal-form .neal-form-heading h4 {
    padding-bottom: 5px;
    border-bottom: 2px solid #eee;
}

.neal-form .neal-form-field:before, 
.neal-form .neal-form-field:after {
    content: " ";
    display: table;
}

.neal-form .neal-form-field:after {
    clear: both;
}

.neal-form-left-col,
.neal-form-right-col {
    vertical-align: top;
}

.neal-form-left-col {
    float: left;
    width: 20%;
}

.neal-form-right-col {
    float: left;
    width: 80%;
    margin-bottom: 15px;
}

.neal-form-right-col input[type='text'],
.neal-form-right-col textarea {
    width: 100%;
}

#neal_video_post .neal-form-right-col input[type='text'],
#neal_audio_post .neal-form-right-col input[type='text'] {
    margin-bottom: 15px;
}

/* Post Formats */

.neal-video, 
.neal-audio {
    display: none;
}

.neal-form video,
.neal-form audio {
    width: 100%;
    margin-bottom: 15px;
}

.neal-form .avatar-image {
    float: left;
    width: 30%;
}

.neal-form .avatar-image .image-prew {
    width: 180px;
    height: 170px;
    background: #eee;
    margin-bottom: 15px;
}

.neal-form .avatar-image .image-prew img {
    width: 100%;
    height: 100%;
}

.neal-form .neal-avatar-image-upload {
    margin-right: 15px;
}

.neal-form .author-content {
    float: right;
    width: 70%;
}

.neal-form .neal-form-field label input {
    margin-right: 10px;
}

.neal-form .form-description {
    font-style: italic;
    color: #9a9a9a;
}

select[class*="neal_posts_source_"] {
    display: none;
    float: right;
    width: 50%;
}

.neal-form .neal-list-animations {
    display: none;
    float: right;
    width: 70%;
}

.neal-form .hidden {
    display: none;
}

.neal-form .open {
    display: block;
}

.neal-form .neal-list-animations label {
    float: left;
    width: 48%;
}

.neal-form .neal-list-animations label:first-child {
    margin-right: 2%;
}

.neal-form .neal-list-animations select {
    display: block;
    width: 100%;
    margin-top: 3px;
}

.neal-form .adv-image-preview {
    margin-top: 30px;
    margin-bottom: 15px;
}

.neal-form .adv-image-preview img {
    max-width: 100%;
}

.display-adv label {
    display: block;
    margin-top: 15px;
}

/* homepage */

#neal_homepage_page .hndle {
    font-weight: 300 !important;
    font-size: 22px;
    color: #fff;
    background-color: #34495e;
    padding: 25px 80px !important;
    border-bottom: 0;
    line-height: 18px;
    text-align: center;
    position: relative;
    border-radius: 4px 4px 0 0;
    cursor: pointer;
}

/* post options */

.neal-post-options-dropdown {
    display: none;
    margin: 15px 0 0 15px;
}

.neal-post-options-customize-post-inner {
    display: none;
}

.neal-post-options-dropdown.open,
.neal-post-options-customize-post-inner.open {
    display: block;
}