html .mce-content-body {
    max-width: 870px;
    padding: 10px;
}

body#tinymce.wp-editor { 
    font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: 10px; 
    color: #000;
}

body#tinymce.wp-editor h1 {
    font-size: 2.500em;
    line-height: 1.000;
    letter-spacing: 1.5px;
    margin: .67em 0;
    font-style: normal;
}

body#tinymce.wp-editor a {
    font-weight: 700;
    border-bottom: 2px solid #000;
    color: #000;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    text-decoration: none;
}
 
body#tinymce.wp-editor a:hover {
    color: #9a9a9a;
    border: 0;
}

body#tinymce.wp-editor p { 
    font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
   	font-size: 16px;
    font-weight: 400 !important;
    word-spacing: .25em;
    margin-bottom: 20px;
}

body#tinymce.wp-editor h1,
body#tinymce.wp-editor h2,
body#tinymce.wp-editor h3,
body#tinymce.wp-editor h4,
body#tinymce.wp-editor h5,
body#tinymce.wp-editor h6 {
    font-family: "Playfair Display", Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-weight: 600;
    line-height: 1.2;
    letter-spacing: 1.2px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #000;
}

body#tinymce.wp-editor h1 {
	font-size: 40px;
	letter-spacing: 1.5px;
}

body#tinymce.wp-editor h2 {
	font-size: 28px;
}

body#tinymce.wp-editor h3 {
	font-size: 20px;
	letter-spacing: 0;
}

body#tinymce.wp-editor h4 {
	font-size: 17px;
	letter-spacing: 0;
}

body#tinymce.wp-editor h5 {
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0;
}

body#tinymce.wp-editor h6 {
	font-size: 15px;
	font-weight: 400;
	letter-spacing: 0;
}

body#tinymce.wp-editor ul {
    list-style: disc;
    list-style-position: inside;
}

body#tinymce.wp-editor ol {
    list-style-type: decimal;
    list-style-position: inside;
}

body#tinymce.wp-editor ul li,
body#tinymce.wp-editor ol li {
    padding: 3px 3px 3px 20px;
    letter-spacing: 0.2px;
}

body#tinymce.wp-editor ul li ul {
    margin-left: 15px;
}

body#tinymce.wp-editor .mce-item-table {
    border-collapse: collapse;
    margin-bottom: 10px;
}

body#tinymce.wp-editor .mce-item-table th,
body#tinymce.wp-editor .mce-item-table td {
    text-align: center;
    border: 0;
}

body#tinymce.wp-editor .mce-item-table tr,
body#tinymce.wp-editor .mce-item-table td {
    padding: 15px;
    border: 1px solid #ededed;
}

body#tinymce.wp-editor dt {
	font-weight: 700;
}

body#tinymce.wp-editor dd {
    font-size: 13px;
    font-weight: 600;
    line-height: 17px;
    margin-top: 8px;
    padding: 0 4px 5px;
}

body#tinymce.wp-editor code {
    font-size: 92%;
    padding: 2px 4px;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}

body#tinymce.wp-editor kbd {
    font-size: 92%;
    padding: 2px 4px;
    color: #fff;
    background-color: #333;
    border-radius: 3px;
}

body#tinymce.wp-editor pre {
    font-family: monospace;
    font-size: 14px;
    overflow: auto;
    padding: 20px;
    margin: 20px 0;
    background: #f5f5f5;
    color: #666;
    white-space: pre-wrap;
    word-wrap: break-word;
}

body#tinymce.wp-editor blockquote {
    font-size: 26px;
    font-weight: 600;
    line-height: 1.4;
    padding: 20px 0 20px 30px;
    margin: 0 30px 30px 0;
    border-left: 4px solid #22bb66;
}

body#tinymce.wp-editor blockquote p {
    font-size: 100%;
    font-weight: 600;
    line-height: 1.4;
    margin: 0;
}